[2019-11-02 15:51] pixelzoom commented on #121
@Denz1994 would you please add this to the list of issues to discuss at 11/4/19 design patterns meeting?

[2019-11-02 16:10] pixelzoom commented on #121
Another example can be found in `WAVE_INTERFERENCE/DiffractionNumberControl`:

[code]

If I were to add a default value for `sliderOptions.majorTicks` to `WaveInterferenceConstants.NUMBER_CONTROL_OPTIONS`, that would change the behavior of `DiffractionNumberControl`.

[2019-11-03 22:33] pixelzoom commented on #119
Summary of what I did:

* Add a new "GitHub Issues" section at the very beginning of the CRC.  This is a list of GitHub issue that every sim should have, documenting tasks that the developer should have completed. If this hasn't been done, the instructions say:

* For the "Coding Conventions", "Documentation", and "Type Expressions" sections, I added a paragraph like this at the beginning of the s

[2019-11-04 16:31] pixelzoom commented on #121
Shall we add this to the [Best Practices ](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#best-practices) section of options/config pattern?

[code]

[2019-11-04 17:43] pixelzoom commented on #117
11/4/19 core hours discussion summary:
* config is useful. Use it judiciously and appropriately (area-model-common/Orientation is a good example)
* If your API requires a large number of parameters (regardless of whether they are required parameters or config fields) review your design to see verify that many parameters are necessary.
* I'll add something to the CRC related to the previous 2 point

[2019-11-04 19:29] pixelzoom commented on #117
I adde the following to [Best Practices](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#best-practices):

@Denz1994 please review.  If this looks sufficient, feel free too close. If not, please suggest additional steps and assign back to me.

[2019-11-04 19:31] pixelzoom commented on #117
Btw... I didn't add anything to the CRC, because all of the "best practices" should be followed, and the CRC already has:

So presumably PhET developers should be familiar with the options/config pattern.

[2019-11-04 19:41] samreid commented on #117
@pixelzoom and @Denz1994 do we also want to schedule someone (or a chip-away issue) to look through the ~70 occurrences of `config ) {` and see which need attention?

[2019-11-04 19:50] pixelzoom commented on #117
Not as a separate task. But good to do as part of the task of adding `required` function calls for required fields.

[2019-11-04 20:05] Denz1994 commented on #115
As discussed from design-patterns meeting 11/04/19:

The initialized value should be handled via a  function called `required( entry )`. The purpose is to ensure that an initial value is supplied into the required config field. The function should look something like this and would exist in `PhET-Core/required`:

[code]

Here is a typical use case:

[code]

Please note that further validation shou

[2019-11-04 20:30] Denz1994 commented on #121
As part of the design patterns discussion on 11/04/19:

The`required`  method described in https://github.com/phetsims/phet-info/issues/115 should be used to validate the required fields in the config object. The validation must be provided **after** the config object is merged to confirm that it isn't overridden by the other merge args. See the below example here:
[code]

This ensures the require

[2019-11-04 20:35] Denz1994 commented on #116
Following up from https://github.com/phetsims/phet-info/issues/115#issuecomment-549524381.

The documentation pattern will follow the below example:
[code]
Note that documentation is above the required config field and within the config object. The `required()` function is enough indication that this is a required field in the config object and no further distinction is required in the documentati

[2019-11-05 14:35] pixelzoom commented on #120
@samreid please edit your first post in the "Welcome to the Developing Interactive Simulations in HTML5 Google Group!" thread, https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/O1cJem3VW18.

[2019-11-05 15:07] Denz1994 commented on #115
`PhET-CORE/required.js` has been added. `Area-model-common/AreaScreenView.js` has been updated to include `required()` in the config object for the `decimalPlaces` field. This also means an additional assertion was removed for this field and a use case in `ProportionalAreaScreenView.js` needed to be corrected.

I'm sure there are plenty of other instances like this where adding `required()` will c

[2019-11-05 15:30] Denz1994 commented on #117
I fixed one instance in Area-model-common which was pretty straight forward (explained [here](https://github.com/phetsims/phet-info/issues/115#issuecomment-549863948)). However, instances such as this [example](https://github.com/phetsims/axon/issues/202) referring to Scene.js should be left to the responsible dev of the repo.

[2019-11-05 16:13] pixelzoom commented on #115
Thanks for doing this @Denz1994.

Re AreaScreenView.js...  I'm surprised that adding `required` for `decimalPlaces` is not failing CT. In yesterday's meeting, we identified 3 instances of subclass `ProportionalAreaScreenView` that were not providing `decimaliances`.  So the conclusion was that `config` should be changed to `options` for `AreaScreenView` constructor.    Recommended to create an iss

[2019-11-05 16:14] pixelzoom commented on #115
Ah... I see that you did fix the assertion for ProportionalAreaScreenView.js.  But `AreaScreenView` constructor should be changed from `config` to `options`, and the `required` should be removed.

[2019-11-05 17:08] Denz1994 commented on #115
An issue referencing https://github.com/phetsims/phet-info/issues/115#issuecomment-549892958 has been created for AreaScreenView  and assigned to @jonathanolson. Closing this issue.

[2019-11-05 17:08] #115 closed

[2019-11-05 17:10] Denz1994 commented on #121
Devs have been made aware of this issue at our patterns-design meeting. There is nothing left for this issue, so I'm closing.

[2019-11-05 18:15] pixelzoom commented on #117
👍 closing.

[2019-11-05 18:15] #117 closed

[2019-11-05 18:17] pixelzoom commented on #121
Reopening. I'd like to add this to "Best Practices" for options/config in the patterns doc.

[2019-11-05 18:36] pixelzoom commented on #121
Over in https://github.com/phetsims/phet-info/issues/117#issuecomment-549906410:

So I deleted best practice (4).

Relevant to this issue, I added new best practice (4) as proposed in https://github.com/phetsims/phet-info/issues/121#issuecomment-549435679.

I also noticed that best practice (3) was a bit of a mess, and contained some outright errors. So I revised it.

Back to @Denz1994 for review.

[2019-11-05 19:44] samreid opened #122 "When should we use default/named/destructured parameters?"
As an extension of https://github.com/phetsims/phet-info/issues/117, it would be good to identify when it is appropriate to use default, named or destructured parameters.  For instance, see the example at the bottom of this page: https://examples.dev/articles/javascript-named-parameters/

[code]

This strategy has the desirable behavior that the defaults are not invoked unless necessary (this is a

[2019-11-06 01:06] samreid commented on #120
@pixelzoom and I discussed this on slack today.  I replied with the new URL, locked replies and “topic”, and deleted the original post.

Anything else for this issue?

[2019-11-06 01:26] pixelzoom commented on #120
Looks good, I can't think of anything else that needs to be updated.  Thanks for handling this. Closing.

[2019-11-06 01:26] #120 closed

[2019-11-06 01:29] pixelzoom commented on #116
The conclusion in https://github.com/phetsims/phet-info/issues/116#issuecomment-549535230 should be rolled into the patterns doc, if it hasn't been already.

[2019-11-06 19:31] ariel-phet commented on #119
@pixelzoom yes I think that is sufficient for the moment. The CRC has been an evolution, the next step is probably to have more spreading of the love for such reviews :).

[2019-11-06 19:31] #119 closed

[2019-11-08 00:36] zepumph commented on #59
I added this lint rule today, and ended up finding a lot of places where this was used. Most of them were tests/joist code where I think they actually belonged, but there were a few usages that likely should be converted. I think this is best as a chip-away issue. Assigning responsible devs, and the last one can flip the rule back on (or assign to me and I can.

When converting, you can just escap

[2019-11-08 22:06] jbphet commented on #59
Fixed in Area Builder, checked above.  Unassigning myself.

[2019-11-11 17:04] samreid commented on #59
I'm all set, thanks @zepumph.  Over to you @jonathanolson

[2019-11-14 20:08] Denz1994 commented on #122
If this behaves like a safeguard to ensure option parameters are invoked only if they're used, then it would be useful. I’ve never used this approach before and would want other devs' opinions on this.

[2019-11-14 20:20] samreid commented on #88
At today's meeting, we agreed to take a look at the remaining sections and see who wants to volunteer for remaining ones.

[2019-11-14 20:20] Denz1994 commented on #121
Thanks for the updates @pixelzoom. Closing this one.

[2019-11-14 20:20] #121 closed

[2019-11-14 20:22] pixelzoom commented on #88
We decided to delete "Prototypal Inheritance" from the list.  It's a general topic, and PhET's usage was limited to the (now deprecated) `inherit`.

[2019-11-21 19:50] zepumph commented on #114
We need to update this to use the term "Interactive Descriptions"

[2019-12-05 20:07] Denz1994 commented on #88
As discussed in dev meeting on 12/05/19:

@Denz1994 will follow up with option/config related issues for next Monday.

@chrisklus Has volunteered for Model-View Controller

[2019-12-07 00:23] pixelzoom commented on #122
I haven't had a need/desire to use this feature of JS, so I don't have input on when it's appropriate.
I don't think it's a replacement for `merge` and PhET's options/config pattern.

The `myFunction` example in https://github.com/phetsims/phet-info/issues/122#issue-517987270 is buggy.  The usage should be:

`myFunction( { person: bob } );`

[2019-12-07 00:35] pixelzoom commented on #96
There's no problem with this, I do it all the time:

`somePanelOptions = merge( {}, MyConstants.DEFAULT_PANEL_OPTIONS, { /* a few options specific to somePanel */ } );`

The second example is the anti-pattern, because it has another significant "con".  It silently overwrites values ('fill', in the example) provided by the client. The options (or config) arg provided by the client should always be

[2019-12-09 17:41] Denz1994 commented on #96
From Core hours on 12/09/19:

The pattern mentioned above is acceptable for certain cases, but we should be careful to not silently override options we don't own.

@samreid Asked about when to use config vs required param. We thought this is a bigger problem in common code repos and should be investigated. The thought here is that we should figure out if these cases where config is being used, sho

[2019-12-09 17:45] Denz1994 commented on #96
@pixelzoom Mentioned TWIXT/Transition would be a good candidate for conversion. @samreid Will convert TWIXT/Animation to use `assertMutuallyExclusiveOptions.js`

[2019-12-09 17:53] pixelzoom commented on #96
I looked through twixt.  Animation, AnimationTarget, and Transition have `config` constructor parameter.  Transition looked easy to convert to use `required`, and I did so in the above commit. The other 2 don't look appropriate to convert -- the "requiredness" of their config fields depends on mutual exclusivity.  @samreid will look at using `assertMutuallyExclusiveOptions` there.

[2019-12-09 17:58] samreid commented on #122
@zepumph pointed out this pattern makes it difficult to pass through options to a supertype.  It could be done by passing `{day:day,month:month,year:year}`.

@pixelzoom said he is not opposed to developers using this pattern where it is appropriate.

We decided to close and not investigate this as a replacement for our options pattern.

[2019-12-09 17:58] #122 closed

[2019-12-09 18:04] Denz1994 commented on #88
From Core Hours on 12/09/19:

@chrisklus send out an invitation for 01/06/20 for Model-View Transform.

[2019-12-09 19:49] samreid commented on #96
`assertMutuallyExclusiveOptions` doesn't work out of the box for `AnimationTarget` because it uses `null` default values instead of `undefined`.  I'm not sure of the best approach for this case.  @pixelzoom what do you recommend?

[2019-12-09 20:52] ariel-phet opened #123 "How to annotate "future/potential improvements" to code other than TODO"
@jonathanolson noted that many of his TODO comments are in the category of "notes to self that might be future improvements to consider"

We should come up with a different convention for such comments in code to disambiguate them from TODOs which seem to carry the weight of "this should be done"

[2019-12-09 21:32] pixelzoom commented on #96
I recommend leaving AnimationTarget as is.

[2019-12-09 22:19] samreid commented on #96
Sounds good, thanks!  Anything else before this issue can be closed?

[2019-12-09 22:52] #96 closed

[2019-12-10 16:49] jonathanolson commented on #123
Some examples of old TODOs or categories:

There are a number of places where simplicity for design/implementation was chosen over performance, but there are notes on essentially "if this is ever a performance hot spot, it can probably be improved by doing X". The implicit assumption is "if it's not a problem, don't do anything", and I don't think they're worth an issue:

CanvasBlock's setSizeFitB

[2019-12-10 23:55] pixelzoom opened #124 "create a "delete repo" checklist"
Slack dev-public channel on 12/10/19:

John Blanco 4:08 PM
I just archived the phet-io-wrapper-sonification repo.  For details, see https://github.com/phetsims/phet-io-wrapper-sonification/issues/93.  Please delete your local copy. Also, does anyone know whether I need to do anything to let CT and/or build-server know that this repo is no longer needed?  Keeping it around shouldn't hurt anything f

[2019-12-12 16:20] jessegreenberg commented on #123
What if we use TODOs to signify things that need to be done and NOTEs to annotate special docs and flag non-critical inprovements.

[2019-12-12 19:49] ariel-phet commented on #123
MK comments that he uses NOTE for "potential pitfall" and others seem to also follow this general paradigm

However, team is generally comfortable with expanding the use/meaning of NOTE to include potential incremental improvements.

[2019-12-12 19:50] #123 closed

[2019-12-12 20:37] jonathanolson commented on #124
- Don't remove repos that are listed as dependencies of any published simulation. Ideally don't remove repos which would prevent us checking out old versions of sims (don't mess with the bisection). If not confident about this, bring it to a dev meeting
- Don't remove repos where we've recorded otherwise useful information that is linked to
- The repo should be removed from active-repos, ideally a

[2019-12-13 18:37] jbphet commented on #124
+ We should be clear about whether a repo is being deleted or archived.  There should be advice at the beginning as to which one to do.  It can probably be the same checklist to cover either, with portions that say something like, "if this is being deleted do x, but if archived do y".
+ Let the other developers know that they should delete their local copy and let you (the person doing the deletio

[2019-12-13 18:38] jbphet commented on #124
@ariel-phet assigned this to @jonathanolson and me to input our initial thoughts on what this checklist should contain.  We've done that, so I'm sending it back to him for prioritization and assignment to do the actual work.

[2019-12-14 00:37] zepumph opened #125 "Code style question: can line comments break up conditionals?"
I slacked this message, but it is late on a Friday, and may be better as an issue:

I have had this discussion with @samreid before, but is there a developer consensus over if we allow comments in between conditional lines. For example would the following pass code review or does it need to have the line comments inside each else if? https://github.com/phetsims/molarity/blob/067a4d908fa9a06fddc1d1

[2019-12-14 01:28] pixelzoom commented on #125
We've discussed before (not that we shouldn't do it again). Consensus that I recall was:

[code]

I'm not wild about:

[code]

... because it feels disjointed, and too easy to accidentally stick something after if (...) {...}.   And not to sound like an old curmudgeon, but I've never seen that in practice, or even proposed, outside of PhET.

In Slack, @samreid mentioned this example (which seems t

[2019-12-14 04:28] samreid commented on #125
In my example, I didn't intend `else body()` to mean the `else` keyword, I should have put it as `elsebody()` and likewise I didn't mean to ascribe meaning to the formatting.  Sorry for the miscommunication!  Basically the consensus I recall is the same as @pixelzoom described at the top of https://github.com/phetsims/phet-info/issues/125#issuecomment-565667262

[2019-12-17 01:13] samreid opened #126 "location vs position"
When do we use position vs location?  Some cases seem haphazard

Jesse Greenberg 3:14 PM

Chris Malley 3:46 PM

As for consistency...  Searching for Property definitions, case insensitive.... PhET code has 55 occurrences of "locationProperty =",  146 occurrences of "positionProperty ="

This came up during https://github.com/phetsims/gas-properties/issues/170 when I noticed that some stopwatches u

[2019-12-17 01:14] pixelzoom commented on #126
Please identify.

[2019-12-17 01:28] samreid commented on #126
For example, https://github.com/phetsims/energy-skate-park/blob/d1a734a7021646104afc2af1f95e7de97625db8f/js/energy-skate-park/common/view/EnergySkateParkTimerNode.js refers to `timerPositionProperty` but https://github.com/phetsims/gas-properties/blob/dc8cbc064dcbf5089ecfddb758e45fa9524e834b/js/common/model/Stopwatch.js

By the way, I'm in progress working through https://github.com/phetsims/gas-p

[2019-12-17 16:51] jonathanolson commented on #126
Most notably, DragListener has `locationProperty` right now.

[2019-12-18 16:01] samreid opened #127 "Should boolean attributes typically have an "is" or "has"-style prefix?"
From https://github.com/phetsims/gas-properties/issues/170#issuecomment-566735033:

@pixelzoom said:

I replied:

Our discussion of this should also cover naming of phet-io tandems.  Consensus should be noted in the appropriate place (not sure if it should be the code review document or patterns document, or elsewhere).

[2019-12-18 16:41] samreid opened #128 "When should an option not be overrideable?"
From https://github.com/phetsims/gas-properties/issues/170#issuecomment-566840809

@pixelzoom said:

We have run into this question a number of times before, but I do not recall the consensus or rule of thumb for when options in general should not be overridable.

Here's a regular expression I used to search for examples of where an options value is set directly: `options\..*\=\s`, and here is one

[2019-12-18 18:03] pixelzoom commented on #128
What?!?!  We just had hours of discussion about options and config, and this was most definitely discussed.  And option or config value should not be overridable if overriding it would cause a problem, or if the API designer decides that it should not be overridable.

In this specific case, it's the API designer's call. @samreid do you want to be able to override the default tandem name for Stopwa

[2019-12-18 22:00] pixelzoom commented on #127
This only makes sense as a "convention" if we're going to do it everywhere.  Are you prepared to locate and rename boolean Properties and their associated boolean options everywhere? What are you going to do about singular vs plural ("is" vs "are")?

I've heard zero complaints about `visibleProperty`, `pickableProperty`, and `enabledProperty` (the most common 3) in PhET-iO design meeting.   No one

[2019-12-19 02:17] pixelzoom commented on #126
Personally, I don't care if we standardize on this. I'd be happy to leave it up to developer discretion as to whether to use 'location' or 'position'.   I realize that creates a bit of inconsistency in the PhET-iO API, but I think the cost to clients will be significantly less that the cost for PhET to standardize.  My 2 cents...

What I do care about is arbitrary changes to existing code based on

[2019-12-19 17:56] samreid commented on #128
I don't have an immediate use case for overriding this tandem name, but I don't think "having an immediate use case for overriding an option" should be the threshold for determining whether something should be hardcoded rather than defined as a standard option.

[2019-12-19 18:02] pixelzoom commented on #128
For Stopwatch `timeProperty` specifically... If tandems of subcomponents are generally overridable, or if there's a need to override this specific tandem, then I have no problem with making this tandem overridable.  If that's not the case, then what's the reason for not preventing it from being (silently!) overridden?

[2019-12-19 18:03] mattpen commented on #127
`is` and `are` aren't the only verbs that could be used with a boolean variable.  `should` is valid in some cases too, although maybe not specifically for properties.  This is used in React and iOS code.  I would argue that there shouldn't be a convention because sometimes these verbs are helpful and sometimes they aren't.

[2019-12-19 18:45] pixelzoom commented on #127
12/19/19 dev meeting:

* use "is", "has",..., prefix when the meaning is ambiguous, or at developer discretion
* for common properties like "visible", "pickable", "enabled" that have a convention, stick to the convention
* @samreid pointed out that there are ~190 cases of "isVisible".  Let's hit these (and similar cases) as they need to be adjusted for PhET-iO

[2019-12-19 19:01] pixelzoom commented on #126
12/19/19 dev meeting:

* Consensus is to use "position" uniformly.
* First priority is to change "location" to "position" as its exposed in the PhET-iO API.
* Developers at their discretion can eagerly change sims that they are responsible for.
* @samreid will add assertion to PhET-iO to prohibit "locationproperty"  (case insensitive), assertion case be removed in the future if we have a legitimat

[2019-12-20 16:52] samreid commented on #126
The renaming for balloons and static was more invasive than I expected it to be, so I consulted with @jessegreenberg about a few aspects.

(1) cases like `BASEDescriber` where the positions are not cartesian, but more qualitative, like:

[code]
And @jessegreenberg confirmed that our decision to use position instead of location did not just apply to cartesian coordinates, but should also apply to c

[2019-12-20 17:00] pixelzoom commented on #126
Hmmm... I hadn't thought about translated strings (or their keys).  Searching for case-insensitive occurrences of "location", I find 233 in *strings*.json, 75 in *A11yString.js.  What do you propose to do about these?

[2019-12-20 17:25] jbphet commented on #126
I was going to respond to @pixelzoom and request that string keys not be changed, but I looked at this a bit and all occurrences of "location" seem to be in translations with no corresponding string in the English file.  I'm not quite sure what's going on here.  There's a commit - https://github.com/phetsims/energy-skate-park-basics/commit/3e689653b2a2b2299d0ec933ff3427a593079040 - where the strin

[2019-12-20 22:40] samreid commented on #128
To clarify, are you proposing that:

[code]
would become

[code]

or
[code]
Based on prior conversations I thought you were proposing STRATEGY B, which seems to me like it has a code smell due to the `options.tandem = ...` part.  If instead you are proposing STRATEGY A or if you think STRATEGY A is acceptable, it seems good to me too.

[2019-12-20 23:19] pixelzoom commented on #128
Strategy A and B both have the same end result, and both prevent overwriting  `timePropertyOptions.tandem`.

I'm not sure what "the options.tandem = ... part" refers to in Strategy B, I don't see that anywhere, so can't comment on "code smell".   But it's not necessary to do the assignment to `timePropertyOptions.tandem` after the merge call, because you've already verified via `assert` that it wa

[2019-12-21 16:17] samreid commented on #127
@pixelzoom what should `Node.isVisible()` be named?  Should it be left as `Node.isVisible()`?

[2019-12-21 17:41] pixelzoom commented on #127
I'd probably leave is `Node.isVisible()`.  But I defer to @jonathanolson.

[2019-12-24 02:07] samreid commented on #128
Perfect, thanks!  I noticed AddAMateButton.js has this declaration:

[code]

Would it be better to write it using Strategy A?

[code]

Should we look around for other occurrences that are using Strategy B? Should we make a note in the phet-software-design-patterns.md?

[2019-12-24 19:55] pixelzoom commented on #128
I don't have a problem with how `AddAMateButton` is currently implemented.  Definition of its content is verbose enough that I prefer not to nest it inside the `merge` call.

It sounds like perhaps you think Strategy B is undesirable because it wasn't ideal for https://github.com/phetsims/phet-info/issues/128#issuecomment-568114042.  That's not the case.

[2019-12-24 20:03] pixelzoom commented on #128
It seems like this is already addressed by phet-software-design-patterns.md:

Maybe this should be clarified to say something like "Don't allow the client to set an option that is the responsibility of the constructor or method being called."

[2019-12-24 20:37] samreid commented on #128
I like how it is phrased here:

I understand what you are saying about the `AddAMateButton` content declaration content being more verbose.  But what about cases like `DataProbeDragListener`, which are non-verbose and could be improved by putting all defaults in one object literal, and no additional/unnecessary assignment?  I'm trying to find out where you draw the line for this pattern, or if mat

[2019-12-26 18:44] pixelzoom commented on #128
I don't prefer Strategy A.  I prefer Strategy A in the example we discussed here, https://github.com/phetsims/phet-info/issues/128#issuecomment-568114042.    There are other situations where I prefer Strategy B. Off the top of my head, I prefer Strategy B when (a) there's something that I don't want to nest inside the `merge` call (like in `AddAMateButton`), or (b) there's something that I can't (

[2019-12-26 20:55] samreid commented on #128
What case does `DataProbeDragListener` fall into, and why?

[2019-12-26 22:09] pixelzoom commented on #128
I'm not sure what you mean...  Somehow we seem to have gone from "maybe Stopwatch shouldn't be allowing the client to overwrite tandem" to an assumption that there are a couple of strategies for doing that, and that one strategy should be preferred over the other.  That's not the way I think about this, and that's certainly not what I had in mind with `DataProbeDragListener`.   I'm thinking best p

[2019-12-27 20:44] samreid commented on #128
That was corrected in https://github.com/phetsims/scenery-phet/commit/45c1d29f61cf6fc2198a5dff041bb61228e1110d, right?

That describes my trajectory precisely!  Before this issue, I (incorrectly) thought "tacking on options" after the `merge` call was the only way to accomplish this.  Now I understand we can achieve (1)-(3) above without having to "tack on" options after the `merge` call, and it s

[2019-12-28 22:53] pixelzoom commented on #128
When extrapolating this example to a general pattern:

[code]

... there are a 3 things that I don't like:

(1) Having to test `!options` repeatedly in assertion expressions.

(2) Separating the assertion from the option value, possibly by many lines in the general case. I think it can sometimes be more valuable to co-locate them, especially when the assertion expression serves as (implicit?) docu

[2019-12-29 16:51] samreid commented on #128
Thanks for taking the time to help me understand, I really appreciate it.  I'm still learning to distinguish between "styles" and "best practices".

I added a commit to phet-software-design-patterns.md with this sentence:

I still feel a bit of cognitive dissonance around aspects of this problem.  I agree that these issues may be down in the noise and may not warrant effort or debate, but I think

[2019-12-31 17:03] pixelzoom commented on #128
I don't feel a need for non-overridable options to be nested in the `merge` call.  They are not part of the API.

I'm not wild about this suggestion because I feel like the current patterns that I'm using are sufficient, clear, and readable.  And `antirequired` will be another runtime function call (a startup cost), whereas `assert && assert` is short circuited.   That said, you should probably so

[2020-01-02 17:42] pixelzoom commented on #124
Since this is assigned to @ariel-phet "for prioritization and assignment to do the actual work", and it's not clear what further input is needed at developer meeting, I'm going to remove the developer meeting label.

[2020-01-02 17:47] pixelzoom commented on #124
On second thought... Keeping this labeled for developer meeting so we can wrap it up.

[2020-01-02 20:52] mattpen commented on #124
Dev Meeting 1/2:  This would be easier to evaluate in final form as an .md file.  No one brought up additional points for the checklist.

@ariel-phet will compile the .md file.

[2020-01-07 21:50] pixelzoom commented on #126
I attempted to change "location" to "position" in Natural Selection.  It's a new sim, so I figured it would be appropriate to address immediate.  I ended up introducing a bug in DataProbeDragListener, reverted in the commit above. DataProbeDragListener is a subclass of DragListener, which has option `locationProperty`.   So until this is addressed for common code, I'm stuck with either continuing

[2020-01-07 22:05] pixelzoom commented on #126
Here's what needs to be touched.  Common-code classes should be done first and (imo) asap. (See my DragListener experience in https://github.com/phetsims/phet-info/issues/126#issuecomment-571789198.). Common-code changes will result in sim changes when "location" is part of the API (option name, method name, etc.)

Common-code classes:
- [ ] scenery/DragListener
- [ ] scenery/DragListenerTests
- [

[2020-01-08 00:53] pixelzoom commented on #126
More common-code, these have non-Property occurrences of "location".

- [ ] DOT/Bounds2
- [ ] PHETCOMMON/SphereBucket
- [ ] SCENERY_PHET/BracketNode
- [ ] SCENERY_PHET/Drawer
- [ ] SCENERY_PHET/FaceWithPointsNode
- [ ] SCENERY_PHET/MeasuringTapeNode
- [ ] SCENERY_PHET/StopwatchReadoutNode
- [ ] SCENERY_PHET/BorderAlertsDescriber
- [ ] SCENERY_PHET/PlateChargeNode
- [ ] SCENERY/AnimatedPanZoomListe

[2020-01-08 03:51] bardobrado opened #129 "Error on create-sim"
I followed all instructions but i'm unable to create a new sim.

This is the error that i'm getting:

`atal error: Perennial task failed:
Error: grunt unpublished-README in ../MMGD failed with exit code 3 and stdout:
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "unpublished-README" not found. Use --force to continue.

Aborted due to warnings.

  at ChildProcess.process.on.code (/home/rahto/

[2020-01-08 22:56] pixelzoom commented on #126
@ariel-phet My work here is done. With the exception of `locationProperty` option passed to `DragListener`, all of my sims have been fully converted to "position".   I also handled a big chunk of the common code changes.

It would be nice if `DragListener` were revised soon, so that we don't keep creating more `locationProperty` occurrences.

[2020-01-09 17:39] pixelzoom commented on #126
I've taken care of `DragListener`, got @jonathanolson's blessing on Slack.

[2020-01-09 17:43] pixelzoom commented on #126
I've taken care of `DragListener`, got @jonathanolson's blessing on Slack.

[2020-01-09 19:57] jessegreenberg commented on #126
Reviewed during dev meeting 1/9/20: We are going to address the common code cases quickly, responsible devs have been assigned. The can chip away the sim cases with less urgency.

[2020-01-16 18:34] ariel-phet opened #130 "Process/checklist for when an employee leaves PhET"
@amanda-phet suggested awhile back we need a process and checklist to make sure various items get addressed when an employee leaves PhET. This would be good to discuss, potentially even at Status meeting. I have made a draft checklist here:

https://github.com/phetsims/phet-info/blob/master/checklists/employee_leaving_checklist.md

Assigning @amanda-phet @oliver-phet for input.

[2020-01-16 19:25] pixelzoom commented on #126
1/16/20 dev meeting:

Re common code: @Denz1994 will look at SphereBucket soon.  @jessegreenberg and @zepumph are unlikely to get to their assignments until after a11y conference.

Re sim code: Developers are free to chip away at their sims at any time.

[2020-01-16 19:44] oliver-phet commented on #130
Here's the CU exit checklist I use, if it helps: https://docs.google.com/document/d/0B3aB5oT9c4e0R2VrTXVWd0pleFU/edit

[2020-01-16 20:35] amanda-phet commented on #130
I think explicit notes to delete from the team page, slack, google group, and google drive are needed, and who is the point person for doing so. I frequently find people no longer affiliated with PhET are still visible in these places. There's an especially important but annoying task of finding all files in google drive that may have been individually shared with them (or created by them) that si

[2020-01-17 15:30] samreid opened #131 "GitHub basic authentication deprecation"
While working on https://github.com/phetsims/phet-io-wrappers/issues/292 I used the script to create labels.  But I shortly thereafter received an email from GitHub saying:

Hi @samreid,

You recently used a password to access an endpoint through the GitHub API using curl/7.64.1. We will deprecate basic authentication using password to this endpoint soon:

https://api.github.com/organizations/3045

[2020-01-17 15:42] samreid opened #132 "Checklists should indicate to set correct permissions before committing to perennial"
From slack:

@KatieWoe said

@jonathanolson replied:

@samreid said:

@jonathanolson said:

@samreid said

@jonathanolson said:

Assigning to @ariel-phet to prioritize and delegate.

[2020-01-17 16:02] jonathanolson commented on #132
I'm honestly not sure what happened. My last commit to the checklist had the active-repos step after the permissions step (https://github.com/phetsims/phet-info/blob/70a5953e9ab5180ff1b4bfca11ae93380149fa9a/checklists/new_repo_checklist.md), it must have been reversed in the checklist at a later point.

[2020-01-20 15:07] Denz1994 commented on #126
I addressed phetCommon/SphereBucket. This seemed like a straight forward change because all of the ```location``` instances were private to ```SphereBucket.js``` or in docs. This was as tested in BAM and BAA, but I'll keep an eye on ct.

[2020-01-21 20:44] zepumph commented on #126
- [ ] When all of this is said and done, it would be nice to add some bad text to this, perhaps "locationProperty" will be an easy one.

[2020-01-21 20:47] pixelzoom commented on #126
As noted in https://github.com/phetsims/phet-info/issues/126#issuecomment-571794940, this change is not limited to Property names.  So "locationProperty" (even case insensitive) is not sufficient for bad-text.js.

[2020-01-21 20:49] zepumph commented on #126
No certainly not complete, but it would be good to try to get as much of this covered automatically as possible, and it seems  like the most common "api leaking" elements are Property instances.

[2020-01-23 16:35] jessegreenberg commented on #126
SCENERY/AnimatedPanZoomListener done in above commit. That completes the common code list in https://github.com/phetsims/phet-info/issues/126#issuecomment-571794940

[2020-01-23 16:50] pixelzoom commented on #126
Thanks @jessegreenberg. Removing high-priority label, since all common code is done.  This is now "chip away" for sims.

[2020-01-23 17:48] ariel-phet commented on #131
Marking for dev meeting as this might also affect things like Babel and a few other things we do with GitHub

[2020-01-23 19:28] zepumph commented on #126
I will investigate two potential lint rules to see how they feel:
1. "locationProperty" as bad text
2. "location" as bad text when part of code (not comments).

[2020-01-23 19:38] mattpen commented on #131
I'll check the inbox for phetadmin@gmail.com to see if this is affecting babel.  @jonathanolson mentioned there is already some code that is using PAT's that we may potentially be able to reuse.

I'll address this soon as it could be potentially affecting babel.

[2020-01-23 19:41] mattpen commented on #131
It looks like this is affecting babel:

[2020-01-23 19:42] mattpen commented on #131
@jonathanolson - can you point me to the phet files that are using github access tokens?

[2020-01-23 19:52] mattpen commented on #131
https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/

There isn't an official timeline for deprecation that has been announced yet.  Lowering to priority 3.

[2020-01-27 18:07] ariel-phet commented on #126
@SaurabhTotey is going to try to finish these off

[2020-01-28 04:37] pixelzoom commented on #126
@ariel-phet asked me give @SaurabhTotey a quick walkthrough of what I did, so he can follow the pattern and finish off the remaining chip aways.  We're going to discuss 1/28/20 on Zoom.

Here's an overview of the process I used:

Look for occurrences of "location" that refer to the position of something in 2D or 3D space.  These should be changed to "position".  There may be other occurrences (lik

[2020-01-28 21:29] pixelzoom commented on #126
@SaurabhTotey we discussed this, but I'll note here...   If you want to check whether a repository is used by other sims, then search for its name in *-config.js.  For example, search for "fractions-common" indicates that it's used by build-a-fraction, fraction-matcher, fractions-equality, fractions-intro, fractions-mixed-numbers, and number-play.  And you'll need to hit all of those repos at the

[2020-01-30 00:29] #132 closed

[2020-01-30 05:47] ariel-phet commented on #124
I did my best to use the above to start a draft checklist, but it needs some fleshing out. Remarking for dev meeting

https://github.com/phetsims/phet-info/blob/master/checklists/delete_repo_checklist.md

[2020-01-30 17:02] jonathanolson commented on #131
I know githubCreateIssue.js uses octokit, and grabs the access token from buildLocal.js (which has code to grab the token from build-local.json).

[2020-01-30 22:11] zepumph commented on #125
From dev meeting today, we decided to go with the following, I will add to the style guidelines:

1. Comments above the first `if` in a conditional should be about the entire conditional, not just the if statement
2. Comments should not break up sections of the conditional.
3. If a comment is needed to describe a single block of the conditional, then add that comment just inside the block (no spac

[2020-01-31 01:14] zepumph commented on #125
Done. Closing

[2020-01-31 01:14] #125 closed

[2020-02-06 20:15] samreid commented on #124
We reviewed it and made changes, closing.

[2020-02-06 20:15] #124 closed

[2020-02-08 15:57] mattpen commented on #131
From Slack, @pixelzoom said The email that I received after running github-labels says "On July 1st, 2020, basic authentication using password to this endpoint will no longer work"

[2020-02-10 19:19] mattpen commented on #131
I believe that the github labels scripts are now fixed.  Developers will now need to create a personal access token and store it in build-local.json along with their username in order to use these scripts.  This is documented in https://github.com/phetsims/phet-info/blob/master/github-labels/README.md.

Instructions for creating a personal access token: https://help.github.com/en/github/authentica

[2020-02-11 16:11] mattpen commented on #131
Adding to developer meeting as a general PSA.

[2020-02-13 20:15] zepumph commented on #131
Thanks for the PSA! We are ready to close.

@mattpen says it will be obvious the next time someone runs it because it will fail to find the needed key.

[2020-02-13 20:15] #131 closed

[2020-02-16 20:20] chrisklus opened #133 "Simple node transform examples"
For the Model-View Transform section in [phet-software-design-patterns](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) ([phet-software-design-patterns#model-view-transform](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#model-view-transform)).

In the following scenery playground example, the background has a size of

[2020-02-17 18:02] #133 closed

[2020-02-20 17:14] chrisklus commented on #88
On 2/17/20 we had a discussion about Model-View Transform, see https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#model-view-transform

This issue is ready for another dev to sign up for an empty section.

[2020-02-20 20:25] Denz1994 commented on #88
As discussed in dev-meeting on 02/20/20:
@jessegreenberg would like to handle the MVC section. We should detail what is specific to PhET about this section.

[2020-02-20 20:29] Denz1994 commented on #126
As discussed in dev-meeting on 02/20/20:
@SaurabhTotey will be taking care of the remaining sim related repos.

[2020-02-27 21:44] jessegreenberg opened #134 "Update the "Module" section of the software design patterns doc"
[phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) was written to describe PhET's usage of RequireJS. We recently switched to ES6 modules and so this section needs to be updated. Assigning to @Denz1994 since he was the original author of this section.

[2020-03-03 20:24] samreid opened #135 "Revise CRC regarding imports"
Discovered during https://github.com/phetsims/energy-skate-park/issues/202.  The CRC currently says:

[code]

For ES6 modules, we agreed to combine all JS into one section and drop the // modules.  I'm not sure what should be done about strings.

[2020-03-03 20:25] samreid commented on #135
@pixelzoom can you please recommend how the CRC should look for this part?

[2020-03-03 23:57] pixelzoom commented on #135
All imports grouped together, no differentiation between code or resources (strings, images, mipmaps, sound).  The CRC will be updated in https://github.com/phetsims/chipper/issues/854.

[2020-03-05 04:38] samreid commented on #135
Thanks, I removed the hold from https://github.com/phetsims/chipper/issues/854.  @pixelzoom can this issue be closed?  Do you want any information from this moved to https://github.com/phetsims/chipper/issues/854?

[2020-03-05 17:41] pixelzoom commented on #135
I updated this specific section of the CRC in https://github.com/phetsims/phet-info/commit/0001f49c87f3279edeef379055b74e2b5abc2354.   Feel free to review here, or wait until we've established best practices in https://github.com/phetsims/chipper/issues/873, and revised the CRC in https://github.com/phetsims/chipper/issues/854.

[2020-03-06 17:36] samreid commented on #135
The changes look reasonable, thanks! I have one question about this part:

For files that only emit one function, I've found it useful to omit the file overview comment and provide that information in the function JSDoc instead.  One example is https://github.com/phetsims/wave-interference/blob/bfe9e0df55ea1405244a89253d75a6db2eaed3dd/js/common/view/toOutputLevel.js

Does this seem reasonable to y

[2020-03-06 23:50] pixelzoom commented on #135
@samreid Imo, precisely describing where import groups need to appear for various scenarios is detail that doesn't need to be in the CRC.   So my response to your question is to make the CRC item more vague, that is:

If you think something more specific is really needed, feel free to modify.

[2020-03-07 06:30] samreid commented on #135
Excellent, thanks!  Closing.

[2020-03-07 06:30] #135 closed

[2020-03-09 23:45] jessegreenberg commented on #88
We discussed the Model-View-Controller pattern today, I updated the section with things that came up during discussion.

I also added a section on "Scenes" with information on how they should be considered/implemented in a sim, which was suggested during the discussion today.

Removing my assignment, next dev meeting we can decide which topic is next.

[2020-03-10 01:18] pixelzoom commented on #134
Related to https://github.com/phetsims/chipper/issues/854.

[2020-03-10 01:21] pixelzoom opened #136 "Update the "Singleton" section of the software design patterns doc"
Related to https://github.com/phetsims/chipper/issues/854.

The "Singleton" section of the software design patterns doc needs to be updated to reflect PhET's change from requirejs to ES6.  Assign to @chrisklus, the author of that section.

[2020-03-10 01:23] pixelzoom opened #137 "Update the "Namespace" section of the software design patterns doc"
https://github.com/phetsims/chipper/issues/854

The "Namespace" section of the software design patterns doc needs to be updated to reflect PhET's change from requirejs to ES6. Assign to @jonathanolson, the author of that section.

[2020-03-10 16:00] jonathanolson commented on #137
I updated that section and a few others (although I'm sure it could be filled out more). Does that look good, or anything that feels insufficient?

[2020-03-10 16:17] pixelzoom commented on #137
Other people were assigned to update their sections, but thanks for taking a stab at it.

Namespace section looks good, closing.

[2020-03-10 16:17] #137 closed

[2020-03-10 17:25] chrisklus commented on #136
Thanks @pixelzoom  - should be all set. Please review if you'd like and/or close if all looks good.

[2020-03-10 17:32] pixelzoom commented on #136
👍 closing.

[2020-03-10 17:32] #136 closed

[2020-03-11 19:11] Denz1994 commented on #116
Documentation has been added in the above [commit](https://github.com/phetsims/phet-info/commit/799b13a56573cde57c91b022d1ad54478bf575bf). Closing this issue.

[2020-03-11 19:11] #116 closed

[2020-03-12 18:47] jessegreenberg commented on #88
Discussed on 3/12/20, but we are going to defer a week and check in next time.

[2020-03-12 19:39] pixelzoom commented on #128
3/12/2020 dev meeting:

@jonathanolson pointed out that `antirequired` has a flaw: Having `field: undefined` is different than not have `field` at all in options.  And that will cause problems when passed to `super`, it all overwrite the default with `undefined`.

I suggested that you could create a blacklist of options using `_.pick`, like this:

[code]

The disadvantage of this over individual `

[2020-03-14 20:27] samreid commented on #128
It sound like individual `assert` statements are warranted so we can know which option caused the failure.  Can this issue be closed?

[2020-03-14 21:35] pixelzoom commented on #128
I don't mind if someone uses an approach like `_.pick` -- it's better than doing nothing, which I've encountered often.   But yes, my preference would be to use `assert`.

Closing.

[2020-03-14 21:35] #128 closed

[2020-03-26 16:09] mattpen opened #138 "Label change"
As discussed in dev meeting, we should change “blocks-publication” & “blocks-sim-publication” to “blocks-publication:common” & “blocks-publication:sim” .

[2020-03-26 16:35] pixelzoom opened #139 "What should we do about imports that exceed the 120-char line limit?"
What should we do about imports that exceed the 120-char line limit?

Slack developer channel:

Jesse Greenberg  7:44 AM
WebStorm wants to format this import statment like
import EnergySkateParkColorScheme
  from '../../../../../energy-skate-park/js/energy-skate-park/common/view/EnergySkateParkColorScheme.js';
Is that right? I thought I disabled all auto wrapping but maybe I am missing a setting s

[2020-03-26 16:54] zepumph commented on #139
I'm not sure what @pixelzoom's opinion is from this. Does "live with it" mean to be okay with having a long import split on two lines?

I personally feel like having the "hard wrap" setting in my IDE, and I would rather not turn it off.

[2020-03-26 17:04] pixelzoom commented on #139
Sorry... To clarify, "live with it" means I'm fine with the 120-char line limit being applied to imports "since (most) are added by the IDE, and typically collapsed."

[2020-03-31 18:36] samreid opened #140 "git add * .gitignore errors out"
I was following the directions to create a new repo, and this command:

Produced this error:

[code]

Why is this step in the instructions?  Should it be fixed or removed?  This step was added in 2018 by @jonathanolson.  Assigning to @ariel-phet to prioritize and assign.

[2020-03-31 18:43] samreid commented on #140
Oh, the previous step says you can add a .gitignore if necessary.  I think this should be closed.

[2020-03-31 18:43] #140 closed

[2020-04-01 23:46] jonathanolson commented on #139
It's tricker to design a lot of automated things (reordering imports, parsing imports for string detection, etc.) around multi-line imports, so some code would need to change. I have a preference to have single-line imports.

[2020-04-02 16:29] samreid commented on #139
I agree, single lines seem preferable for tooling support.

[2020-04-02 19:17] chrisklus commented on #139
From 4/2/20 dev meeting:

We agree single line seems preferable. @jessegreenberg is going to update phet-code-style.xml to not hard wrap at 120, but still have a visual guide at 120 characters. He's also going to create a lint rule that flags two-line import statements.

[2020-04-03 22:06] jessegreenberg commented on #139
This is done. A new lint rule "single-line-import" has been added that enforces this, and above commits outside of chipper were made where the lint rule found import statements on multiple lines. Over slack I said

Closing.

[2020-04-03 22:06] #139 closed

[2020-04-03 22:52] pixelzoom commented on #139
A note about the above commit, for posterity...

I was curious about what specifically changed, so looked at https://github.com/phetsims/phet-info/commit/5e263c1edba5fef6e799a7d5b3c6a94c5685aa15.  The entire file had changed! @samreid pointed out that it was formatting issue. (The formatting of the code-style file is wrong. Oh, the irony.). So I reformatted the file, confirmed that only 2 lines ha

[2020-04-06 03:02] sebastianduran opened #141 "After an update the sims stop working"
After an `npm update` the sim doesn't load, it stay freeze on the splash page even the example-sim_en.html sim

node version: v12.16.1
os: win10

[2020-05-08 23:01] chrisklus opened #142 "Location of function visibility annotations"
I'm bringing this up because I noticed that most phet-io code follows this convention (1):

[code]

But then PhetioStateEngine has a lot of them flipped like this (2):

[code]

or like this (3):

[code]

I thought the first example was pretty standard at PhET (and that's how I've always done it), but after looking around, it looks like plenty of places use the second example, too. It seems a littl

[2020-05-14 00:24] jessegreenberg commented on #142
I always do the second one. I find it easier to read the param docs if there is some space between them and the visibility annotation. But don't care too much and would be OK not having a rule for this.

[2020-05-18 16:17] SaurabhTotey commented on #126
I believe the remaining sims have had their relevant usages of 'location' replaced with 'position'. Please let me know if there is anything else I should do. In the meantime, I will unassign myself from this issue.

[2020-05-18 16:47] pixelzoom commented on #126
Looking good @SaurabhTotey, thanks for taking this on.

I fixed a bunch more that were in comments, see above commits.

It also looks like there has been new code created using "location".  For example @jbphet in `NumberLineOperationNode` used `operationStartLocation` and `operationEndLocation` (I fixed these in the above commits).  Should we do anything to prevent this?

Assigning back to @samrei

[2020-05-18 19:42] zepumph commented on #126
An easy one may be to add `locationProperty` to the bad-text lint rule. Otherwise I agree with you.

[2020-05-18 19:46] pixelzoom commented on #126
Yes, adding `locationproperty` (case insensitive) to bad-text.js would probably address 99% of the PhET-iO naming consistency concerns.

[2020-05-20 22:04] pixelzoom commented on #142
I don't see anything in JSdoc that recommends an order. If we generated JSdoc, the order wouldn't matter.  And I personally don't care where they are located.  So I don't think it's worth the cost/aggravation to standardize.

[2020-05-20 22:06] pixelzoom commented on #142
I have generally done (1). That said... I don't see anything in JSdoc that recommends an order. If we generated JSdoc, the order wouldn't matter.  And I personally don't care where they are located.  So I don't think it's worth the cost/aggravation to standardize, and would prefer to leave this up to individual developers.

[2020-05-21 17:35] jessegreenberg commented on #88
Discussed again 5/21/20 - We are going to defer again until we have some more time.

[2020-05-21 17:49] jessegreenberg opened #143 "Improved pattern for mixin and trait"
From developer meeting discussion (https://github.com/phetsims/phet-core/issues/54) @samreid found a potentially better way for us to implement mixin/ trait pattern. Here is the resource

https://justinfagnani.com/2015/12/21/real-mixins-with-javascript-classes/

@jonathanolson said he would be interested in evaluating.

[2020-05-21 18:03] jessegreenberg commented on #142
Discussed 5/21/20 -

All were OK to leave this up to developer discretion.

[2020-05-21 18:03] #142 closed

[2020-05-28 16:09] jonathanolson commented on #143
This looks quite promising, and "feels" cleaner, with the exception of constructors (we'd need to use rest/spread operators for constructors instead of initializers, which is fine) and the fact that we'd presumably need to either (a) turn almost everything into ES5 classes, for the Node mixins, or (b) figure out something that works with both.

Follow-up article is needed: https://justinfagnani.co

[2020-05-28 16:29] samreid commented on #143
I agree this looks like the appropriate way to proceed.  The class-factory pattern is

[code]

Our existing mixins are:
* Poolable
* AccessibleSlider
* PaintableStatelessDrawable
* PaintableStatefulDrawable
* CircleStatefulDrawable
* ImageStatefulDrawable
* PathStatefulDrawable
* RectangleStatefulDrawable
* TextStatefulDrawable
* Leaf
* Paintable
* EnabledNode
* EnabledPhetioObject
* AccessibleNum

[2020-05-28 16:45] jonathanolson commented on #143
Also, we can create inherit-based versions of this for use with our current inherit-based types.

[2020-05-28 18:31] mattpen commented on #88
The next priorities are Observer and Composition/Inheritance.

@ariel-phet asked @brandonLi8 to start work on the Observer Pattern, with potentially presenting on Monday Jun 8.

@pixelzoom suggested that Composition/Inheritance isn't appropriate in this document because there isn't anything particular to PhET that needs to be documented.

We'll revisit after the Observer Pattern discussion!

[2020-05-28 18:47] mattpen commented on #143
Dev Meeting: This seems promising, but @ariel-phet said it should be on hold until density is published.

[2020-05-29 04:56] samreid commented on #126
I added a bad-text rule and a checkbox to the code review checklist.  Thanks for all your work here @SaurabhTotey and @pixelzoom and everyone else that helped.  It seems ready to close, but please reopen if there's anything else.

[2020-05-29 04:56] #126 closed

[2020-05-29 05:14] brandonLi8 commented on #88
I worked through the [observer pattern](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#observer) in the commit above. I'll update with things that come up during discussion.

[2020-06-08 16:30] pixelzoom commented on #88
We decided (via Slack poll) to delete the "Composition and Inheritance" section.  I'll do that, and add an item to the CRC.   If we identify PhET-specific issues related to composition/inheritance in the future, we can add that section.

[2020-06-08 16:35] pixelzoom commented on #88
Here's how the CRS addresses Composition and Inheritance.  The first items was already in the CRC, I added the second item:

[2020-06-08 16:37] pixelzoom commented on #88
All section of phet-software-design-patterns.md have now been fleshed out.  So closing this issue.

[2020-06-08 16:37] #88 closed

[2020-06-15 19:22] jonathanolson commented on #143
Somewhat ironically, I almost needed to use this style of mixin to properly handle a case in Density (so it came first). Tagging to view/discuss during dev meeting.

[2020-06-18 22:30] jessegreenberg opened #144 "How to override a function that is called in the constructor of the superclass"
Ive run into this a few times and I am curious how people get around this in general. Lets say I have a superclass that calls a method in its constructor:
[code]

And a subclass that overrides that function with subclass specific work, using fields of the subclass:

[code]

```this.subclassThing``` will be undefined in `AnotherClass.doSomething` because `doSomething` was called during construction

[2020-06-18 22:35] jessegreenberg commented on #144
The problem also comes from the fact that we cannot assign things to `this` until after calling `super`

[2020-06-18 23:09] brandonLi8 commented on #144
I've also ran into this problem on occasion. What I normally do (not saying that this is correct) is to call `this.doSomething` in the sub-class's constructor, after `this.subclassThing` is defined. It has worked for me in the cases where I've ran into this, but it might be possible that this might not work for all scenarios.

[2020-06-19 00:37] zepumph commented on #144
I have had success in refactoring subclassThing to be an option to the constructor, instead of setting it in the child. This works best if multiple subclasses use this sort of pattern.

In adding to @brandonLi8's suggestion, perhaps the subtype `doSomething` can check to see if `this.subclassThing` exists yet, and if it doesn't, then it can no-op. Then it won't be run twice in the constructor, but

[2020-06-19 02:51] samreid commented on #144
The standard solution is that constructors should not call overrideable methods, this is described in https://stackoverflow.com/a/3404369 which quotes Effective Java 2nd Edition (emphasis mine):

But I have seen many examples in our codebase where we use the solutions described in the prior 2 comments.

[2020-06-19 16:39] pixelzoom commented on #144
+1 for what @samreid said -- methods called by a constructor should not be overridden.

Change your subclass implementation in the above example to:

[code]

[2020-06-24 22:03] jessegreenberg commented on #144
This makes a lot of sense, thanks for the recommendations and feedback.

[2020-06-24 22:03] #144 closed

[2020-06-25 18:40] samreid commented on #143
Today @jonathanolson described how he is using this pattern in Density & Buoyancy in `DensityAndBuoyancyModel.js`, and reported that it is working well.  He said it is a likely candidate for replacing old mixin patterns, but may take more effort to use with `inherit` instead of `class`.

@jbphet said this may be an opportunity for us to upgrade some types to `class` instead of `inherit`.  Perhaps

[2020-07-02 01:36] ariel-phet commented on #143
Calendar reminder made

[2020-08-07 21:05] mattpen commented on #71
The script is working fine and has been used by many developers. Error handling would be nice to add, but currently isn't a priority. Removing assignment.

[2020-08-07 22:56] pixelzoom opened #145 "document update-repos-list.sh"
update-repos-list.sh has no summary comment at the top of the file. Could you please add an overview description? This came up today when we were trying to decide whether delete-label.sh (which calls update-repos-list.sh) would work for a label that wasn't added via the scripts.

[2020-08-11 16:52] pixelzoom opened #146 "change-label.sh fails"
I want to change the color of 2 labels as follows:

[code]

I've followed the instructions in README.md, and I have a personal access token named "repo" configured, with full repo access:

<img width="571" alt="screenshot_463" src="https://user-images.githubusercontent.com/3046552/89927091-09ef3a00-dbc3-11ea-802c-ae9a2be3c346.png">

Following the instructions to change a label, I ran `change-label

[2020-08-11 17:00] pixelzoom commented on #146
I'm wondering if the API changed and this script wasn't updated.  The "Update a Label" API is described at https://docs.github.com/en/rest/reference/issues#update-a-label, and the example using `curl` looks nothing like the use of `curl` in `change-label.sh.`

[2020-08-17 17:57] mattpen opened #147 "Repos missing standard labels"
The following repos are missing the `status:blocks-publication` label, possibly others.

[code]

[2020-08-17 18:02] mattpen commented on #146
It looks like the api updated (but should have been backwards compatible), so I changed the `name` parameter in the body to `new_name`.  I also discovered a typo in a variable usage, `old` should have been `'oldLabel`.  After these changes I ran the script using the command `./change-label.sh status:blocks-publication status:blocks-publication FF007F` and got successes for most repos.

I'll invest

[2020-08-17 18:17] pixelzoom commented on #146
Thanks for fixing this. It's working for me now.

I did get errors for some repos, see below. Would you mind investigating these?

403: diagram-demo, phet-io-wrapper-sonification

404: a11y-research, beaker, circuit-construction-kit-basics, faraday, phet-office-add-in, phet-partnerships, QA, seasons, special-ops, webgl-ripples, website-docker, wilder

[2020-08-17 18:18] mattpen commented on #147
[code]
These two repos had a label called "status:block-publication". I edited these manually to be "status:blocks-publication".

[2020-08-17 18:19] mattpen commented on #147
@ariel-phet - I'm assuming these repos should all have at least the standard phet set.  Should I just run the script for the standard set on all of these repos?

[2020-08-17 18:22] mattpen commented on #146
@pixelzoom - see my previous comment regarding the errors.  The 403 errors are "correct" and the 404 errors are being investigated.

I'm going to close this issue since the problems particular to this script have been corrected.

[2020-08-17 18:22] #146 closed

[2020-08-17 20:15] ariel-phet commented on #147
@mattpen -- yes please

[2020-08-18 09:22] Piet-G commented on #129
This error is still present, I'm on windows btw.

[2020-08-24 16:52] pixelzoom opened #149 "flesh out "Compiling the Code" section of PhET Development Overview"
Someone from the Google Group sent me this direct email:

I replied:

Then I provided an example of how to build.

So... The "Compiling the Code" section is lacking, and needs to be fleshed out.

[2020-08-25 22:25] pixelzoom commented on #149
Discussed with @ariel-phet, assigned to me.

[2020-08-27 19:15] pixelzoom commented on #149
Done in the above commit, via using example-sim as an example.  Closing.

[2020-08-27 19:15] #149 closed

[2020-10-20 20:34] pixelzoom commented on #143
In https://github.com/phetsims/sun/issues/585, I've been tasked with converting components to use EnabledComponent.  It (and its sub-mixins) are apparently "old style".   Do we really want to convert a bunch of things to use an old pattern?  Changing the status of this issue and labeling for developer meeting with high priority.

[2020-10-22 04:27] samreid commented on #143
The improved pattern for mixin requires `class`.  Ideally we can migrate everything soon, including Node and PhetioObject as we proceed in https://github.com/phetsims/tasks/issues/1050.  Using the old pattern for mixin is acceptable until then.

Not sure if this is the right issue for the next idea: Now that Node supports TinyProperty, and has established support for passing in properties, PhET-iO

[2020-10-22 18:59] mattpen commented on #143
@ariel-phet will tag the sim conversion issue here after it is created and put this issue on hold.

[2020-11-03 17:58] NickCrews opened #150 "Improve Automatic Code Formatting"
Hey there! I'm an independent dev, working with my buddy @chrisklus on a personal project where we're using a lot of the PHET sim framework. It's been super fun so far to use, awesome work!

One pain point that I'm finding is code formatting. I want to follow the PHET style guide. As I understand it at this point you have plugins available for two IDEs, [IDEA](https://github.com/phetsims/phet-info

[2020-11-04 20:42] NickCrews commented on #129
Hey @pixelzoom or @samreid, apparently you're the top maintainers for this repo, do you have notifications set up for when someone opens an issue here? I'm sure you have tons on your plate, but I see several issues here (including me, that's why I'm here :) ) from someone outside PHET, that look like they've been totally missed by anyone at PHET.

[2020-11-04 20:46] pixelzoom commented on #150
Assigning to @ariel-phet for prioritization and assignment.

[2020-11-04 20:50] pixelzoom commented on #129
I @NickCrews. Thanks for the poke :)  Unfortunately, PhET currently doesn't have a convention monitoring issues. I tend to work off of mentions (which is why I received your comment above), while other developers may not see and issue until it's assigned to them.

Assigning to @ariel-phet to prioritize and assign this issue.  And perhaps to address the issue of how developers should monitor public

[2020-11-04 20:53] pixelzoom commented on #141
Assigning to @ariel-phet (development manager) to prioritize and assign this issue.

[2020-11-04 22:27] ariel-phet commented on #141
@sebastianduran this repo is generally for internal PhET business and documentation.

For a question such as this one please join the Developing Interactive Simulations in HTML5 Google Group

https://groups.google.com/g/developing-interactive-simulations-in-html5/c/O1cJem3VW18?pli=1

Closing

[2020-11-04 22:27] #141 closed

[2020-11-05 01:45] NickCrews commented on #150
Made an example PR request at https://github.com/phetsims/chipper/pull/994

[2020-11-05 19:31] #129 closed

[2020-11-05 19:33] zepumph commented on #129
@NickCrews, thanks for the ping! The documentation was updated over in https://github.com/phetsims/phet-info/pull/148. @bardobrado @Piet-G @NickCrews let us know if this issue continues.

[2020-11-05 21:19] zepumph commented on #150
I would say that the primary formatting ground-truth is the IDEA xml: https://github.com/phetsims/phet-info/blob/master/ide/idea/phet-idea-codestyle.xml.

This is super interesting! We recently added pre-commit hooks for linting and unit tests, and I feel like this could be a huge benefit as well. Unfortunately the idea xml is really the only maintained code style. I'm not sure about https://githu

[2020-11-06 18:29] pixelzoom commented on #150
FYI... This has been discussed in https://github.com/phetsims/chipper/issues/761 ("Change to a cross-platform enforceable code formatting style").   There has been no progress on that issue since July 2019.

[2020-11-06 18:30] pixelzoom commented on #150
Perhaps we should close this issue as "duplicate", and continue the discussion in phetsims/chipper#761 ?

[2020-11-06 18:35] NickCrews commented on #150
Thanks @zepumph! I had a couple ideas of what questions would probably be useful to talk about in your meeting:

1. Do you want to keep your current style exactly as is? It's OK if it changes a bit if a new formatter doesn't support everything the IDEA xml supports? Is it OK to change a huge amount, like if it uses [prettier](https://prettier.io/), which purposefully has few options to tweak?
2. W

[2020-11-06 18:36] NickCrews commented on #150
Oops, just saw @pixelzoom 's comment above mine. Will read that now.

[2020-11-16 18:45] ariel-phet commented on #143
The sim conversion issue is https://github.com/phetsims/phet-info/issues/143

[2020-11-23 18:28] Denz1994 commented on #150
From dev meeting on 11/23/20:

JO/MK: Using js.beautify to match our pattern would be a step in the right direction.

SR: I'm recalling that using Prettier did not work well with our typical code formatting.

JO: I'm open to changing our styling format in comparison to Prettier. It would depend on what is easier to read and review some examples. We could also write our own formatter that fits our

[2020-11-23 20:33] zepumph commented on #150
I want to make sure to highlight this point. It was the general consensus from today's meeting that though we have "preferences" for code formatting, we all seemed to feel that those should come second to being an inclusive, open-source project in which formatting/code-style is not a barrier to contribution.

Great summary, thanks @Denz1994! My hope for a demonstration is to create a grunt task th

[2020-11-24 01:47] NickCrews commented on #150
Thanks for looking at this more! Let me know if you want my help, I could do maybe 2hrs/week.

I just updated my experimental https://github.com/phetsims/chipper/pull/994, check it out, I'm not sure if that's what you meant by `a grunt task that devs can run on a repo and look at their working copy changes for how different the node auto formatter is from webstorm.`

[2020-12-01 18:50] mattpen commented on #147
This was completed today.

[2020-12-01 18:50] #147 closed

[2020-12-01 18:57] mattpen commented on #145
Summary and detailed documentation has been added.

[2020-12-01 18:57] #145 closed

[2020-12-01 20:12] mattpen commented on #138
Changing this at this point would cause more confusion that it would prevent.  Closing.

[2020-12-01 20:12] #138 closed

[2020-12-07 18:44] zepumph commented on #93
@samreid, this section of the design patterns doc looks incomplete, we still have a "for discussion" section at the end, can you explain what should be done here?

[code]

[2020-12-08 02:10] samreid commented on #93
Good find, thanks!  I think those parts can be removed and I'll commit shortly.

[2020-12-08 04:12] #93 closed

[2020-12-12 00:32] jbphet commented on #143
The conversion of all sims to ES6 is now complete, so I'm removing the "on-hold" label and adding the developer meeting label.

[2020-12-17 19:54] ariel-phet commented on #143
MK: If we do this work we can get rid of `extend` usage

JO: Doing the work in this issue is a good idea but keeping `extend` around might be useful. For instance, if you need to cases where class inheritance does not apply.

[2020-12-17 19:57] ariel-phet commented on #143
@jonathanolson will create a chip-away issue (with a checklist in the style of our other chip-away issues) to enumerate where the old pattern is used.

[2020-12-18 02:11] zepumph commented on #150
Wow. Sorry that 3 weeks have passed (rude). After taking a look, I felt like it was safe to merge to master. I npm installed and formatted master of `ratio-and-proportion`, and I found that things looked a bit better with this patch:

[code]

I feel like this is a nice example of what jsbeautify could do, but I also think it would be worth following advice in https://github.com/phetsims/phet-info/

[2020-12-18 02:36] zepumph commented on #150
I see three consistent differences from the webstorm:

1. Newline at the end of each file (I like that)
2. No object literals defined on one line, even when a function parameter
3. Spacing on the 2nd and more line when you break up statements. In the new version, it is always one level more of indentation, but in webstorm, it tries to align it with the context.

I would like to see what Prettier d

[2020-12-19 03:58] zepumph commented on #150
From https://github.com/phetsims/chipper/pull/994#issuecomment-748355504, while we are experimenting, it would be best to not add this as a dependency to all of chipper's gruntfile, so I am going to lazily require it for now.

I also noticed that in some files, the current formatting adds a newline at the top of the file above the copyright. That is annoying.

[2020-12-22 18:39] zepumph commented on #150
I just added in Prettier to compare, and here are the things that I notice to be different:
1. Adds a `0` to all decimals ".4" => "0.4"
2. All spacing around if statements, arrays, function parameters, and their parens/brackets disappears: `    if ( this.ratio.movingInDirection() ) {` => `    if (this.ratio.movingInDirection()) {`
3. Generally, where we have newlines and wrapping for comma separat

[2020-12-22 18:45] zepumph commented on #150
I think I am ready to get some feedback from other developers. For next dev meeting, please try out `grunt format` on your favorite repo, using both parsers for experimentation. Right now it isn't totally clear if js-beautify or Prettier is the better way to go.

0. Pull chipper
1. `npm install` in chipper
2. cd to some repo
3. `grunt format` (which uses js-beautify)
4. Compare the working copy ch

[2020-12-23 16:18] NickCrews commented on #150
Thanks so much @zepumph for keeping this rolling! 🚀 Looks like some great tweaks to my initial prototype.

I don't really care as to the details of how they look, and y'all are the real ones who have to live with it, so I recognize your preferences here are definitely more important (I just wanted an easy way to conform), but here are a few thoughts:

js-beaufity:
(quoting @zepumph's analysis abov

[2020-12-30 17:44] samreid commented on #150
After testing prettier on circuit-construction-kit-common, I would like to change my opinion on this issue.

Readable code is essential to code maintainability. While some aspects of code formatting are indeed "bike shedding" and would be fine either way, there are enough cases where one format is objectively clearer than another--and better enough that it warrants flexibility.

For example, here

[2020-12-30 18:15] zepumph commented on #150
@samreid, there were two different formatting modules to try, but I only heard you compare "prettier", which is less flexible. Did you do any comparing of js beautify by using "grunt format" without the prettier option? In my mind js beautify was more likely to be accepted by this dev team. What grunt command did you use?

[2020-12-30 19:26] pixelzoom commented on #150
Unfortunately, I don't have time to participate in this issue by comparing modules. But I thought I'd weigh in to say that I share the prettier concerns raised by @samreid in https://github.com/phetsims/phet-info/issues/150#issuecomment-752703293.

[2020-12-30 20:05] zepumph commented on #150
Ideally as many as possible would be able to go to a repo written in your own code style with no working copy changes, run `grunt format`, and see what you think. If no one has done this by dev meeting, then likely no progress will be made on this.  I will again repeat that it isn't clear to me what formatting tool @samreid was using in https://github.com/phetsims/phet-info/issues/150#issuecomment

[2020-12-30 21:07] pixelzoom commented on #150
@zepumph said:

The first sentence of https://github.com/phetsims/phet-info/issues/150#issuecomment-752703293 says:

... and then he mentions "prettier" at least 7 more times.  So I'm assuming that his comments were specific to prettier.

[2020-12-30 21:16] zepumph commented on #150
If that is indeed the case, then I am very interested to hear what both of you think about the current `js-beautify` strategy, which can be used with `grunt format`. `Prettier` to me was always much more of a stretch to think that we could make it work on the project. That is why it is only an option to `grunt format` right now. It is very inflexible. If we were starting a js project from scratch,

[2020-12-30 22:50] samreid commented on #150
My remarks in https://github.com/phetsims/phet-info/issues/150#issuecomment-752703293 were about prettier.  I decided to test it first since:

* Prettier is significantly more popular than jsbeautify (38k stars vs 7k)
* Jsbeautify indicates it may not be well-maintained in the future.  Last release was Aug 20
* WebStorm has built-in support for Prettier, but not beautify
* Other comments in this i

[2020-12-30 23:30] pixelzoom commented on #150
IntelliJ IDEA can format code from the command line, see https://www.jetbrains.com/help/idea/command-line-formatter.html.  Could this be done on the server as a nightly task?

[2020-12-31 01:33] NickCrews commented on #150
I guess it comes down to how hard you want to follow the mantra `no one should have to worry about formatting code`. When I was working with @chrisklus, he had his formatter set up one way, I had mine another, and they constantly fought with each other. It was both time consuming and untenable for either of us to try to manually follow one of our styles, so we got a mix. I couldn't easily use hist

[2020-12-31 02:39] zepumph commented on #150
Thanks! That is very helpful for me to hear.

My vote is 100% towards an automated solution, and I don't care at all about what the code looks like. I'll get used it. I hear the argument towards a project like Prettier which is better maintained and supported. I'm excited for a dev meeting discussion.

[2021-01-01 00:47] samreid commented on #150
Thanks for reporting on your experience in collaborating with different code formatting tools--that's very helpful for us to better understand the problem we are facing. I agree we should work toward a fully automated and IDE-agnostic solution.

Regarding prettier: I think prettier has some suboptimal opinions that are not a good match for the legibility of our project.  I pointed out patterns in

[2021-01-03 22:34] samreid commented on #150
In the above issues, I updated to ESLint 7 and added options for `--fix and --patterns`.  Here is a file of formatting rules that I adapted from the airbnb configuration.  I relaxed several rules so they wouldn't conflict with master too much, but we could make this more strict as desired. (I tagged lines of code with TODO referencing this issue):

<details>

[code]
</details>

Basic testing instr

[2021-01-07 22:01] samreid commented on #150
We discussed this today in dev meeting:

CM: WebStorm needs to know about code style for cursor placement, and live templates.  Can we continue maintaining both the WebStorm XML in addition to the ESLint?

MK: ESLint --fix seems promising, how should we try it out?

CM: I'm not interested in seeing a lot of red underlined errors for formatting issues.
SR: We could use "warn" for the style rules?
M

[2021-01-07 22:04] zepumph commented on #150
I would love to take a look at @samreid's lint rules and see if we can fine tune them to be more like the webstorm rules.

[2021-01-08 21:15] samreid commented on #150
I tried running eslint without grunt, and it was much faster:

[code]

The same thing takes `3.746s` with grunt.  This is with the rule set checked in to master, not the patch from above.  There may be a big difference in performance on Windows too.

[2021-01-12 03:43] samreid opened #151 "Update new sim repo instructions about phettest"
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/647.  The new repo checklist says:

It is my understanding that we are moving toward using https://bayes.colorado.edu/dev/phettest/, which does not require VPN.  Is that correct?  Are we still maintaining phettest.colorado.edu?  Should the instructions say to update both?

@zepumph can you please advise?

[2021-01-12 19:41] zepumph commented on #151
https://bayes.colorado.edu/dev/phettest/ is the future, we should just keep https://bayes.colorado.edu/dev/phettest/. My hope is that we could retire phettest.colorado.edu, though I wanted some amount of time for us to experiment with the bayes one before taking the other offline.

[2021-01-13 00:09] kbalmer33 opened #152 "hi"
hi

[2021-01-13 04:44] samreid commented on #151
Excellent, thanks! Closing.

[2021-01-13 04:44] #151 closed

[2021-01-20 20:18] ariel-phet opened #153 "PhET confidentiality obligation MD file"
In relation to PhET priviacy policy being drafted:

Create a PhET confidentiality obligation in phet-info that will apply to all PhET employees, agents, and contractors

PhET takes the confidentiality of user personal information very seriously. We employ reasonable security practices for protecting user information. We tightly restrict access to user information to PhET employees, agents, and con

[2021-01-22 01:58] ariel-phet commented on #153
@oliver-phet here is a first draft of a confidentiality policy

https://github.com/phetsims/phet-info/blob/master/policies/Confidentiality-of-user-information.md

Would be good for both you and @kathy-phet to review

[2021-01-22 23:26] oliver-phet commented on #153
Yep, I think this looks like it should cover our bases. @kathy-phet let me know when you have a chance to review.

[2021-01-25 17:01] zepumph commented on #150
I'll add this back to dev meeting once I have a chance to look at it, I think this thursday.

[2021-01-28 17:15] pixelzoom commented on #134
I'll take this one over, low priority.

[2021-02-03 00:12] pixelzoom commented on #134
I was happy to discover that @jonathanolson already handled this in https://github.com/phetsims/phet-info/commit/1a1b80fc6cf9c62a2bf90af81fa82dd720342bfa#diff-a633fe0bc1c3bf0252772f5bdeb4d8eb0a910e98d456e3cb6f1c61dbeb6eaef3 for phetsims/chipper#905.

Closing.

[2021-02-03 00:12] #134 closed

[2021-02-11 19:59] samreid commented on #143
Developer Meeting:

@zepumph volunteered to help identify existing cases that can be ported to the new style, thanks!

[2021-02-11 20:19] zepumph opened #154 "Convert to new pattern for mixin/traits"
From https://github.com/phetsims/phet-info/issues/143, here is the list of mixins and traits in the project that we should update to use the "new" pattern. See `Popupable` as an example of the new, es6 style of mixin/trait creation.

using `mixInto:` as a search

- [ ] Paintable.js
- [ ] Poolable.js
- [ ] Leaf.js
- [ ] AccessibleNumberSpinner.js
- [ ] AccessibleSlider.js
- [ ] AccessibleValueHandl

[2021-02-11 20:20] zepumph commented on #143
https://github.com/phetsims/phet-info/issues/154 has been created. @jonathanolson what else would you like to see for this issue? Do we need to update documentation or processes at all?

[2021-02-11 20:25] zepumph commented on #143
Actually, @jonathanolson, I have one question about how to convert traits. The main pattern we use when adding features to Node (and often Node subtypes) is to mixin the features in that parent class before exporting the class, for example with ParallelDOM in Node

https://github.com/phetsims/scenery/blob/e4a96cad0bec6eed5cfd5b9d490257de4eed92c0/js/nodes/Node.js#L6704

How would we compose this wi

[2021-02-12 01:52] NickCrews commented on #150
ESlint looks like a promising direction! The work on ESLint looks great @samreid and @jonathanolson!

Regarding

There is [this Sublime Plugin](https://github.com/SublimeLinter/SublimeLinter-eslint), seems like it has enough stars that maybe it's not trash?

If there is anything I could do in regards to this topic to be helpful, let me know. It is a different type of solution, but it was mentioned

[2021-02-15 01:33] jonathanolson commented on #143
The new pattern is like https://github.com/phetsims/scenery/blob/master/js/display/drawables/PaintableStatelessDrawable.js. It would probably be beneficial to work on this together.

It's memoized (so if it's mixed into the super of the same type multiple times, it won't re-do things), and notably that function returns a class. Super and dispose can be overridden just like a class (in this case, i

[2021-02-15 19:50] zepumph commented on #143
Thanks for pointing out that example. I think pairing would be nice, as I still have the following questions about how to convert ParallelDOM

* Doing the pattern like `class Node extends ParallelDOM( PhetioObject ) { ... }` feels weird and wrong to me since ParallelDOM is a trait only to be used with Node and its subtypes (yet it gets mixed in sorta as a "before" step to gaining Node functionalit

[2021-02-19 06:14] zepumph commented on #150
General thoughts I have about this issue:
* To me it is most important to have a grunt task that can be used by individuals that don't use webstorm, and generally conforms with the IDE formatting. We don't want two ways of doing things, but we also want to be flexible without blocking individuals that don't have webstorm with phet's codestyle integrated.
* I want the `grunt format` task pretty muc

[2021-02-24 17:49] samreid commented on #150
Excellent, that sounds great.

Let's move it to our general lint rules.

Maybe we will conceptualize --format as that it adds the formatting rules rather than only using the formatting rules.  If we conceptualize it like that, would we change the command line option name?  Or how difficult would it be to change the implementation so that --format means to only use the formatting rules.  I don't mi

[2021-02-24 19:08] zepumph commented on #150
Ah ha! I found the ESLint option `useEslintrc`. Looks like setting that changes things to only lint from the rules we specify in `lint.js`. I don't think this is the way to go though, for example, in scenery it gets rid of the bitwise workaround we had, as well as causing problems like not recognizing the `sceneryLog` global (specified in its package.json). In addition I had to make a base type fo

[2021-02-24 19:16] zepumph commented on #150
We could create a grunt task that just forwards to `grunt lint --format --fix`, but I think that will be more confusing than helpful.

[2021-02-24 19:20] zepumph commented on #150
I added no-multi-spaces above, and that fixes this. Presumably we can continue to hone in these rules as we use them more.

[2021-02-24 19:37] samreid commented on #150
Upon reflection, I would like to recommend a change of course which I realized after working on https://github.com/phetsims/chipper/issues/1010.  The proposal in the preceding comments is that we divide our rules into 2 categories:

(1) our main lint rules which don't address formatting and are not fixable
(2) purely formatting rules which are all fixable

I don't think this is the right dimension

[2021-02-24 19:50] zepumph commented on #150
I totally understand your argument to inline as many rules as possible in our general rules. I feel like I am less confident doing that now because I don't understand our formatting rules very well. In an ideal world, webstorm would perfectly work with the `--format --fix` rules, and would get rid of any underlining of errors from formatting. I feel like we will learn more as we use --format more.

[2021-02-24 22:11] samreid commented on #150
I thought during dev meeting, we decided against an auto-commit that changes formatting every night?

[2021-02-24 22:46] zepumph commented on #150
I thought only to the extend that webstorm formatting would fight the auto formatting. Even if it is just space difference. I wouldn't want an automatic process fighting dev's formatting. First I want to make sure that webstorm and --format linting are completely compatible.

[2021-02-26 14:03] samreid opened #155 "Reformat all code according to the PhET code style rules"
From https://github.com/phetsims/phet-info/issues/150#issuecomment-785330592, and it is common that I make code changes and press reformat only to see many other spurious changes in the file.  It seems we need to format the code, and a process to keep it formatted.  I'll take an initial look.

[2021-02-26 14:10] samreid commented on #155
I made a fresh import of the webstorm rules, to make sure that I have the right style.  I also checked Fourier and Natural Selection, and saw a minimal number of differences.  I'm not sure what explains them--perhaps the code wasn't formatted before committing.

[2021-02-26 14:49] samreid commented on #155
I applied formatting to js directories in our repos.  I used this custom scope (specific to my paths), it excludes phet-io-website

[code]

I'll set a calendar reminder to run this again in a month, deferring until then.

[2021-02-26 14:53] samreid commented on #150
In https://github.com/phetsims/phet-info/issues/155 I formatted everything and showed a scope that would make it easy to reformat js code in the future.  Now that that's done, it will be easier to check which of the proposed formatting rules are compatible with our WebStorm rules.  If a formatting rule is 100% compatible with our WebStorm rules, is there a good reason not to move it to our main li

[2021-02-26 17:54] samreid commented on #150
First I moved the `array-bracket-spacing` rule to the main rules (as described in https://github.com/phetsims/phet-info/issues/150#issuecomment-786695043) , and it seemed so nice that I moved other rules that were passing or almost passing. `time grunt lint-everything --disable-eslint-cache` takes `1m4.294s` but in my opinion that sounds worth it.  Several other rules remain in the format eslint f

[2021-02-26 18:10] NickCrews commented on #150
Hey, I'll try to check this out within the next couple days, thanks!

[2021-02-26 18:18] samreid commented on #150
The rule failing in joist is `indent` in simlauncher.js.  Commenting out `import()` gets it working again.  ESLint recently approved support for `import()` in `https://github.com/eslint/eslint/issues/11486` but perhaps our version of ESLint is too old.

[2021-02-26 18:32] samreid commented on #150
I opted out of the `indent` rule for `simLauncher.js` and now you can format joist (aside from indenting that file).

[2021-02-26 18:33] zepumph commented on #150
https://github.com/davedoesdev/webauthn-perk/commit/f9be9c7eb6a8b2bddf72e9d48838523476cce8fe makes it seem like we may already have the right version, but perhaps need to specify the right parser.

[2021-02-26 18:36] zepumph commented on #150
This did not work with the `indent` rule:

[code]

Your commit looks just fine.

[2021-02-26 18:37] zepumph commented on #150
I'll commit to joist with format --fix.

[2021-02-26 18:40] samreid commented on #150
That is not currently compatible with the WebStorm formatter.

[2021-02-26 18:42] zepumph commented on #150
- [ ] @samreid I worry that adding `no-multi-spaces` fixed the case you had with extra spaces in assert, but got rid of potentially nice formatting of line comments, like js/UpdateState.js in https://github.com/phetsims/joist/commit/fab2e1e841ae6ada4b3676f4aebd48a8fb9432c7:

![image](https://user-images.githubusercontent.com/6856943/109341321-bbc81e00-7816-11eb-928b-f471823b2c77.png)

[2021-02-26 19:37] zepumph opened #156 "Move formatting rules to general rules"
From https://github.com/phetsims/phet-info/issues/150, but we don't want to clog that up as we move and auto fix issues.

[2021-02-26 21:30] zepumph opened #157 "add no-bitwise lint rule"
From https://github.com/phetsims/phet-info/issues/150, it was a formatting rule, but we only saw a rare few spots that warranted it (outside of scenery).

Steps for this issue:

- [x] make sure scenery sets this rule off (https://github.com/phetsims/scenery/blob/050d7b94745fd5e7dce783f402b472fb0220f722/package.json#L34)
- [x] Convert usages of ` | 0 ` as a way of type casting to an int to somethin

[2021-02-26 22:28] zepumph commented on #156
@samreid and I went through all formatting issues, and added them to general when we found that they were (a) already being followed well by our project, and (b), that webstorm fixes them with auto format nicely.

Closing

[2021-02-26 22:28] #156 closed

[2021-02-26 22:31] zepumph commented on #150
We made the formatting rules much more sparse in https://github.com/phetsims/phet-info/issues/156, by moving most of the ones that made sense, and were easily fixed by webstorm formatting over to the general lint rules. Thus there are only  a few left in the formatting eslintrc. We also went through all the commented out and "off" rules and only kept those that felt like they could bring us closer

[2021-02-27 00:02] samreid commented on #157
Fixed, this seemed straightforward (even though we haven't used Math.trunc before).  Closing.

[2021-02-27 00:02] #157 closed

[2021-03-04 05:22] samreid commented on #153
I corrected some typos and spelling errors in the commit.

[2021-03-04 17:41] jessegreenberg commented on #153
While reviewing read-for-review issues we found this one, @oliver-phet reassigning to you to move forward.

[2021-03-04 18:00] pixelzoom commented on #154
Here's an article on moving from mixins to "automated composition":
https://raganwald.com/2016/07/20/prefer-composition-to-inheritance.html

[2021-03-04 18:02] jessegreenberg commented on #154
Discussed during 3/4/21 meeting -

JO: There is an issue with the new pattern for mixin/trait where there isn't IDE support.
SR: Maybe we should transtion away from mixins?
MK: If IDE support is the only bad part of this, can we make our own pluggin to support it?

Sounds like there are loose ends still, we will pick it up next time.

[2021-03-04 18:03] zepumph commented on #154
Looks like we are not in the "now we convert" phase here, I will note that perhaps https://github.com/phetsims/phet-info/issues/143 is the better issue to discuss this in. Unassigning.

[2021-03-04 18:05] pixelzoom commented on #143
Over in #154, we decided to revisit this issue. @samreid mentioned lack of IDE support for mixins (new and old patterns) and suggested that we investigate using compostion instead of mixins.

Here's an article that enumerates pitfalls of mixin, and discusses moving from mixins to "automated composition":
https://raganwald.com/2016/07/20/prefer-composition-to-inheritance.html

[2021-03-04 18:07] zepumph commented on #154
@pixelzoom had the right idea over in https://github.com/phetsims/phet-info/issues/143#issuecomment-790816167! Unmarking for dev meeting. On hold until we finish discussion over there.

[2021-03-04 18:09] zepumph commented on #143
@jessegreenberg's comment from over in https://github.com/phetsims/phet-info/issues/154#issuecomment-790814051

JO also mentioned a new pattern called [Entity component system](https://en.wikipedia.org/wiki/Entity_component_system)

[2021-03-04 18:17] zepumph commented on #143
We then found that with the new mixin pattern, WebStorm was smart enough in `Image` (which `extends Imageable( Node )`), to auto complete Node methods and api.

[2021-03-04 19:48] oliver-phet commented on #153
I removed my assignment after completing review on Jan 28. This should just be assigned to @kathy-phet and included in the privacy policy project.

[2021-03-04 20:05] jessegreenberg commented on #143
3/4/21 -

@samreid is going to investigate the new mixin/trait pattern to see if we can find IDE or other issues before converting. Assigning to him, and we will discuss again after.

[2021-03-04 21:05] NickCrews commented on #150
I got a chance to read through everything, but I still don't quite understand what the expectations are for how external contributors should lint and format their code. I figured it would be better to actually add this to the docs instead of just explaining it here, once to me. Therefore I started https://github.com/phetsims/chipper/pull/1016 with my initial go at tweaking the docs to better recor

[2021-03-04 21:06] NickCrews commented on #150
@samreid @zepumph looks like I can't directly assign this to you, and I should probably still be assigned to this as well. Thanks!

[2021-03-04 21:42] zepumph commented on #150
Sorry about that. @NickCrews can you please comment on the formatting that is output from `grunt lint --format --fix`

[2021-03-04 21:53] zepumph commented on #150
Wow. This whole thing looks really nice. Thanks for all the work!

You should only commit code that has been gone through `--format --fix` linting. Does that sound right to you?

[2021-03-04 22:10] zepumph commented on #150
@NickCrews, basically @samreid and I determined last Friday that we had taken these rules as far as we could. Most developers on the project use Webstorm for their formatting, and like that workflow. @samreid and I spent time trying to integrate as many formatting rules into our general eslint config to bridge that gap, but rules we felt like were not quite identical to Webstorm's code style we pu

[2021-03-07 17:03] NickCrews commented on #150
Thanks for this summary that is super helpful, and thanks for taking off on my tweaks above and finishing them off.

The progress you and @samreid have made in this seems great, that's awesome that you've been reducing the gap from the general lint rules to the webstorm xml. That seems like a good compromise for PhET, with external contributors submitting changes minimally different from the gold

[2021-03-07 17:03] #150 closed

[2021-03-08 17:21] samreid commented on #143
To investigate, I compared `class FlowBox extends WidthSizable( HeightSizable( Node ) ) {` with `Node`.

Testing auto-complete on a Node instance shows correct completion options:

![image](https://user-images.githubusercontent.com/679486/110354234-2fc3ac80-7ff5-11eb-9a50-a9dccc10dfbf.png)

Testing auto-complete on a FlowBox doesn't know what to do:

![image](https://user-images.githubusercontent.

[2021-03-08 23:05] pixelzoom commented on #143
FYI, I had an excellent experience converting a mixin to composition in https://github.com/phetsims/ph-scale/issues/210.  This was the only place that I was using mixin in code that I'm responsible for.  It always felt unnecessarily complicated, somewhat obfuscated.  I'm very happy with the switch to composition.

[2021-03-11 18:19] samreid opened #159 "Create "type:quarterly" label"
From today's status meeting:

I volunteered to create the label.  Epic is #4B0082, already pretty dark, so let's go with a shade lighter at #603680.

![image](https://user-images.githubusercontent.com/679486/110835217-c0032b00-825b-11eb-9cc4-c2a5b10af617.png)

[2021-03-11 18:24] samreid commented on #159
Maybe #6d458a would be better?

![image](https://user-images.githubusercontent.com/679486/110835446-09ec1100-825c-11eb-9779-ef8fcc7d25c5.png)

[2021-03-11 18:25] samreid commented on #159
Or how about this #735da6

![image](https://user-images.githubusercontent.com/679486/110835747-71a25c00-825c-11eb-9ee7-3bfd2f503677.png)

[2021-03-11 23:02] samreid commented on #159
I ran the script and checked a few repos to see that it appeared as expected.  I'll notify the team on slack.  Closing.

[2021-03-11 23:29] samreid commented on #159
@zepumph reported that this label is missing from repos such as `ratio-and-proportion` and `tasks`.  @mattpen can you please advise how to proceed?

[2021-03-18 17:50] jonathanolson commented on #59
Apologies about the delay! Handled the above cases.

A few have come up, and I'm not confident in handling them myself:
[code]

@jessegreenberg are you familiar with these cases?

[2021-03-18 19:29] jessegreenberg commented on #59
Thanks, these were easy to convert to stepTimer.  These were the last ones so I added what was commented out in bad-sim-text in https://github.com/phetsims/chipper/commit/56e25043d49b16ecbfa004b8d4216ec9f3c69e63. @samreid @zepumph is there anything else to do for this issue?

[2021-03-19 01:33] zepumph commented on #59
Very exciting! Thanks

[2021-03-19 01:33] #59 closed

[2021-03-25 23:47] samreid opened #160 "Create "status:ready-for-cherry-pick" or "status:ready-to-cherry-pick" label"
At today's developer meeting, we agreed to create a new label "status:ready-for-cherry-pick".  Here are the written notes from dev meeting:

@zepumph said he would sometimes also use it as part of his workflow.

@mattpen can you please take the lead on creating this label?  My last attempt at labeling in #159 only worked on some of the repos.

The written label was "status:ready-for-cherry-pick" b

[2021-03-30 20:19] samreid commented on #143
I think we would maintain the API via forwarding methods, like:

[code]

I'm not opposed to duplication of these adapter-style methods because they are simple, clear, and unlikely to hide bugs.

[2021-03-30 21:32] jonathanolson commented on #143
But any addition requires finding everywhere it's used and applying refactoring. It also adds runtime overhead, additional boilerplate code, etc.

[2021-04-08 17:11] samreid commented on #159
@mattpen suggested running the script several times to see if it could hit the missing places.

[2021-04-08 17:20] samreid commented on #159
There are only 30 repos in .repos, could this explain the problem?

[2021-04-08 17:22] mattpen commented on #159
.repos should get generated automatically from a github api query.  I think it is failing due to some bad assumptions I'm making in that script about json.  I should be able to make some time for this today or tomorrow (4/9/21)

[2021-04-08 17:23] samreid commented on #159
Thanks.  For now, I copy/pasted perennial/data/active-repos.  That should get most of them, but I don't think that list is complete.  It only has 174 repos at the moment.

[2021-04-08 17:26] samreid commented on #159
OK that finished and seems good enough for now.  The command for future reference (if we want to run it again after .repos is corrected) is:

[code]

[2021-04-08 20:07] mattpen commented on #159
After fixing the repo generation script I reran this and it picked up the remaining repos.

[2021-04-08 20:07] #159 closed

[2021-04-10 21:27] samreid commented on #160
The changes are mainly in https://github.com/phetsims/phet-info/commit/91574b2d8966552d9811df901caa0bfac9e3f694

[2021-04-12 14:20] samreid commented on #143
Summary for April dev meeting:

1. @samreid confirmed that the proposed mixin pattern `class FlowBox extends WidthSizable( HeightSizable( Node ) )` does not support autocomplete/highlighting/navigation.
2. @pixelzoom affirmed that composition is preferable to mixins when it is possible.  @jonathanolson points out that we still want to maintain the same API even if we use composition, and I agree.

[2021-04-12 16:50] zepumph commented on #143
Today we noted that the new mixin pattern is a regression on Webstorm syntax highlighting for the supertypes. The main blocking issue is here is that Webstorm syntax highlighting.

JB and CK would like to have syntax highlighting, and don't use mixins very often, but don't feel like highlighting is  a deal breaker to the new feature.

CM: Messing up the supertype's api is a big problem to me.

SR:

[2021-04-12 16:51] zepumph commented on #143
@samreid will look into using jsdoc, and @jonathanolson will investigate the others.

[2021-04-16 22:22] samreid commented on #143
I investigated `@mixin` and `@mixes` in an isolated context, using this code example:

[code]

For autocomplete, the `@mixes` annotation doesn't seem to do anything.  It wants to autocomplete anything in the file.

![image](https://user-images.githubusercontent.com/679486/115089399-6089e200-9ecf-11eb-90a3-0ac684a71925.png)

However, for navigation, it's a different story.  If I put `Person @mixes

[2021-04-16 22:29] samreid commented on #143
I tried instantiating a new FlowBox at the bottom of FlowBox.js, and added `@mixes WidthSizable` like so:

[code]

[code]

It did not have any ideas about autocompleting `preferredWidthProperty`:

![image](https://user-images.githubusercontent.com/679486/115089892-94193c00-9ed0-11eb-8579-3173c16a0147.png)

If I removed the `memoize` at the WidthSizable declaration, then it does better:

![image](h

[2021-04-16 22:34] samreid commented on #143
I tried

[code]

and it was unable to autocomplete freeToPool:

![image](https://user-images.githubusercontent.com/679486/115090201-7bf5ec80-9ed1-11eb-9642-b0ba1e10fbc1.png)

[2021-04-19 16:44] jonathanolson commented on #143
So... potentially we could get rid of the memoize? It's designed to be better for memory/performance, but I haven't measured the effects.

[2021-04-20 22:53] zepumph commented on #49
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-22 15:46] samreid commented on #143
An initial look at Typescript seems very promising, see https://github.com/phetsims/tasks/issues/987.  Perhaps we don't need to spend too much time finding the perfect long-term solution for this issue if we can migrate to typescript instead.

[2021-04-23 15:26] samreid commented on #49
Deleted via the GitHub web interface, closing.

[2021-04-23 15:26] #49 closed

[2021-05-11 21:54] #160 closed

[2021-06-04 14:53] pixelzoom opened #162 "PhET Development Overview has incomplete sections"
While responding to a Google Group question about how to debug sims, I noticed that 2 sections of the [PhET Development Overview](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md) are currently incomplete:

The Google Group thread and my response is https://groups.google.com/g/developing-interactive-simulations-in-html5/c/h2GKy83RjwY.   Some of my response might b

[2021-06-10 18:15] samreid commented on #162
@chrisklus volunteered to write up basic sections, he can reference https://groups.google.com/g/developing-interactive-simulations-in-html5/c/h2GKy83RjwY accordingly.  The "chrome dev tools" section should be somewhat simple/general since we will have to maintain it for the long term.

[2021-06-10 18:20] samreid opened #163 "Improve developer resources for Google Group"
@pixelzoom reported that there are some questions that are asked repeatedly in the Google Group.  Particularly about how to get started.  How can PhET better support our clients for this?

* FAQ?
* Improve example sim? See https://github.com/phetsims/example-sim/issues/13
* Monthly webinar?  Clients can share their screens, ask questions,...
* ???

PhET will need to evaluate how many people this w

[2021-06-10 18:24] samreid commented on #163
@pixelzoom also volunteered to create an issue in example-sim for those recommendations?

[2021-06-10 18:35] pixelzoom commented on #162
For the  "chrome dev tools" section...  I don't think you want to flesh out this section. Trying to keep descriptions, steps, screenshots, etc. up-to-date as Chrome Dev Tools evolves would be costly at best, and would more likely not happen.   So I think it would be sufficient to say something like my reply in https://groups.google.com/g/developing-interactive-simulations-in-html5/c/h2GKy83RjwY:

[2021-06-22 17:10] pixelzoom commented on #163
example-sim was significantly improved in phetsims/example-sim#13 and has already benefited one Google Group member.

Re the other suggestions...

FAQ: My post https://groups.google.com/g/developing-interactive-simulations-in-html5/c/jNXvJwkXj7k seems to have become a defacto "how to get started" FAQ.  It feels like I refer someone to it once a week.  Putting together a list of FAQ questions and a

[2021-07-02 18:16] pixelzoom opened #164 "Rename sim_new_checklist.md to sim_master_checklist.md"
Proposal to rename sim_new_checklist.md to sim_master_checklist.md, since that’s how we refer to it, and the associated GitHub issue title is (by convention) “{{SIM_NAME}} master checklist”.

[2021-07-02 18:18] pixelzoom commented on #164
Looks like someone changed “master” to “main” in the body of the template.  So eventually this should be renamed to sim_main_checklist.md ??

[2021-07-03 02:25] samreid commented on #143
As reported in https://github.com/phetsims/chipper/issues/1049#issue-920727880,  I confirmed the pattern described in https://www.typescriptlang.org/docs/handbook/mixins.html has great IDE support.

[2021-07-08 18:53] jessegreenberg commented on #164
Discussed 7/8/21 - We didn't know why "main" needed to be in the name of this checklist, should we just call it "sim_checklist.md"?

Since this checklist has parts that are signed off by the whole PhET team, we are going to propose the rename to sim_checklist.md at an upcoming status meeting.

[2021-07-15 16:32] zepumph commented on #164
From status meeting today.

@arouinfar wondered if there was a separate list for ports. That has been integrated into this list.

@terracoda wondered if we could integrate the inclusive features checklist (https://github.com/phetsims/a11y-research/blob/e5c307a3ab458a0b9df5be88ff5dfbdc41aae208/issue-templates/description-design-template.md) could be integrated into this one. I think that would be p

[2021-07-19 12:40] zepumph commented on #164
All has been done here; it is up to @terracoda to open another issue if desired for combining inclusive features checklist into this one.

[2021-08-12 19:28] samreid commented on #163
From today's meeting: we had some successes from this group, from the x-ray-diffraction development, statistics sim, etc.  However, we don't want to spend a disproportionate amount of time boosting these resources.  It's been very rare for a community member to contribute back improvements to our common code libraries.  Our code libraries require a minimum amount of skill and proficiency before it

[2021-08-13 16:14] mattpen opened #165 "Are github label scripts still needed?"
https://github.com/organizations/phetsims/settings/repository-defaults

It looks like we can set the default labels for all new repos in the phetsims organization through a settings page now.  Should we do this instead of maintaining the label scripts?

[2021-08-19 18:39] samreid commented on #163
We discussed this again briefly today, @oliver-phet mentioned he is happy to step in and help here, but said it would be more efficient to restructure our resources--adding a FAQ, streamlining that page.  Maybe even moving away from Google Groups if it is making it harder to reach this sustainable goal.

@oliver-phet also mentioned GitHub has a feature called "Discussions", which may be a good alt

[2021-08-19 18:53] mattpen commented on #165
It seems like this doesn't completely replace all the scripts that we use, but it could be used to replace [the script that adds all labels to a new repo](https://github.com/phetsims/phet-info/blob/master/github-labels/new-repo-add-labels.sh), and probably could be used in place of [the data file that holds our labels](https://github.com/phetsims/phet-info/blob/master/github-labels/github-labels).

[2021-08-19 19:19] jessegreenberg commented on #165
Discussed during developer meeting on 8/19/21 -

@mattpen mentioned that some people have had trouble using the scripts so it might be beneficial to move to something that github directly provides.

Since we cannot replace all of our scripts or labels yet, we agreed that it doesn't make sense to replace some but keep others and have two different mechanisms for setting/modifying github labels.

Cl

[2021-08-19 19:19] #165 closed

[2021-08-19 19:32] jessegreenberg commented on #163
Discussed 8/19/21 -

@oliver-phet mentioned that historically we created this group to make it so that it wasn't necessary to go through phetthelp or an administrator to ask questions of developers. Assigning an administrator to the google group feels like the wrong direction in that regard.

@oliver-phet said it was very easy to update the "welcome message" for the google group, it would be easy

[2021-08-26 20:00] jessegreenberg opened #166 "Clarify items in the accessibility portion of the code review checklist"
code_review_checklist.md has some items in the accessibility section that are not as clear as they could be. Also, some of them are only relevant depending on which accessibility features have been implemented.

[2021-08-26 20:04] #166 closed, assigned to jessegreenberg

[2021-10-25 20:19] pixelzoom opened #167 "Problems with "Getting Started" section of Interactive Description Technical Guide"
I’m adding alt input support to Geometric Optics, following the **Getting Started** section in https://github.com/phetsims/phet-info/blob/master/doc/interactive-description-technical-guide.md#getting-started, which says:

After running `grunt generate-a11y-view-html , I see no perennial lists updated.  So the first problem is that there seems to be a command missing from this description.

The sec

[2021-10-26 21:31] pixelzoom opened #168 "Create a Quickstart Guide for alternative input."
The need for a Quickstart Guide for alternative input was discussed at 10/21/21 dev meeting.

Since I just added alternative input to Geometric Optics, I'll throw together a rough guide, while it's fresh in my mind.

[2021-10-27 20:55] #167 closed, assigned to pixelzoom

[2021-11-04 17:30] zepumph opened #169 "Add cross-repo dev:typescript"
This should replace the chipper label.

We like this color: `#0074c1` because it is the logo for typescript

[2021-11-04 17:43] pixelzoom opened #170 "Document PhET software design patterns related to TypeScript."
TS is going to result in revisions to existing PhET design patterns (e.g. options, enumeration), and will likely result in some new patterns.   These TS patterns should eventually be documented, as has been done for JS patterns in https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md.  It's unclear whether they should be documented in that same .md file, in a new .

[2021-11-04 17:44] pixelzoom commented on #170
@zepumph please add the `dev:typescript` label to this issue after you've created it.

[2021-11-04 17:55] zepumph commented on #169
Added, converted chipper:typescript to it, and deleted chipper:typescript.

[2021-11-04 17:55] #169 closed

[2021-11-05 03:29] samreid opened #171 "Improve overview documentation for repos"
For onboarding and general use, we want the repo documentation to exist within the repo, but we are missing a good higher-level document that links to the repos.  As discussed at dev meeting today, I'll add this information to the phet-development-overview.

[2021-11-05 04:02] samreid commented on #171
I've organized and added to this overview documentation, the main entry point is https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#source-code-and-dependencies.  I realized many of the repos have extremely sparse README files--but I think there is another issue to improve upon those.

[2021-11-07 03:32] samreid commented on #171
Documentation added and reviewed with @markgammon, closing.

[2021-11-07 03:32] #171 closed

[2021-11-09 19:13] samreid commented on #170
@chrisklus and I discussed the need for a "conventions" document, which is different than a "design patterns" document and possibly also different than the "code review" doc.  I added a first draft from our collaboration above.

[2021-11-09 20:18] zepumph commented on #170
I think it would be worth noting https://github.com/phetsims/ratio-and-proportion/issues/405, as most of these felt like "conventions" as opposed to patterns or syntax/code-style questions.

[2021-11-10 04:32] samreid commented on #170
I added a few more entries to https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md

[2021-11-26 15:54] pixelzoom opened #172 "Update "PhET Development Overview" for TypeScript."
Now that TS is used in common code, all sims require a compilation step before they can be run. This (and other things?) are not currently reflected in the "PhET Development Overview" document.   Updating this documentment proactively may reduce the pain felt by 3rd-parties as PhET moves to TS.

[2021-11-26 16:55] samreid commented on #172
On Nov 18 I wrote a short message in https://groups.google.com/g/developing-interactive-simulations-in-html5/c/VCAUC6nhI6Q , and linked to it from the breaking changes thread.

Also, some upcoming process changes in https://github.com/phetsims/chipper/issues/1156 will change how we go about this.

[2021-11-29 18:29] pixelzoom opened #173 ""Multiple Exports in One Expression" section of typescript-conventions is out of sync"
In Slack typescript channel, @samreid said:

This change now contradicts the [Multiple Exports in One Expression](https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#multiple-exports-in-one-expression) section of typescript-conventions.md.

[2021-11-29 18:31] pixelzoom commented on #173
Does this affect multiple imports at all?  See https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#multiple-imports-in-one-expression.

[2021-12-02 19:08] pixelzoom opened #174 "Create a Quickstart Guide for UI Sound."
Similar to https://github.com/phetsims/phet-info/issues/168 for alt input, we need a quickstart guide for UI sounds.

Self assigning.

[2021-12-02 19:10] pixelzoom commented on #174
First draft is completed. I'll announce on Slack.  @jbphet please review.

[2021-12-02 19:17] pixelzoom commented on #168
Raising priority since there's been no progress for > 30 days.

[2021-12-03 08:42] hongson23 opened #175 "Can not run any simulation and can not build project with grunt tool"
Hello
It seems to be have breaking change, I can not run any simulation
1. When I tried to run simulation with http-server, It is required some files in chipper's dist folder but I can not find any suggestions in document related to build dist folder in chipper project
![image](https://user-images.githubusercontent.com/4011696/144571979-58fb720e-7e7b-4671-96f1-c48c1d682d87.png)

2. Grunt build is

[2021-12-06 15:44] samreid commented on #175
We have recently converted our codebase to TypeScript.  To convert the TypeScript files to JavaScript which can be run in the browser, please run `npm install` in `chipper/` then :

[code]

Or, for faster iteration, you can enable a watch process:

[code]

[2021-12-06 17:22] samreid commented on #172
Currently the instructions for Mac and Windows are separate and out of sync.  I addressed this by creating a new "Prerequisites" section and unifying the instructions as much as possible.  Here is the current draft, I recommend a review before publishing.  @pixelzoom @jonathanolson or @zepumph can you please review?

<details>

[code]
 git clone https://github.com/phetsims/example-sim.git
@@ -165,

[2021-12-06 17:26] samreid commented on #172
TODO: (not in the patch above): Link to the TypeScript Quick Start guide https://github.com/phetsims/phet-info/blob/master/doc/typescript-quick-start.md

[2021-12-06 20:56] pixelzoom commented on #172
These 2 steps are both global installs, and may require sudo.  But sudo isn't mentioned until the latter step.

Ottherwise the changes proposed in https://github.com/phetsims/phet-info/issues/172#issuecomment-986988067 look good to me.

[2021-12-06 21:02] pixelzoom commented on #172
On macOS, the preferred way of getting git is via Xcode command-line tools.  The instructions for that are at https://git-scm.com/book/en/v2/Getting-Started-Installing-Git.

[2021-12-06 21:08] samreid commented on #172
Thanks I committed the patch with the recommended changes, want to double check any of the changes?

[2021-12-06 21:16] pixelzoom commented on #172
Table of Contents was broken, fixed in the above commit.  @samreid please review, feel free to close.

[2021-12-06 21:18] pixelzoom commented on #172
Another "polish" to the Table of Content in the above commit...  I changed "Building and Testing (Windows and macOS)" to simply "Building and Testing".

[2021-12-06 22:06] pixelzoom commented on #172
Reopening.

Since a `git clone` was missing for README.md in https://github.com/phetsims/chipper/issues/1157#issuecomment-987263880, I'm guess that's also the case for the [Checking Out The Code](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#checking-out-the-code section of this doc.  Maybe that section should be revised to refer to example-sim/README.md, so th

[2021-12-06 22:09] pixelzoom commented on #172
Like README.md files in https://github.com/phetsims/chipper/issues/1157#issuecomment-987262628, this section is missing `npm install` between these 2 steps:

[2021-12-06 22:30] jbphet commented on #174
The content looks reasonable, and I appreciate the effort that went into creating this, but I'm not entirely clear on how it relates to the existing documentation such as https://github.com/phetsims/tambo/blob/master/doc/adding-sound-to-a-sim.md and https://github.com/phetsims/tambo/blob/master/doc/user-guide.md.  There seems to be a fair amount of overlap between this doc and the "Adding Sound to

[2021-12-06 22:46] pixelzoom commented on #174
The problem is that I was never referred to either of the documents in tambo, and I had no idea that they existed. In retrospect, that seems really odd, since I was asking lots of questions when adding sound to Fourier, and it was clear that this was my first experience adding UI sounds. But that's water under the bridge.

I'm going to leave this where it's at, and let the sound team decide whethe

[2021-12-06 23:14] samreid commented on #172
I made those revisions, but am unclear about the relationship between the sim README.md and the overview.  Should all the instructions be in the overview, and the list of dependencies in the sim README?  Do we like duplicating instructions in the sim README?

[2021-12-07 19:02] samreid commented on #172
I updated the READMEs in https://github.com/phetsims/chipper/issues/1157#issuecomment-987262628 and changed the overview to point to the READMEs.  There is still some duplication but maybe we are at a reasonable point for now.

[2021-12-07 20:10] #172 closed

[2021-12-08 08:09] hongson23 commented on #175
hello @samreid
Thank for your answers. I tested follow your suggestions and everything worked well (both http-server for running and build the simulation into a single file)
Thanks

[2021-12-08 08:09] #175 closed

[2021-12-08 19:05] samreid commented on #175
Excellent, thanks @hongson23 for reporting the problem and testing the new instructions.

[2021-12-09 16:06] terracoda opened #176 "Can we add a list of features for this publication on Sim Checklist?"
The sim checklist (https://github.com/phetsims/phet-info/blob/master/checklists/sim_checklist.md) focuses on the traditional design of a simulation.

When this checklist was renamed from "master checklist" to "sim checklist" we also discussed hooking the description design checklist which has some duplication see (https://github.com/phetsims/a11y-research/blob/master/issue-templates/description-de

[2021-12-09 16:28] kathy-phet commented on #176
@terracoda - Can we have two checkboxes for Sound?
Sound: UI
Sound & Sonification: Pedagogical

UI sound is something that will be standard - to support alt input and pan zoom features.

Pedagogical sonification seems like it will be more often taken up when we have funding for description, since one of the multiple roles of sonification is supporting and coordinating with description.

[2021-12-10 17:28] terracoda commented on #176
Sure @kathy-phet, that sounds like a good idea.

[2021-12-10 17:49] terracoda commented on #176
@kathy-phet, do you have any thoughts on where feature list should go? Should it go right under the name and before the Design section starts?

[2021-12-10 17:54] terracoda commented on #176
@BLFiedler, should we add a second checkbox that specifically calls out any teaching materials specific to inclusive features, e.g., Sound Primer video, and ensuring Teacher Tips includes information about the inclusive features.

[2021-12-10 18:35] zepumph commented on #176
Assign me once you have solidified the content and I can add it.

[2021-12-13 15:53] kathy-phet commented on #176
@markgammon - Can you look at this Sim Checklist and advise @terracoda here? Thanks!

[2021-12-13 16:22] markgammon commented on #176
@terracoda, happy to check in with some thoughts about adding content to the checklist. I'll ping you.

[2021-12-13 16:39] BLFiedler commented on #176
Yeah, so I'm not sure how exactly to populate the list for this purpose, but it should somehow be indicated that whenever there's the addition of a feature with additional teacher resources, that they need to be created or updated.

[Here's a link to the quad sim checklist I created for Teacher Resources](https://github.com/phetsims/quadrilateral/issues/29#issue-1048760453), but I'm not sure what

[2021-12-14 13:10] terracoda commented on #176
@markgammon, I realize this is meant to be a high-level checklist. I feel like if we include upfront all features that are to be included when the check list is opened, we can can more efficiently use this checklist with other more detailed checklists, like the one I created for Interactive Description design and implementation (https://github.com/phetsims/a11y-research/blob/master/issue-templates

[2021-12-14 15:32] samreid commented on #173
I updated the documentation and clarified that the new constraint does not apply to imports.  @pixelzoom would you like to review?

[2021-12-14 16:13] pixelzoom commented on #173
Mutliple problems with https://github.com/phetsims/phet-info/commit/ea66eb8e25d1890309e4ba1eca5db1554fa9ae7f:

* The bit about isolatedModules was Greek to me, and I suspect would be to anyone else. No mention of babel. If took me 15 minutes of research to understand what I think was trying to be said here.
* The examples were frankly useless, because I couldn't tell which identifiers were types v

[2021-12-14 16:18] pixelzoom commented on #173
More fixes in the above commits.

[2021-12-14 16:56] samreid commented on #173
Looks great, thanks!  Closing.

[2021-12-14 16:56] #173 closed

[2022-01-03 18:06] pixelzoom commented on #168
This guide needs a section on how to add hotkeys.

[2022-01-12 23:37] pixelzoom commented on #168
Q2 2022 planning meeting:

* @pixelzoom will add section on hotkeys (1 hour)
* @jessegreenberg will review the doc (1 hour)

[2022-01-17 21:14] jbphet commented on #174
I folded the non-redundant information from this doc into the "Adding Sound to a Sim" doc at https://github.com/phetsims/tambo/blob/master/doc/adding-sound-to-a-sim.md and removed this one.  Closing.

[2022-01-17 21:14] #174 closed

[2022-01-19 23:32] mattpen opened #177 "Add metadata for existing prototypes"
We need to add subject, grade level, and a11y feature data to the existing prototypes before publication of phetsims/website-meteor#409.  It looks like this will be part of the prototype checklist moving forward, but it wasn't when these prototypes were published.

[2022-01-21 20:41] pixelzoom commented on #168
In the above commits, I added info about hotkeys and keyboard help.  I also reformatted the document - it was originally a set of "step", and that's no longer appropriate.

@jessegreenberg ready for review. Feel free to make changes/corrections.

[2022-02-01 16:39] chrisklus opened #178 "Error: Cannot find module 'axios'"
When @samreid and I were adding labels for a new repo in https://github.com/phetsims/center-and-spread/issues/2, we got this error:

[code]

The labels seemed to add normally after the error, though.

Assigning to the responsible dev @zepumph.

[2022-02-01 16:59] zepumph commented on #178
@samreid, can you check that this is the same fix here that you did for chipper's package?

https://github.com/phetsims/phet-info/blob/91574b2d8966552d9811df901caa0bfac9e3f694/github-labels/package.json#L3

I updated to the same version, perhaps you need to npm install and try to run the same command again. Ideally all the labels will say they are already created, but I worry we missed something e

[2022-02-04 18:30] terracoda commented on #176
@markgammon, I am not sure how to deal with this issue and updating the main checklist.
Is any action required of me for this issue?

[2022-02-08 19:22] markgammon commented on #176
Have a meeting with @arouinfar and @amanda-phet tomorrow to discuss and get some input on updating the checklist.

[2022-02-09 19:01] amanda-phet commented on #176
Things @arouinfar and @markgammon and I discussed:
- We wonder if something similar to the responsible dev file would be useful to build so that we have a ground truth for which features are in which sims. Or if there is an automatic way to see which features are in a sim, such as with phet marks. Might be worth a quick discussion with a developer about if this could be a way to achieve @terracoda

[2022-02-10 14:49] terracoda commented on #176
I think checking off the features as they are completed makes sense.
I wonder then, if removing the feature if it is not expected to be included in the next major release is a good idea. I am assuming that a new check list would be needed if work on a new and extensive feature started after initial features were implemented and published.

Actually, that thought makes me wonder how this checklist

[2022-02-15 16:09] markgammon commented on #176
It sounds like adding the suggested checkboxes in Amanda's comment in between the Design and Implementation sections and noting whether the feature is included, along with (Started: ) (Completed: ) is a good step. And a follow up would be to consider a shared file, like the responsible dev, to better track the features for each sim (the responsible dev file does not track this now). @amanda-phet a

[2022-02-17 21:41] jessegreenberg commented on #178
I just encountered this too when deleting a label. Script ran fine but hit the axios missing error.

[2022-02-19 04:21] arouinfar commented on #176
Sounds good to me @markgammon!

[2022-02-21 21:27] amanda-phet commented on #176
That sounds good to me.

The responsible dev file has a responsible dev and responsible designer. For most sims, there is a "lead", whether the design includes visual, audio, description... the last person to lead the sim is the lead. So I think we might want to think about what new column(s) that file needs. In many cases, the lead designer is the lead pedagogical and visual designer. When that's

[2022-02-21 22:26] amanda-phet opened #179 "Should responsible dev/designer file be expanded?"
From https://github.com/phetsims/phet-info/issues/176:

@terracoda said

@amanda-phet said

[2022-02-21 22:26] #176 closed

[2022-02-21 22:28] amanda-phet commented on #179
Since a larger group of people might have contributions to this discussion, I have marked it for status.

I don't think a file makes sense for tracking progress- those get stale way too easily and are a burden to keep up to date. Instead, I think the information can live somewhere after a sim is published- the sim design doc always has team members listed at the top, the sim page credits are usual

[2022-02-21 22:30] terracoda commented on #176
Thanks @amanda-phet.

[2022-02-22 04:38] pixelzoom opened #180 "`new-repo-add-labels.sh` fails with "Cannot find module axios""
I'm following the steps in https://github.com/phetsims/phet-info/blob/master/github-labels/README.md to add labels to a new sim repo.  It's failing with "Cannot find module axios".

[code]

[2022-02-22 05:09] pixelzoom opened #181 "Clarify the new "Inclusive Design" section of the sim checklist."
Noticed when I created a new sim repo today.

In https://github.com/phetsims/phet-info/commit/7a55b189d6e89106fd1a7892c6902b6bd7a8c642, @amanda-phet added section a "Inclusive Features" section to https://github.com/phetsims/phet-info/blob/master/checklists/sim_checklist.md.

The other sections are organized by role -- Design, Development, QA -- not by features.  This tells the people involves whi

[2022-02-22 17:25] mattpen commented on #180
@pixelzoom - Can you try `npm install` in that directory and run the command again?
- If that works I'll add that step to the documentation
- If it fails can you
    - (a) list your node/npm versions here (`node -v && npm -v`) and
    - (b) confirm that `node_modules/axios` exists in phetsims/phet-info/github-labels?

[2022-02-22 17:39] pixelzoom commented on #180
I ran `npm install` in `phet-info/github-labels/`, and `node_modules/axios` exists after that.  That would definitely be a good step to add, since package.json typically lives at the top-level of repos, not in a subdirectory.

The script now fails with a bunch of 401 errors,

[code]

.... followed by many similar 401 errors.

[2022-02-22 17:50] mattpen commented on #180
A [401 error](https://datatracker.ietf.org/doc/html/rfc7235#section-3.1) means that you are unauthorized. A 401 indicates that this is probably a problem with your credentials, as opposed to a change in permissions due to the recent github roles/teams update.

@pixelzoom - Can you confirm that you added your github username and PAT to build-local.json (as described in the [README](https://github.c

[2022-02-22 17:52] pixelzoom commented on #180
Thanks, I'll check credentials.  I also had a potential credentials problem in https://github.com/phetsims/perennial/issues/262.

FYI, running the script also create an unversioned file in my local working copy: `phet-info/github-labels/.repos.old`.

[2022-02-22 17:54] pixelzoom commented on #180
`node printGithubAuthorization.js` verifies that build-local.json is "correct".  But does correct mean that the PAT is valid?  Is there a script to validate the PAT?

[2022-02-22 18:01] pixelzoom opened #182 "Vestigial doc in github-labels/README.md ?"
Is this paragraph in https://github.com/phetsims/phet-info/blob/master/github-labels/README.md still relevant? I don't see any list of repos in phet-info/github-labels/, and it looks like new-repo-add-labels.sh generates a list.

[2022-02-22 18:03] pixelzoom commented on #180
OK, thanks @mattpen.  I'll take it from here.

[2022-02-22 18:13] amanda-phet commented on #181
That section has a set of checkboxes that might be completed by a designer or developer. We could certainly split the information into two different sections, but it seemed like it bridged the two.

Would it help to have some text in the checklist that explains the section? Or maybe a larger team discussion about it?

For reference, this is the issue where it was discussed: https://github.com/phet

[2022-02-22 18:15] pixelzoom commented on #180
Reminder to self that JG ran new-repo-add-labels.sh for me, so geometric-optics-basics now has a correct set of GitHub labels.

[2022-02-22 18:17] pixelzoom opened #183 "update-repos-list.js doesn't clean up if it fails."
In https://github.com/phetsims/phet-info/issues/180#issuecomment-1048066708, @mattpen said:

In general, scripts/programs should clean up files regardless of whether they encounter errors.

[2022-02-22 18:18] pixelzoom commented on #181
I'm not sure what the right thing to do is. This is my first time encountering it, and I don't know what to do with it.

[2022-02-22 18:19] pixelzoom commented on #181
I'm not sure what the right thing to do is. This is my first time encountering it, and I don't know what to do with it.

I can say that completing this checklist is something that doesn't seem to be on everyone's radar.  So adding more things to it that are not clearly someone's responsibility would seem to be a problem.

[2022-02-22 18:53] mattpen commented on #182
That's correct.  I removed that section, and also added information about the 401 error you got in #180.

[2022-02-22 18:53] #182 closed

[2022-02-23 21:26] pixelzoom commented on #180
In addition to not doing an `npm install`...  This was indeed a problem with my GitHub PAT. After putting a valid PAT in my build-local.json, the script succeeds.

Closing.

[2022-02-23 21:26] #180 closed

[2022-02-24 05:43] pixelzoom opened #184 "PhET TypeScript conventions for `export` are being violated."
I first encountered this in VerticalCheckboxGroup.ts

[code]

… and I see this `export type` pattern using in many repos.

From https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#multiple-exports:

A possibly-incomplete list of repos where this needs to be fixed:
- [ ] axon
- [ ] build-a-nucleus
- [ ] center-and-spread
- [ ] counting-common
- [ ] joist
- [ ] number-pla

[2022-02-24 14:11] samreid commented on #184
Recently @chrisklus suggested exporting option types inline and we have been exercising this strategy in Center and Spread to see how it goes.  It has been working very seamlessly, and it seems like the best way to export options types.  I recommend revising the conventions to promote this.

[2022-02-24 16:08] pixelzoom commented on #184
That's OK with me. But perhasp it should discuss before this change to the convention is so widely propagaed?

[2022-02-24 17:45] markgammon commented on #179
From status meeting: adding time for additional discussion at next week's design meeting (3/3/22).

[2022-02-24 17:47] zepumph commented on #179
Adding this info to the responsible-dev list can be very very simple.

Currently there is a `simFeatures` section of each sim's package.json. This could be easily scraped into this file, and automatically updated each night (like is currently being done for https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md)

_10 minutes later. . ._

This is easy enough that I just went

[2022-02-24 18:46] chrisklus commented on #184
Inline exports for types don't break this convention unless multiple type are being exported, which I've never needed to do. I wasn't aware that grouping type and modules was required, and that was never specified, only shown in the example.

[2022-02-24 18:55] samreid commented on #184
Today's dev meeting:

@pixelzoom does this mean we can/should also: `export default class DotPlotNode extends Node {`?
@jonathanolson: Note that scenery and other repos have  an imports file.
@pixelzoom: Either place seems reasonable as long as we have a convention.  IIRC we put them at the bottom so it was easy to see what is exported.  I don't see a good reason to change the convention we have h

[2022-02-24 18:57] samreid commented on #184
Result of the vote:

MK: First opinion is I don’t care, second opinion is to be able to export wherever you want. It is annoying to have to export a type at the bottom of the file. I see value in that annoyance, as it is meant to be an extra step to ensure that the API for a file is explicit and purposeful.
SR: Exporting at the declaration site seems nice.  Not a really strong preference.
MG
CM I

[2022-02-24 23:42] samreid commented on #184
Fixed and ready for review, @pixelzoom would you like to review?

[2022-02-24 23:58] pixelzoom commented on #184
👍🏻

[2022-02-25 05:49] samreid commented on #77
The README was added at https://github.com/phetsims/phet-info/blob/master/conferences/README.md

[2022-02-25 05:59] samreid opened #185 "92MB of conference videos"
While cloning this repo, I was surprised to see that it takes much longer than other repos to clone, and the clone takes 92MB:

[code]
This is much larger than our ordinary repos, for instance, QA is 3MB and vegas is 2.5MB.  I found that much of the size is due to videos in the conferences/ folder.  I also had deja-vu since I noticed this same thing back in the summer of 2018: https://github.com/p

[2022-02-28 18:13] zepumph opened #186 "Code review process needs revamping"
From https://github.com/phetsims/chipper/issues/1180

@samreid had some great thoughts about how challenging it was to conduct a code review because of the length and formatting of the CRC. During our discussion about where to put the typescript-specific conventions over in https://github.com/phetsims/chipper/issues/1180, we decided that keeping a separate document made sense. Perhaps the best pat

[2022-02-28 18:23] zepumph commented on #186
coding conventions are now in their own document. Note that over in https://github.com/phetsims/chipper/issues/1180 I will be pushing to combine the coding-conventions and the typescript-conventions document.

To reiterate, I heard two sentiments during the conversation today that seemed like ways to tangibly improve the code review experience:
- [ ] Modularize the checklist such that certain, len

[2022-02-28 18:32] zepumph commented on #186
I will do that here too! I just found that a decision we made about how to export variables was documented in the tyepscript conventions after discussion in https://github.com/phetsims/phet-info/issues/184, but no changes were made to the document: https://github.com/phetsims/phet-info/blob/master/doc/best-practices-for-modules.md which is used in the CRC. we have too many different conventions do

[2022-02-28 18:33] zepumph commented on #184
I don't think this is complete, I see https://github.com/phetsims/phet-info/blob/master/doc/best-practices-for-modules.md, which is pointed to in the CRC, can we please update those too. Or at least upvote my sentiment to combine conventions documents in https://github.com/phetsims/phet-info/issues/186#issuecomment-1054545872.

[2022-03-03 18:24] pixelzoom opened #187 "Option types and `optionize` should not use knowledge of the class hierarchy."
Something I've noticed about the application of PhET's new TypeScript options pattern...

This example assumes that Node inherits from PhetioObject.  PhetioObjectOptions should be NodeOptions:

[code]

This example assumes that ScreenView inherits from PhetioObjectOptions. PhetioObjectOptions should be ScreenViewOptions:

[code]

What's common to both of these examples is that they make assumption

[2022-03-05 17:47] samreid commented on #187
Geometric Optics demonstrates a pattern where options subtypes take the minimum essential options from the parent type.  For example:

[code]

I tried to build a type to streamline this philosophy, and it looked like this:

[code]

And would be used like so:

[code]

Note it also supports taking optional things in the 2nd arg:

[code]

The idea is to mimic the "class extends ..." pattern with opti

[2022-03-05 18:06] pixelzoom commented on #187
Nice idea, but I don't think I'd use it.  I very much prefer the current pattern. Here's why:

**Picking required only**: Comparing these examples, I don't feel like this is a big win. No less verbose. I prefer the current pattern.

[code]

**Picking optional only**: Comparing these examples, I'm not really sure what to provide for the 3rd type variable - I tried a variety of things.  In any case,

[2022-03-07 18:00] pixelzoom commented on #187
See https://github.com/phetsims/phet-io/issues/1843#issuecomment-1060958804 for the 4 patterns for adding an ancestor option to an Options type.  Imo only 1 of these patterns is valid, the other 3 are anti-patterns.

[2022-03-15 17:19] pixelzoom opened #188 "Create a list of global keyboard shortcuts."
From [code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md), aka the CRC:

There's currently no "global shortcuts" list, and it's impractical to expect code reviewers (or even the sim developer) to search the code.  So a list would be useful during development, to prevent collisions in the first place.

In Slack, @jessegreenberg said:

In

[2022-03-15 17:21] pixelzoom commented on #188
I'm also wondering...  Is a list of sim-specific shortcuts also needed?  When someone adds a new global shortcut, how do they know if it's already used by a sim?

[2022-03-15 22:13] zepumph commented on #188
Ideally globalKeyStateTracker would have a way of registering particular ones in code, so we could assert if there was an overlap. I'm not sure how challenging that would be, or if it is futile to think that we can have all commands go through that channel. Worth that shot though!

[2022-03-29 19:06] arouinfar opened #189 "Add screen-specific screenshots to sim checklist"
See https://github.com/phetsims/website/issues/1322

In addition to alternate screenshots that show up on the sim page, we should also be taking screen-specific screenshots for the metadata service. Alt and screen-specific screenshots may be redundant but aren't necessarily.

Self-assigning to update the sim checklist.

[2022-03-29 19:23] arouinfar commented on #189
Sim checklists to update:

- [ ] geometric-optics
- [ ] geometric-optics-basics
- [ ] greenhouse-effect
- [ ] buoyancy
- [ ] my-solar-system
- [ ] number-play
- [ ] center-and-spread
- [ ] eating-exercise-and-energy
- [ ] calculus-grapher
- [ ] build-a-nucleus
- [ ] normal-modes
- [ ] x-ray-diffraction

[2022-03-29 19:32] arouinfar commented on #189
Done, except for calculus-grapher which I noted in https://github.com/phetsims/calculus-grapher/issues/1.

[2022-04-07 18:15] zepumph commented on #185
Potentiall a duplicate of #77

[2022-04-07 18:22] zepumph commented on #185
From today's Dev meeting: KP will take a look at these and figure out if they are needed.

Do they need to be in the code base?

No, we all think they should be in a separate repo that isn't in active-repos. We can delete them and remove them from the git history of this repo once KP moves them. Assigning to @oliver-phet and @kathy-phet to discuss.

[2022-04-11 15:47] zepumph commented on #187
Noting as part of https://github.com/phetsims/chipper/issues/1128

[2022-04-19 18:10] kathy-phet commented on #185
@KatieWoe , Please make a phet-conferences repo (private) and move these video files over there.

[2022-04-19 18:52] KatieWoe commented on #185
Items downloaded then uploaded to https://github.com/phetsims/phet-conferences. The two non-video files I wasn't sure how to download so I copied them into new files in the new repo.

[2022-04-19 19:37] zepumph commented on #185
Looks great to me! @samreid, ready to remove from history.

[2022-04-23 20:49] samreid commented on #185
To accomplish this, I followed the instructions at https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository and ran:

[code]

The output from that last command reads:

[code]

And it has been hanging for 3+ minutes.  I'll keep waiting just in case.

[2022-04-23 21:19] samreid commented on #185
I tried running the BFG instead, like so:

[code]

But the

[code]

failed with

[code]

I'll reach out to @jessegreenberg for help since he is more aware of the branch protection rules.

[2022-04-23 22:59] samreid commented on #185
I allowed myself to force push, then removed that ability.  A fresh clone reports this:

[code]

Note it is 1.4MB instead of 92MB.

[2022-04-23 23:00] samreid commented on #185
The repo looks as expected and clones in a fraction of the time.  Branch protection has been restored, and I took notes on the strategies in case we need to revise history again.  I'll write to slack dev-public to notify developers to reclone phet-info  there are no history mishaps.

[2022-04-23 23:00] #185 closed

[2022-04-23 23:03] samreid commented on #185
I notified our slack `@channel`:

[2022-04-28 18:14] samreid commented on #186
From today's dev meeting conversation:

@chrisklus identifies that it is awkward to use the long monolithic checklist, and it would be good to modularize.
@samreid: One "code review" issue with one comment per section?  Or numerous issues, one per section?
@kathy-phet and @chrisklus say one issue seems good.
@zepumph says it could be developer discretion.

[2022-04-28 19:14] samreid opened #190 "Should class attributes typically be initialized at the declaration site, or typically in the constructor?"
At today's TypeScript meeting, we asked the question: Should class attributes typically be initialized at the declaration site, or typically in the constructor?

The conventions doc currently reads:

But now that we have had a chance to take it for a test drive, many developers on the team prefer initializing things at the declaration site.  We were thinking of a new convention like:

However, we

[2022-04-28 19:14] zepumph commented on #186
- [ ] We also didn't conclude the discussion of if the coding conventions doc should lose its checkbox structure. We felt like the way that typescript conventions is set up, and that is preferred for many devs.

[2022-04-29 02:29] pixelzoom commented on #190
I prefer the current convetion - at developer discretion.

Because of PhET-iO (and the need to create tandems) there are many things that can only be initialized in the constructor. I'm not a fan of initializing some things at declaration, and other things in the constructor.  Even less a fan of having to move initialization from declaration to constructor, like when I find out I need to add PhET-

[2022-05-05 19:28] pixelzoom commented on #187
5/5/2022 dev meeting:  I'll add this to TypeScript Conventions doc.

[2022-05-09 18:24] chrisklus commented on #187
From 5/9 supplemental TypeScript meeting, @zepumph volunteered to review this once @pixelzoom is finished. Thanks!

[2022-05-09 18:49] chrisklus commented on #190
From 5/9 supplemental TypeScript meeting:

We are on board with developer preference, with preference to consistency within a class. This is noted here: https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#initialization-of-class-properties. Closing.

[2022-05-09 18:49] #190 closed

[2022-05-09 19:20] amanda-phet commented on #181
This was resolved in status quite a while ago.

[2022-05-09 19:20] #181 closed

[2022-05-09 20:30] pixelzoom opened #191 "Document anti-patterns for TypeScript options"
In https://github.com/phetsims/phet-info/issues/187 and https://github.com/phetsims/chipper/issues/1217, I identified some ways that PhET's TypeScript options pattern can be abused (anti-patterns).   I was asked to document them in the TypeScript Conventions document.  But I think it makes more sense to put them in the Design Patterns document, which is what I'll do.

[2022-05-09 20:30] pixelzoom commented on #187
Tracking this in https://github.com/phetsims/phet-info/issues/191.

[2022-05-09 20:30] #187 closed

[2022-05-09 20:41] pixelzoom commented on #191
@zepumph this is ready for review.

I added a new section to the PhET Design Patterns document, see [Options (TypeScript)](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-typescript).  The anti-patterns identified in #187 and https://github.com/phetsims/chipper/issues/1217 were reframed as "guidelines", and I added several other guidelines that are no

[2022-05-09 22:38] zepumph commented on #191
Everything looks really good. I think there is a reasonable separation between the type of info in WilderOptionsPatterns and this document. This comes across as best practices, whereas the examples in Wilder are either hello world cases (a bit of a precursor to the scope of the design pattern), or examples demonstrating known bugs/cases for maintaining/improving optionize itself.

I think this is

[2022-05-09 23:33] pixelzoom commented on #191
Thanks for the review.

(5) is worded as intended, but my example had a copy-paste error, corrected in the above commit.  Here it is again:

[code]

Does this make more sense now @zepumph ?

[2022-05-11 16:23] zepumph opened #192 "Dev onboarding document needed"
There seem to be a lot of spots that new-dev documentation exists. I'd like a central place. The Development Overview is definitely a great start, but it doesn't include stuff that PhET employees might need to do that open source users wouldn't.

[2022-05-11 16:30] zepumph commented on #192
Document available now at https://github.com/phetsims/phet-info/blob/master/doc/new-dev-onboarding.md

[2022-05-11 16:46] zepumph commented on #191
Yes perfect. Thanks. Closing. Feel free to reopen.

[2022-05-11 16:54] pixelzoom commented on #191
Reopening - I still need to do a PSA for the dev team.

[2022-05-11 16:55] pixelzoom commented on #191
In Slack:typescript, I posted:

I'll leave this issue open for a week or so, to see if there are any questions.

[2022-05-11 17:00] marlitas commented on #192
This is less about the content of the doc and more about organization/presentation. As a new dev it can be very overwhelming walking into the PhET codebase as well as the code standards. I know for myself I would open some of the docs during my first week and feel like I couldn't handle that amount of information with the other onboarding that was happening (CU benefits/employee setup, meeting eve

[2022-05-12 17:56] zepumph commented on #192
- [ ] Add a section about "helpful tools" for things like snapshot comparison, phetmarks, and aqua fuzzing.
- [ ]

[2022-05-12 18:43] pixelzoom commented on #191
5/12/22 TypeScript meeting:

In the next week, please read https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-typescript.  If you have questions or suggestions, please add comments to this issue, or ask in Slack:typescript.  Feel free to edit the document directly to correct typos, or add additional guidelines/examples.

When you have read the document,

[2022-05-13 00:06] jbphet commented on #191
This is awesome, and I can tell I'll be referencing it a lot!

I made a few doc edits, feel free to review.  [Here](https://english.stackexchange.com/questions/1073/what-is-the-correct-possessive-for-nouns-ending-in-s) is a reference for some of the changes I made.

I had a couple of thoughts while reading through this:
- We might want to make it clear that some of the utility types used in these

[2022-05-13 03:56] samreid commented on #191
This reads very nicely and is helpful, thanks! I also noticed this part of Example 3 is incorrect:

[code]

[2022-05-13 14:03] AgustinVallejo commented on #191
Thank's for the read, it's been really interesting :)

A few questions:

- [ ] In (1) the bad example creates `MyPathOptions` as the created class is `MyPath`. However, in the correct one, the class options type is called `MyClassOptions`. Shouldn't it be `MyPathOptions` as well?

[2022-05-13 16:34] pixelzoom commented on #191
Re https://github.com/phetsims/phet-info/issues/191#issuecomment-1126091850 ...

Thanks @AgustinVallejo.  Examples (1), (4), and (8) did indeed have typos, corrected in the above commits.

The fragment _"we want to hide the parent class’s options"_ has been changed to _"we want to exclude the parent class’s options from our API"_.  Hopefully that makes more sense. Let me know if it doesn't.

[2022-05-13 16:39] pixelzoom commented on #191
Re https://github.com/phetsims/phet-info/issues/191#issuecomment-1125531543 ...

Beyond the scope of this section imo. Developers should be familiar with both TS and PhET "utility types", and they are independent of options, and are generl programming APIs.  But if you feel strongly, feel free to add it.

I've worked on a lot of common code and sim code, and (so far) I've only had a need for the u

[2022-05-13 16:53] pixelzoom commented on #191
Re @samreid's feedback in https://github.com/phetsims/phet-info/issues/191#issuecomment-1125632378.

Thanks, fixed in above commit.

This is being discussed in https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1125629164.  When that issue is resolved, feel free to modify examples to match the new reality.  In the meantime, examples match the current reality.

But it's unclear what t

[2022-05-17 17:20] marlitas commented on #191
This really helped me understand optionize more. @chrisklus and I used this just last week, and though it took us down a rabbit hole we came out the other side much stronger for it. Thanks for writing this out. I didn't see anything additional to some of the typos mentioned above and saw they're now fixed.

Removing my assignment.

[2022-05-19 17:33] jessegreenberg commented on #191
Thanks, the examples and documentation were understandable/easy to follow. Ill definitely continue to refer to this when working with options.

[2022-05-19 17:35] zepumph commented on #192
- [ ] @AgustinVallejo also mentioned adding the scenery doc and examples for this do too.

[2022-05-19 17:39] zepumph commented on #192
Today at dev meeting we discussed this issue. In response to https://github.com/phetsims/phet-info/issues/192#issuecomment-1124021948, that context seems really important. Another way of formatting that would be with an explanation of each document saying "this is reference, don't memorize this your first day" vs the more step-by-step setup guides. A subgroup of @jbphet, @marlitas, @AgustinVallejo

[2022-05-19 17:40] pixelzoom commented on #191
Everyone has reviewed. Feedback that was provided has been addressed. Closing.

[2022-05-19 17:40] #191 closed

[2022-05-25 21:55] marlitas commented on #192
2/25/22 Onboarding Documentation Club Meeting
@jbphet @chrisklus @AgustinVallejo @Luisav1

Base Foundation:
- Adding useful demos (sun, tambo, joist, scenery-phet, twixt)
- Repos with documentation on phetmarks (dot, kite, scenery)
- Introduction to phetmarks
- Add section: "You'll be assigned a mentor and your mentor can provide a more specific reading list."
- Highlight which sections of develop

[2022-05-25 22:00] marlitas commented on #192
@jbphet : Flesh out intro
@chrisklus & @Luisav1 : Finding other documentation and linking it back
@marlitas : research mermaid
@AgustinVallejo : Top topics for tutorials or exploration (guided exercises?)

[2022-06-01 21:52] AgustinVallejo commented on #192
01-06-2022:
- We should link all the learning resources for new devs: Coursera, OReilly, LinkedIn Learning. To learn Typescript and JS.
- Reccomended resources from team members.
- Link to MDN Glossary for JS words

Tasks:
@jbphet : Ranking the Design Pattern sections.
@AgustinVallejo : Linking Design Pattern sections to the development process.
@marlitas : Making a mermaid map for the possible de

[2022-06-01 21:58] marlitas commented on #192
- Add phet globals to onboarding doc.

[2022-06-08 21:59] marlitas commented on #192
Meeting 6/8/22

Read over Background reading section:
- Tutorial/Exercise for devs to try after reading MVC & MVT sections
- Tutorial/Exercise after Observer section
  - Written at high level and reference existing sims that are maintained.

PhET Dev Overview => How to link
- Reference small sections as necessary
- Create table of docs glossary at bottom, for easy onboarding navigation.

Flowchart

[2022-06-09 14:04] terracoda commented on #179
I just want to add, that I even though Interactive Description came after the visual design in many cases, I have never been listed as a lead designer for a simulation. And I do not feel that I should be listed as a lead designer if I only design one feature. I always consult with the visual designer if description design requires changes to the visual design. I think what is important is that if

[2022-06-09 20:16] zepumph commented on #192
Hey all! It looks like some really great work is happening here, thanks! I had an idea to include some info about slack. Basically making sure you subscribe to developer, dev-public, and continuous-testing, and to make sure that you are set up to be notified about all messages on continuous-testing. I hope that helps.

[2022-06-09 21:24] pixelzoom commented on #192
Mentioned in today's status meeting.  In https://github.com/phetsims/phet-info/commit/07b0a69165346a63a4e94073e92ab0482defad8b, @jbphet added a ranking of design patterns.  It would be nice to put that info in the actual design patterns doc, so that it's available to readers of that doc, and so that it doesn't become stale by being in this doc.

[2022-06-15 21:58] AgustinVallejo commented on #192
Meeting june 15, 2022
- Make an individual issue and fork (TBD) for every tutorial solution.
- Mention to discuss with mentors other possible slack channels
- Add slack tutorials: [Here](https://slack.com/intl/es-co/help/articles/360059976673-Videotutoriales-de-Slack)
- Design Patterns should be the first item in Reference Documents
- For the Roadmap:
  - Link to tutorials
  - Link to Design patte

[2022-06-16 17:30] jbphet opened #193 "Consolidate module documentation"
The information in https://github.com/phetsims/phet-info/blob/master/doc/best-practices-for-modules.md seems at least partially out of date.  The Onboarding Documentation Group is proposing consolidating this information into the design patterns doc and deleting this one.

[2022-06-16 17:31] jbphet commented on #193
@pixelzoom said:

[2022-06-16 17:31] jbphet commented on #193
We discussed this in today's develop meeting, and the consensus is that it sounds good and should be done.

[2022-06-22 20:39] marlitas commented on #192
Forking experimentation:
- Successfully forked and cloned example-sim and got it up and running.

Recommendations / Instructions:
- fork example-sim (place fork under your personal github ownership)
- git clone in phetsims root directory changing the directory name to {{GITHUB}}-example-sim (ex. `git clone git clone https://github.com/marlitas/example-sim.git marlitas-example-sim`)
- Launch server

[2022-06-22 21:09] AgustinVallejo commented on #192
Added the challenges doc! https://github.com/phetsims/phet-info/blob/master/doc/onboarding-challenges.md

[2022-06-24 02:52] marlitas commented on #192
@zepumph taught me some things about ways I can run unit and fuzz tests locally when making common code changes. He mentioned that @AgustinVallejo also did not know about aqua, or QUnit, and we both wondered if it might be a good idea to include a section on testing for new devs that may be interested/ have use for it when they start to work in common code. Up until now it's been a lot of committi

[2022-06-29 21:41] marlitas commented on #192
Meeting 6/15/22

Formatting:
- @AgustinVallejo did not find any useful info about the weird checkbox formatting. We changed to bullets.

Layout:
- @marlitas change "Sim Environment Setup" to "Dev Environment Setup", Add link to tutorial in mermaid chart to "Modify and Experiment"

Navigating Repos:
- Add subsection to "Ramping Up". Will advise devs to checkout [CRC Repository Structure](https://gi

[2022-07-01 15:56] samreid opened #194 "TypeScript Convention: should we require/forbid override keyword when implementing abstract methods?"
@marlitas and I discovered that when overriding an abstract method, we don't have any `tsc` or `lint` rules that require or forbid the `override` keyword.

[code]

So right now it is developer preference.  Should we leave it that way, or require override, or forbid override?

[2022-07-01 19:20] jessegreenberg commented on #168
This document is excellent, thanks @pixelzoom. All looks correct. The only thing I could think of to add was a note about hotkeys and avoiding collisions with other global hotkeys (with a reference to https://github.com/phetsims/phet-info/issues/188 where we should have a registry for this).

Closing.

[2022-07-01 19:20] #168 closed

[2022-07-06 21:54] chrisklus commented on #192
From 7/6/22 meeting:

@jbphet is going to reach out to @matthew-blackman to make sure he's aware of the onboarding doc we've been working on. We would also appreciate any feedback from MB about this doc as he's working through it, and will invite him to a meeting to share.

@marlitas and @chrisklus talked about our findings from https://github.com/phetsims/phet-info/issues/192#issuecomment-1172663

[2022-07-13 19:44] marlitas commented on #192
On Slack @pixelzoom said:
[code]
For discussion at next meeting.

[2022-07-13 21:14] marlitas commented on #192
7/13/22 Meeting:

@jbphet and @AgustinVallejo out on vacation.

@chrisklus, @Luisav1, and I added phetTeamMember.md link to the documents section.

Will connect once the rest of the subgroup is back. Everyone enjoy vacation!

[2022-07-19 18:08] pixelzoom commented on #194
+1 for choosing a convention and enforcing it via a lint rule.

I prefer `override` when implementing an abstract method.  While it's not replacing a definition, it does indicate that it's replacing something specified in the superclass.  And I think that's useful for readability.

[2022-07-21 14:13] pixelzoom opened #195 "Broken link in phet-software-design-patterns.md"
In https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md

[code]

This file no longer exists.

[2022-07-21 14:14] AgustinVallejo opened #196 "Reviewing and fixing broken links"
As stated by @pixelzoom: "There are links to many .js files in .md documents, and they need to be changed when a file is renamed.  Many of those links are now broken in (for example) PhET Software Design Patterns."

[2022-07-21 17:24] jessegreenberg commented on #195
Thanks, it would probably be best if it points to a specific SHA. In this case it been broken since we moved molecules-and-light code into greenhouse-effect. I updated the link and referenced line numbers in the doc to match https://github.com/phetsims/greenhouse-effect/blob/c3902b1c402cd2ca699a68938c98c7b2387844dd/js/micro/model/Molecule.js.

[2022-07-21 17:24] #195 closed

[2022-07-21 17:41] jbphet commented on #194
This is approved to be a convention.  @zepumph and @AgustinVallejo have volunteered to implement a lint rule for this.

[2022-07-21 22:08] AgustinVallejo commented on #192
https://github.com/phetsims/chipper/issues/1281#issuecomment-1191882112 We need to discuss as to where to add the TS standards information in the Onboarding process.

[2022-07-21 22:26] pixelzoom commented on #192
Re (4) in https://github.com/phetsims/chipper/issues/1281#issuecomment-1185933099 ... I want to clarify that's there's nothing in that item that's specific to TypeScript, and it's not a convention.  It's best practices for API design for any typed/OO language.  So while it technically doesn't belong in a TypeScript Conventions document, I'll leave that decision up to the onboarding subgroup.

[2022-07-21 22:33] kathy-phet commented on #192
We talked about putting (4) in some other part of the Onboarding documentation, but in general, discussed that it would be good to have this information somewhere for devs coming to the team that are newer to Object Oriented code conventions - e.g. coming from a pure javascript background where OO is not the norm (as I understand it).

[2022-08-01 16:25] marlitas opened #197 "visibleProperties in model or in view?"
In the code review for Mean Share and Balance, @pixelzoom made a recommendation to move visible/isShowingProperties from the model to the view: https://github.com/phetsims/mean-share-and-balance/issues/72

An example of visible/isShowingProperties from Mean: Share and Balance.
[code]

In talking through this with @samreid we discovered that this is not consistent across all published PhET-iO sims.

[2022-08-01 20:31] marlitas commented on #192
With all the updating of `pre-commit hooks` and `absolute-tsc` I decided it was finally time to add the `tsc` alias to my `.zshrc` file. I looked in the onboarding doc for instructions and it says: `Check lint and tsc separately by running grunt lint or tsc in a sim repo.`

This does not work. I receive a `command not found` error. We need more instructions as this bullet makes it seem like `tsc`

[2022-08-03 19:01] marlitas commented on #192
I also wanted to add a comment to revisit adding a section or bullet point about ways we are able to test code. Language about CT, Aqua, and QUnit would be helpful as guiding points for new developers. Many of these I didn't even know existed until someone happened to tell me, and it's very difficult to ask questions about things you don't know are there.

[2022-08-04 04:42] samreid commented on #170
We have improved and elaborated on our TypeScript documentation in other issues, closing.

[2022-08-04 04:42] #170 closed

[2022-08-04 12:29] pixelzoom commented on #197
Just a note that it's been up to developer discretion in the past. Unfortunately, PhET-iO exposes where the Properties "live", so it may be useful to have a convention.

Not sure I agree with this. There is not necessarily a sngle "model" in applications that use MVC, and that's certainly the case for PhET sims.  For example, sun buttons use the MVC pattern and have a model, which is irrelevant to

[2022-08-04 15:09] marlitas commented on #197
I don't think we are arguing that there is a singular model, but rather that any data or logic based properties belong in a model (top-level or not) instead of the view with a strict software engineering MCV interpretation. The fact that sun buttons have their own model seems to align exactly with my experience of MVC patterns.

I think there is an argument to be made though that although we attem

[2022-08-04 19:46] zepumph commented on #197
It is worth noting that there is precedent for both. Noting `GQViewProperties`.

@jonathanolson: I like keeping state in the model, so visibleProperties go there so that all serialization/resetting is in the model.

@zepumph: I don't see this as a very large problem, because in almost all cases, there will be linked elements ensuring that these are clearly defined where they are used (in the view

[2022-08-04 23:33] zepumph commented on #194
@AgustinVallejo and I cranked away at this today. We have made very little progress, but have learned a lot about typescript/type-checking lint rules.

Here are some resources we collected along the way:
https://astexplorer.net/ is a great way to explore the tree, you can use `@typescript-eslint/parser` as a parser to get exactly the tree we are using for type information.

We then realized that w

[2022-08-10 21:24] marlitas commented on #192
Meeting 8/10/22

Action Items:
 - @jbphet will add bullet point about typescript standards referencing: https://github.com/phetsims/chipper/issues/1281#issuecomment-1191882112
 - @AgustinVallejo will finish up tutorials
 - @Luisav1 will do a grammar/editing read through
 - @marlitas will reach out to MB about coming to our 8/31/22 meeting

[2022-08-11 00:08] marlitas commented on #192
Quick update for the team: I have learned how to get emoji's to render in intelli-j! 🥳

It's much easier than I thought. Instead of using github's colon-emoji syntax you want to use your keyboard's emoji short cut `ctr + cmd + space` (will find windows equivelant). This will open up an emoji dialogue box for you to choose from. Intelli-j knows how to render this out of the box. I will update all u

[2022-08-18 22:18] JacquiHayes opened #198 "Uploading Teacher Notes into MediaValet (Mastercard Foundation grant)"
(Instructions are also here: https://docs.google.com/document/d/1BlWwg6thJtTgKYgxZ8FMD4_48NJmlUZp_7Wb_AILK8k/edit?pli=1#heading=h.b51ndt10u0w5)

Tracking

I’ve set up this spreadsheet with all the simulations relevant to the university level.
https://docs.google.com/spreadsheets/d/1EXHNSlCI8Cxug-avm7L2Qu-KrDcf2f8V/edit#gid=679020387

I’ve already uploaded the document for 2 simulations (Geometric

[2022-08-22 19:07] jonathanolson commented on #197
This came up today, where I had put string Properties under the "general.model" tandem, it was requested to move it to "general.view", and then there's some confusion and disputes about where it should go.

[2022-08-27 04:31] samreid commented on #184
I upvoted the comment https://github.com/phetsims/phet-info/issues/186#issuecomment-1054545872 to combine conventions documents.

Also, the code review checklist now points to the typescript conventions doc, where this pattern is described.  New development is in TypeScript, so perhaps this is sufficient. OK to close?

[2022-08-29 19:24] jbphet commented on #193
Done, closing.

[2022-08-29 19:24] #193 closed

[2022-08-31 22:01] jbphet commented on #192
Notes from review discussion with @matthew-blackman:

- In general he found it very valuable and saved a lot of time
- It would be helpful to have a bit more "best practices" information, such as
  - Running a pull-all first thing in the morning
  - How much we use github issues for communication
  - How to target commits for specific issues and features, i.e. the scope of commits
  - How and when

[2022-09-01 18:12] jessegreenberg commented on #188
Part of https://github.com/phetsims/scenery/issues/1298.

[2022-09-01 18:17] kathy-phet commented on #188
Related to https://github.com/phetsims/scenery/issues/1298

[2022-09-01 18:37] jessegreenberg commented on #188
Lets pick this up in scenery, an automated registry would involve or be used by KeyStateTracker and other classes in that repo. Closing this issue. I noted this issue in https://github.com/phetsims/scenery/issues/1445 and that if there isn't a good way to automate we can fall back to documentation.

[2022-09-01 18:37] #188 closed

[2022-09-07 16:05] marlitas opened #199 "Unclear traversal order instructions in Alternative Input Guide"
While working on https://github.com/phetsims/mean-share-and-balance/issues/47, I backtracked and had to re-read the `Traversal Order` section multiple times before understanding the implementation for `Approach 2`.

This was mostly due to the fact that the guide does not specify that `screenViewRootNode` should be declared and added only in the sim screen view base class. It was not until reading

[2022-09-07 22:01] jbphet commented on #192
@AgustinVallejo and I were the only team members that were able to make it to the 9/7/2022 meeting.  We reviewed the list in the previous comment, which was the feedback from @matthew-blackman's usage of the document while ramping up.  Our recommendation is to take this list and put it in a section entitled something like "Tips, Tricks, and Best Practices" that would go between the current "Sample

[2022-09-14 21:46] jbphet commented on #192
During the 9/14/2022 meeting of the onboarding process task force, we came up with the following next steps:

- Divide the "Ramping Up" section into "Introductory Development" (@marlitas) and "Advanced Development" (@chrisklus & @Luisav1).
  - Debugging should be in the introductory section
  - Pull all first thing in the morn should be introductory
  - Memory profiling should be in advanced
  - U

[2022-09-14 21:52] samreid commented on #197
Today @arouinfar and @kathy-phet commented that this decision should be up to developers.  From a design standpoint, either is OK (with the help of Linked Elements).  So perhaps it should go to dev meeting?

[2022-09-15 18:22] zepumph commented on #197
Saving this for next time.

[2022-09-15 19:24] chrisklus commented on #192
From 9/15 subgroups discussion, we think we should mention that most devs use Chrome development (and test in other browsers too), so we should a simple section that just links to https://developer.chrome.com/docs/devtools/. This should be added to the introductory development section.

[2022-09-15 19:38] chrisklus commented on #162
We decided to add this in the onboarding doc instead, over in https://github.com/phetsims/phet-info/issues/192.

For the "Submit an issue" section, we discovered that this had already been removed, and we thought it was best to leave it this way.

We also removed a header that linked to a section that didn't exist. Closing.

[2022-09-15 19:38] #162 closed

[2022-09-19 18:53] samreid commented on #197
I was somewhat surprised to hear this, since @zepumph and I previously concluded that linked elements cannot process API commands.  So it is not a trivial "either is OK" matter for which is a linked element vs core element.  Only core elements can process API commands.  If we revisit this, and make it possible for LinkedElements to process commands, then I can see it mattering a lot less whether t

[2022-09-19 20:08] marlitas commented on #197
While navigating through studio to test the nested structure of checkboxes in Mean: Share and Balance, I was momentarily confused by the visibleProperties being in the view.

- I accidentally navigated to those properties first thinking they were actually the checkboxes, then realized my mistake.
- Was further confused when those properties are nowhere near the checkboxes they are related to in th

[2022-09-19 20:21] kathy-phet commented on #197
Hi all,
@arouinfar and I have long dealt with the properties being split between view and model, so that explains our comments ... we are used to it and the Linked elements resolved the painpoints for us / the instructional designer.

I would say for uniformity, it would be nice if they were all in the MODEL because that feels like the place where they can all be collected. I know there are proper

[2022-09-19 20:28] pixelzoom commented on #197
There are very fundamental misunderstanding about MVC at play in this discussion. And I'm dismayed that we are still speaking of "THE model", and making decisions that are actually contrary to MVC.  I have very specifiic (and I feel, well-informed) reasons for where I've located Properties.  But tell me where you'd like the Properties in the sims that I'm responsible for, and I'll relocated them.

[2022-09-19 20:45] kathy-phet commented on #197
@pixelzoom - note the caveate of - if the developers agree they can go in one spot. I'm not suggesting to declare it has to be one spot. With the Linked elements, the instructional designers can find what we need, and it works.

[2022-09-19 21:56] samreid commented on #197
https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller says

* Model - The central component of the pattern. It is the application's dynamic data structure, independent of the user interface. It directly manages the data, logic and rules of the application.
* View - Any representation of information such as a chart, diagram or table. Multiple views of the same information are possible

[2022-09-19 23:42] pixelzoom commented on #197
Quoting a Wikipedia article that makes it sound like an application has "a" (singular) dynamic data structure (aka model) doesn't make it right.

If I have an `expandedProperty` for an AccordionBox, you seem to be OK with it living right alongside something like `particleVelocityProperty` in the domain model. (Note that I said "the domain model", not "THE model.").   Imo that pollutes the domain m

[2022-09-19 23:50] pixelzoom commented on #197
First we need discuss whether MVC an be applied in multiple places in an application, or whether we must have one appliction of MVC, with one model, etc.    If we can get past that, then...

Perhaps we should discuss whether there's value in keeping the domain model separate from other "models" in an application. I think there's a lot of value in keeping them separate, which is the pattern that I'

[2022-09-20 00:48] samreid commented on #197
As has been said in both https://github.com/phetsims/phet-info/issues/197#issuecomment-1205388963 and https://github.com/phetsims/phet-info/issues/197#issuecomment-1205698423, a sim may have multiple mini-models and multiple views.  @jonathanolson said ""model/view" separation sounds like a dichotomy, but in actually it is more blended because there are mini MVCs all over the place". I don't see a

[2022-09-28 22:10] jbphet commented on #192
I spoke with @ariel-phet over Slack, and he said he'd be up for taking an editorial pass through the primary onboarding document.  I think it's ready for this, and I think the group has spent about as much time on this as we reasonably can.  @ariel-phet - Feel free to make edits that you think will improve the readability and flow, and you can add any big suggestions in this GitHub issue.  There a

[2022-09-30 16:36] pixelzoom opened #200 "Prefer `type` to `interface` in typescript-conventions.md."
In https://github.com/phetsims/chipper/issues/1280, we concluded that PhET should prefer `type` over `interface`.  That decision should probably be noted in https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md.

@samreid do you agree?

[2022-09-30 16:49] samreid commented on #200
In https://github.com/phetsims/chipper/issues/1280 we enabled a lint rule that prevents `interface`, and I believe that rules we enforce via lint do not need to be repeated elsewhere.  What do you think?

[2022-09-30 16:51] pixelzoom commented on #200
Oh right, I forgot that this was enforced by the lint rule.  And we don't add things that are enforced by lint rules to typescript-conventions.md, because that would be redundant.  So nothing to do, closing.

[2022-09-30 16:51] #200 closed

[2022-10-03 16:22] samreid opened #201 "Should filenames use underscore or hyphen?"
For instance, phet-info has:

checklists/
code_review_checklist.md
delete_repo_checklist.md
employee_leaving_checklist.md
external_library_checklist.md
new_repo_checklist.md
new_student_worker_checklist.md
postmortem_process.md
S2015R_checklist.md
sim_checklist.md
updating_metadata.md
youtube_upload_checklist.md

doc/
alternative-input-quickstart-guide.md
coding-conventions.md
devs-onboarding-pm-q

[2022-10-07 19:32] pixelzoom commented on #197
Feel free to discuss this while I'm out.  I don't have any further input.  If you'd like Properties relocated in the Studio tree, please create a sim-specific issue.  Identify the Properties by their current tandem name, and their new (relocated) tandem name.

[2022-10-13 18:08] matthew-blackman commented on #201
We can use spaces in a file search, which will pull up files with either a hyphen or an underscore.

[2022-10-14 13:37] veillette commented on #201
I have converted the filenames in phet-info to use hyphenated filenames.  I also searched for links in our common-code but I didn't get any hits.  All links appear to be internal to phet-info.

Work is done.   Closing

[2022-10-14 13:37] #201 closed

[2022-10-17 17:27] marlitas commented on #199
Addressed above. Closing.

[2022-10-17 17:27] #199 closed

[2022-10-18 04:33] arouinfar commented on #177
I did this not long after https://github.com/phetsims/website-meteor/issues/409 wrapped up, closing.

[2022-10-18 04:33] #177 closed

[2022-10-20 22:31] marlitas opened #202 "Dynamic Locales conversion documentation"
To track the creation of a quickstart guide for converting a sim to dynamic strings.

[2022-10-27 20:09] ariel-phet commented on #192
@jbphet @chrisklus @AgustinVallejo @marlitas I have read over the document and made some corrections/edits, but overall the information looks really great.

Two suggestions I would have are:

1. Add a small section that describes "common code" -- common code is mentioned several times in the document but it would probably be good to define and give some examples of common code libraries. I feel li

[2022-11-04 21:11] samreid opened #203 "Create a label for open-source-ecosystem issues"
We have a number of issues that relate to PhET's position in the open source ecosystem.  I'll create it momentarily, but I wanted to document some discussions around the naming of it.

<img width="864" alt="image" src="https://user-images.githubusercontent.com/679486/200074989-ab2c012d-9965-43ea-8270-e9f454460473.png">
<img width="851" alt="image" src="https://user-images.githubusercontent.com/679

[2022-11-04 21:19] samreid commented on #203
Also, I want to clarify the connotation is about how PhET fits into a larger open-source ecosystem, not how PhET works "are" an open source ecosystem.  Ecosystem includes community.  @kathy-phet described it well above:

[2022-11-04 21:32] #203 closed

[2022-11-17 18:41] samreid commented on #197
Nov 17 2022 Dev meeting:

@jbphet: I think of the model as all of the model things, in addition to the domain model.  I do include things like `isShowingVectors` in the model.  Then it is one place for all of the model settings.  Then in creating the view, the view can observe those parts of the model.
@pixelzoom: So how do you separate out the domain model from the view-y parts in that case?
@jbp

[2022-11-17 18:43] #197 closed