[2014-07-08 06:29] jonathanolson opened #1 "Sublime Text theme/language changes to support PhET-related highlighting"
Let me know if anyone else would like to use this and I can check it into public version control.

I hated how hard my comment/assertion/log-heavy code was to read (all of those help produce bug-free code), so I made modifications to the color syntax highlighting and syntax parsing that makes the important code more visible:
![sublime-phet-1](https://cloud.githubusercontent.com/assets/480878/35059

[2014-10-28 02:51] ariel-phet opened #2 "Developing a sample sim checklist"
This issue will develop a sample sim checklist for use on github. Below is the checklist used on unfuddle for Java sims for reference. The checklist should include date fields and milestones to be accomplished that mesh with our tracking milestones.

1) Post 1.0 to website
a. Make sure screenshot is ready
b. Make sure credits are correct

2) Add blog entry

3) ADA and other compliance
a. Check for

[2015-01-17 23:53] ariel-phet commented on #2
some notes about sim development checklist here in the PhET Development Overview:
https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#heading=h.tslwrzmorfdr

[2015-04-28 18:49] jbphet opened #3 "move screenshot item from code review"
@ariel-phet and I were discussing the code review checklist, and there is an item that says:

Since the screenshots are generally not generated until the final stages of the project, often well after the code review, this item should probably go into the release checklist document.  @ariel-phet is apparently working on such a doc, so this issue is to remind him to move this checklist item when the

[2015-05-10 04:59] bereaphysics opened #4 "Remove any mentions to version.js in code_review_checklist.md"
There are three mentions of version.js in https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md

version.js has been eliminated

[2015-05-10 16:25] pixelzoom commented on #4
I'll take care of this.

[2015-05-11 17:21] pixelzoom commented on #4
I removed references to version.js from the check list. I also fixed the location of the English strings file, since that has changed.

Closing.

[2015-05-11 17:21] #4 closed

[2015-05-18 15:34] ariel-phet commented on #3
Done, closing

[2015-05-18 15:34] #3 closed

[2015-05-20 18:11] ariel-phet commented on #2
Done, closing

[2015-05-20 18:11] #2 closed

[2015-06-02 01:53] ariel-phet opened #5 "Suggest edits/additions to New Student Worker checklist"
Hey @oliver-phet I started a "New Student Worker Checklist"

https://github.com/phetsims/phet-info/blob/master/new_student_worker_checklist.md

Could you make suggestions of things I am missing or should be fleshed out (I-9, proof of being a student, W2, etc)

[2015-10-19 14:11] aaronsamuel137 opened #6 "Create web-dev intern setup document"
I've spent quite a bit of time setting up the 3 web-dev interns that have worked at PhET in the last year. I think it would be a good idea to create a document that goes through all the steps of getting the PhET code checked out, setting up IntelliJ, and setting up the website VM.

Do you think this is a good idea @ariel-phet? Would this repo be the place for that document? If so, go ahead and ass

[2015-10-19 14:21] ariel-phet commented on #6
@aaronsamuel137 - I think that is a very good idea. And yes, this seems like the correct repo for that document.

[2015-10-19 18:10] mattpen commented on #6
Here is an initial draft.  I'll finish it up this week.  https://github.com/phetsims/phet-info/blob/master/web-dev-intern-setup.md

[2015-10-26 16:44] mattpen commented on #6
@aaronsamuel137 I think this document is basically finished.  Can you think of anything else to add?

[2015-10-26 16:54] aaronsamuel137 commented on #6
Can you add the info I sent you in the email about setting up and ssh key and syncing the database with figaro?

[2015-10-27 19:38] mattpen commented on #6
@aaronsamuel137 I added the db sync info today.

[2015-10-27 19:43] aaronsamuel137 commented on #6
Looks great, thanks for doing this! I would just check the markdown output by viewing the file on github. There are some newlines that aren't showing up properly.

[2015-10-27 19:49] mattpen commented on #6
Oops.  I used single quotes instead of back-ticks.  It should look better now.

[2015-10-27 19:53] aaronsamuel137 commented on #6
Look great, thanks! Closing

[2015-10-27 19:53] #6 closed

[2015-12-23 20:31] ariel-phet opened #7 "Add checklist item for "new" and "newest""
When the new sims page goes up, add a checklist item to the master checklist about marking sims as new and newest

[2016-01-08 17:24] ariel-phet commented on #7
It looks like this might be able to be accomplished in an automated way. Closing for now.

[2016-01-08 17:24] #7 closed

[2016-01-11 20:30] pixelzoom opened #8 "summary of grunt and build-local.json options needed"
After @phetsims/bereaphysics ran into some problems using the build tools, @ariel-phet suggested (via email) that we update https://github.com/phetsims/phet-info/blob/master/sim_deployment.md to include options for the grunt command line and build-local.json.   I replied:

“brand” and "buildServerAuthorizationCode” are just the tip of the iceberg.  There are many more options that can be specified

[2016-01-12 18:30] pixelzoom commented on #8
1/12/16 dev meeting:
Add a line at the top, something like "read 'grunt --help' and ask another PhET developer how to set up build-local.son".

[2016-01-12 20:52] pixelzoom commented on #8
I added the "Build process configuration" section in https://github.com/phetsims/phet-info/blob/master/sim_deployment.md, and cleaned up a few other things.

@ariel-phet If this is sufficient, please close. Otherwise provide additional instructions.

[2016-01-15 02:48] ariel-phet commented on #8
Excellent thanks. Closing

[2016-01-15 02:48] #8 closed

[2016-02-08 01:33] ariel-phet opened #9 "Document labeling strategy"
**Note**
I have been changing Summer 2015 Redeploy to "task:S2015R" #5319e7
 (might need to change this name to not confuse with "tasks")
sim specific labels I have been going with `<sim:label-name>`
repo specific labels I have been going with `<repo-name:label-name>` #737373
I have been changing java/flash bugs to` <sim:legacy-bug>` #CD00CD

wondering where to categorize things like "JSmol" and "

[2016-02-09 06:53] ariel-phet commented on #9
Documented here https://github.com/phetsims/phet-info/blob/master/github-labels/labeling-scheme.md

Closing

[2016-02-09 06:53] #9 closed

[2016-02-12 01:39] jonathanolson opened #10 "Update deployment guidelines for ph-scale and ph-scale-basics"
Since they have a chipper SHA between https://github.com/phetsims/chipper/commit/a9df10232f2ec48fe9578278f87f5d471c573445 (Nov 6th, 2015) and https://github.com/phetsims/chipper/commit/dfa45c1613a09c16d71afc9a896e8a246adc41da (Nov 10th, 2015), ```grunt deploy-production --locales=*``` will fail out after reporting that it was deployed:
[code]

It will NOT have been deployed, and ```--locales=*```

[2016-02-12 01:42] jonathanolson commented on #10
Done.

[2016-02-12 01:42] #10 closed

[2016-02-12 05:32] ariel-phet opened #11 "milestone test issue"
making this issue to see if I can do cross repo milestone searches

[2016-02-12 05:37] #11 closed

[2016-02-24 18:05] ariel-phet opened #12 "New standard "design:interviews" label"
@mattpen can you make a new standard label across repos

"design:interviews" color #D4A0FB

[2016-02-25 01:12] ariel-phet commented on #12
@mattpen from @arouinfar

Probably should fix that :)

[2016-02-25 02:23] mattpen commented on #12
@ariel-phet - The new label should be pushed to all repos in the correct state now.

[2016-02-25 02:35] ariel-phet commented on #12
@mattpen looks good, closing, thanks!

[2016-02-25 02:35] #12 closed

[2016-03-02 20:09] oliver-phet opened #13 "Request new project-wide label "meeting:website""
@mattpen can you please create a new project-wide label called "meeting:website" (black color like the other meetings)

[2016-03-04 16:04] mattpen commented on #13
This label has been added to all repos.

[2016-03-04 16:04] #13 closed

[2016-03-10 18:51] pixelzoom opened #14 "code formatting problem with function definitions"
Relocated this issue from https://github.com/phetsims/rutherford-scattering/issues/39.

Looks like there's a general problem with formatting (in phet-idea-codestyle.xml).

In every source file, there's an extra space after the token function, e.g.:
`define( function ( require ) {`

The correct formatting is no space after function, e.g.:
`define( function( require ) {`

I worked with @schmitzware

[2016-03-10 18:51] pixelzoom commented on #14
The option that controls this is accessed via this check box: Preferences -> Editor -> CodeStyle -> Javascript -> Before Parentheses -> Function declaration parentheses.

When checked, this is written to the .xml file:

<option name="SPACE_BEFORE_METHOD_PARENTHESES" value="true" />

When unchecked, this is written to the .xml file:

<option name="SPACE_BEFORE_METHOD_CALL_PARENTHESES" value="true"

[2016-03-17 19:18] pixelzoom opened #15 "relocate .credentials"
The first step in https://github.com/phetsims/phet-info/blob/master/github-labels/README.md is:

We generally try to avoid creating files like this in our working copy, because it increases the probability of accidentally checking it in to github.  Better approaches:

(1) Create the file in $HOME/.phet/ (would require a better name)

(2) Add fields to $HOME/.phet/build-local.json

Option 2 is pref

[2016-03-17 19:37] pixelzoom opened #16 "add-labels.sh is broken, or instructions are wrong"
I'm on Mac OS X 10.11.3.  I followed the instructions at https://github.com/phetsims/phet-info/blob/master/github-labels/README.md.

I downloaded `jq-osx-amd64`, made sure it was execrable (`chmod 755`), put it in $HOME/bin, and verified that it is in my path (`which jq-osx-amd64`).

Here's the output, which indicates multiple failures:

[code]

[2016-03-17 19:38] pixelzoom commented on #16
I'm also wondering if the quotes around the repository name (eg `'phetsims/twixt'`) are really necessary? They are shown in the instructions.

[2016-03-18 16:06] mattpen commented on #16
@pixelzoom - Thanks for taking a look.

- I ran the script for twixt without modification and it worked from my machine.
- The single quotes are in fact not necessary, I'll remove that from the documentation.
- I'll have to take another look at how the script runs `jq`.  For now I'm just running it from an executable on my machine instead of installing it formally. Thus there is no alias defined t

[2016-03-18 17:45] pixelzoom commented on #16
I see the following errors in the output in https://github.com/phetsims/phet-info/issues/16#issue-141686090:

(1) `./add-labels.sh: line 14: [[: phetsims/twixt: division by 0 (error token is "t")`

Perhaps this was caused by putting quotes around the repo name?

(2) `/Users/cmalley/jq-win64.exe: No such file or directory`

The instructions say "Install jq - https://stedolan.github.io/jq/", seems t

[2016-03-18 17:49] pixelzoom commented on #16
I see the following errors in the output in #16 (comment):

(1) ./add-labels.sh: line 14: [[: phetsims/twixt: division by 0 (error token is "t")

Perhaps this was caused by putting quotes around the repo name?

(2) /Users/cmalley/jq-win64.exe: No such file or directory

The instructions say "Install jq - https://stedolan.github.io/jq/", seems that you need to elaborate.
On line 64 of add-labels.sh

[2016-03-31 17:51] jbphet opened #17 "Questions and (hopefully) answers about Nagios"
I recently was working with OIT to set up the build-server to automatically be restarted if it goes down.  In the process, they sent me a link to a web-based UI for monitoring processes, turning monitoring services on and off, and such.  The link is https://monitor.colorado.edu/nagios/, and identikey credentials are used to log in.  Once logged in, click on the "Services" link on the left side to

[2016-04-11 15:13] jbphet commented on #17
I asked OIT the question about scheduling down time (see the comment just above).  In a nutshell, the answer is yes.  Here is the complete response:

[2016-04-11 22:30] jbphet commented on #17
I also asked OIT about @jonathanolson's question concerning whether init.d is used.  Here is their response:

@jonathanolson - I think this addresses your question, assigning to you to confirm.

[2016-04-12 16:05] jonathanolson commented on #17
Yes, answers the questions. Thanks!

[2016-04-12 16:05] #17 closed

[2016-05-09 15:27] andrewadare opened #18 "Minor code review checklist bug"
The code review checklist has this bullet point:

 - [ ] Does the README.md format and content match PhET guidelines? Was it generated by grunt generate-published-README or grunt generate-unpublished-README?

Based on the chipper Gruntfile, the correct commands are `grunt (un)published-README`.

I will fix it.

[2016-05-09 15:29] #18 closed

[2016-05-09 18:45] andrewadare opened #19 "Clarify "DT" checklist bullet item in code review checklist"
In https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md:

Might be useful to link to an example where this is done correctly. "DT" should not be capitalized in the first mention, and wouldn't hurt to use the word "timestep" (I'll fix)

[2016-05-17 18:05] ariel-phet commented on #19
@andrewadare pinging on this issue

[2016-05-17 18:07] ariel-phet commented on #1
@andrewadare does this seem like something you or @jessegreenberg would want? If so maybe mark for dev meeting?

[2016-05-17 18:45] andrewadare commented on #19
@jbphet, you explained some things about animation frame rates to me a while back. Is there an exemplary snippet of code you could point me to where this "capping" mentioned in the CRC is done properly? Is it a matter of adding in a delay to regulate the animation rate?

I'm happy to clarify the docs once I see a concrete example of how this is supposed to be implemented.

[2016-05-17 19:05] andrewadare commented on #1
Sure, I'd be interested to try this out. Will need to make sure it's compatible with the latest ST3 build (3114) and all my other tooling/customization around ST3.

[2016-05-18 14:17] andrewadare opened #20 "Add steps to sim_deployment.md?"
Two steps might be worth mentioning as part of the deployment procedure. For the more experienced devs, these probably go without saying (but then again they're not the ones who need these docs!)

 - Run chipper/bin/pull-all.sh before building
 - After running `grunt` but before uploading, open the sim HTML file locally and interact with it to make sure all's well.

If there's agreement that these

[2016-05-18 15:56] jbphet commented on #19
The exact behavior is dependent on the sim, since some models are able to handle considerable variability in the time step and others are much more constrained.  Below is a smattering of examples from various sims.

From Gravity and Orbits:
[code]

From Faraday's Law:
[code]

From John Travoltage:

[code]

From Neuron:
[code]

[2016-05-18 17:41] andrewadare commented on #19
@jbphet this is great. Even just linking to this in the checklist would be a nice improvement. This issue is already tagged for the dev meeting, so we can discuss how best to convey this info.

[2016-05-19 16:58] jessegreenberg commented on #1
This looks like a really cool tool, but I don't think its something I would want to use.  I don't write a lot of log heavy code, so I don't want my assertions and logs to be hidden relative to my other code.  Module statements should also now be blocked at the top of each file like

[code]
By preference, I somewhat prefer not color coding module/plugin/file and I can read this information quickly.

[2016-05-19 18:50] pixelzoom commented on #1
5/19/16 dev meeting:
Anyone who is interested in this can check it out under phet-info/ide/sublime-text-2/ (2 files).

[2016-05-19 18:56] pixelzoom commented on #19
5/19/16 dev meeting:
I added an example to the check list. Closing.

[2016-05-19 18:56] #19 closed

[2016-05-19 19:13] #20 closed

[2016-06-02 17:56] andrewadare opened #21 "Document integrating PhET eslint setup with Sublime Text"

[2016-06-02 19:34] ariel-phet commented on #5
@phet-steele recently gave this a look over. Closing

[2016-06-02 19:34] #5 closed

[2016-06-02 19:35] ariel-phet opened #22 "Document some basic stuff for git bash"
make an .md file metioning some things like to get chipper commands working globally need to have path set properly and have a .bashrc file

[2016-06-03 14:23] andrewadare commented on #21
@ariel-phet @jonathanolson @jessegreenberg and anyone else who might find it useful:

https://github.com/phetsims/phet-info/blob/master/ide/sublime-text/eslint-and-sublime-text.md

[2016-06-03 23:27] ariel-phet commented on #22
put a few things in a basic file, will add more as they come up

[2016-06-03 23:27] #22 closed

[2016-07-05 17:19] pixelzoom opened #24 "should disabled UI components also be unpickable?"
Noted during function-builder code review, phetsims/function-builder#55.

[code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) has this item:

A couple of potential problems with this...

(1) Does this correspond to what we want to do for a11y?

(2) If we indeed want to do this... In most cases, it should be handled by the common-code UI

[2016-07-05 17:19] pixelzoom commented on #24
@jessegreenberg Could you weigh in on question (1) above?

[2016-07-05 18:01] andrewadare opened #25 "Tandem.validateOptions checklist item"
This issue is about this checklist item:

and, to some extent, the referenced PhET-iO issue.

It is not so clear to the code reviewer exactly how to systematically go about ensuring that all common code referenced in the sim has been outfitted with the check. If the sim happens to be one of the half-dozen that have a PhET-iO wrapper, the check is easy--just open the wrapper page with assertions en

[2016-07-05 18:02] andrewadare commented on #25
I just read the word new, right at the top. My apologies!

[2016-07-05 18:03] andrewadare commented on #25
I'm going to make the word **new** nice and bold, and close this issue. Feel pretty dumb right now!

[2016-07-05 18:03] #25 closed

[2016-07-05 18:09] andrewadare commented on #25
The CRC now says this:

[2016-07-05 18:51] samreid commented on #25
Looks good @andrewadare, thanks!

[2016-07-07 15:56] jessegreenberg commented on #24
Good point @pixelzoom, for accessibility we will want enabled:false elements to still have pickable:true.  If an element is disabled, we will still want it to receive input events so that it can be found with whatever navigation strategy is used.

[2016-07-07 16:06] pixelzoom commented on #24
Then perhaps https://github.com/phetsims/sun/issues/227 (Disabled components should not be pickable) is bogus?

[2016-07-07 18:41] jessegreenberg commented on #24
Indeed, phetsims/sun#227 has been closed and we are going to proceed with making sure that common code components that can changed enabled state should still be pickable.

For now, I will remove "User interface components with enabled:false should also have pickable:false" from the checklist.

[2016-07-07 19:04] jessegreenberg commented on #24
Removed and closing.

[2016-07-07 19:04] #24 closed

[2016-07-08 19:44] phet-steele opened #26 "New label"
type:automated-testing
FF00AA
all repos

[2016-07-11 18:35] mattpen commented on #26
The label was created and applied to all repos.

[2016-07-11 18:50] mattpen commented on #16
@pixelzoom - I updated the documentation today and attempted to make the script platform agnostic.  There are still some manual steps that have to be performed dependent on your OS because jq does not appear to be available in any package control systems.  Please let me know if anything else needs to be clearer.

[2016-07-11 18:50] #26 closed

[2016-07-25 16:59] #21 closed

[2016-08-01 16:01] ariel-phet opened #27 "Two new meeting labels"
@mattpen can you push two new meeting labels to all repos?

meeting:a11y
meeting:sonification

Thanks!

[2016-08-01 16:35] mattpen commented on #27
@ariel-phet - the new labels have been added.

[2016-08-01 16:36] #27 closed

[2016-08-30 02:44] mattpen opened #28 "Update documentation for ssh/scp to phet-server"
There may be many places in developer documentation that have broken instructions for scp/ssh to phet-server.  scp and ssh are not possible from spot, figaro, or figaro-dev to phet-server.  This is a known problem and it is not likely to be fixed soon, and documentation should be updated with working solutions.  Please tag anything that is out of date here and I can correct it.

[2016-08-30 02:48] mattpen commented on #28
There are two easy solutions.

- Run the command from phet-server rather than from spot/figaro/figaro-dev.

    e.g.
    Instead of running this command from spot:
    `scp /path/to/file username@phet-server:/new/path/to/file`
    try running this on phet-server:
    `ssh username@spot:/path/to/file /new/path/to/file`

     --- or ---
- This will require the user to either be on campus or use the

[2016-08-30 03:02] mattpen commented on #28
According to IntelliJ there appear to be 137 mentions of figaro or spot in code or comments that may possibly need to be reviewed and/or updated.  A lot of the references to spot are using it in the normal sense of the word and not referring to the server.

[code]

[2016-08-31 02:43] mattpen commented on #28
I think that I've addressed all outstanding documentation issues for figaro in the commits above.  Keeping open for dev meeting.

[2016-09-15 18:26] pixelzoom opened #29 "check for dependencies on specific constant values during code review"
Based on experience in https://github.com/phetsims/plinko-probability/issues/84...

Make a note in the [code review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) to monkey around with constants during review, to check for this kind of issue. Target constants that are likely candidates for being changed in the future.  Use your judgement about whi

[2016-09-15 22:15] pixelzoom opened #30 "note the convention of using 'self' for closure variable name"
@jbphet will note the convention of using 'self' for closure variable name in the developer guide and code review checklist.

From 9/15/16 developer meeting notes:

SR: using var “self” shadows an existing javascript “self” variable.  For a class of MyComponent, I typically use var myComponent = this;  This works well for me and I am habituated to it, but not opposed to switching to use var thisMy

[2016-09-15 22:18] pixelzoom commented on #30
Developer Guide: http://bit.ly/phet-development-overview

Code review checklist: https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md

[2016-09-16 18:08] mattpen commented on #28
Documentation appears to be stable for this change.  If anything else needs to be updated we should open a new issue.

[2016-09-16 18:08] #28 closed

[2016-09-16 19:04] jbphet commented on #30
I've added a bullet item for this to the PhET Development Overview.  I looked at the Code Review Checklist, and it didn't seem to me like a separate checklist item was warranted.  I discussed this with @pixelzoom and @samreid via Skype, and they agreed, especially since there is a new lint rule that will check for appropriate use of ```self``` versus ```this```.  So, this should now be addressed.

[2016-09-16 19:04] #30 closed

[2016-09-16 20:06] pixelzoom commented on #29
Code review checklist:
https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md

[2016-09-16 20:12] pixelzoom commented on #29
Done, closing.

[2016-09-16 20:12] #29 closed

[2016-09-16 20:14] pixelzoom commented on #29
Here's what was added:

- [ ] Does the implementation rely on any specific constant values that are likely to change in the future? Identify constants that might be changed in the future. (Use your judgement about which constants are likely candidates.) Does changing the values of these constants break the sim? For example, see https://github.com/phetsims/plinko-probability/issues/84.

[2016-09-29 17:45] pixelzoom opened #31 "make check lists in sim_deployment.md"
Per 9/29/16 dev meeting:
Change list items in [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) to check list items, so that they can be copy-pasted to issues.

[2016-09-29 19:33] pixelzoom commented on #31
Done, closing.

[2016-09-29 19:33] #31 closed

[2016-09-29 22:18] samreid opened #32 "Update docs in git_bash_tips.md"
It currently says:

[code]

Shouldn't this read:

[code]
(note I have (a) changed install=> update, changed grunt=>grunt-cli and left off the line about eslint).

[2016-09-30 04:31] mattpen commented on #16
The script has been working smoothly.  It may be beneficial to add jq to sherpa at some point so that this is executable from anywhere.

[2016-09-30 04:31] #16 closed

[2016-10-03 16:54] zepumph commented on #32
Assigning to @samreid to review and close.

[2016-10-03 21:26] samreid commented on #32
That looks correct, thanks @zepumph.

[2016-10-03 21:26] #32 closed

[2016-10-20 18:49] samreid opened #33 "Clean up sim_deploy docs."
See https://github.com/phetsims/phet-io/issues/673#issuecomment-253859543

Do we still need this section?

Variables to replace in the instructions below:

[code]

It looks like some docs don't use the majority of these.

[2016-10-20 20:43] andrewadare commented on #33
I removed `$USERNAME` because it is no longer needed. The others are being used.

[2016-10-21 23:00] samreid opened #34 "Duplication in sim_deployment.md sourcefiles"
There is a lot of duplicated information in the sim_deployment/src files.  For instance:

![image](https://cloud.githubusercontent.com/assets/679486/19614143/1562b01c-97af-11e6-8311-dc24fd466434.png)

and

![image](https://cloud.githubusercontent.com/assets/679486/19614151/2fcce1ac-97af-11e6-8868-8179e98a944c.png)

This creates a maintenance burden for updating the documentation and opportunities

[2016-10-24 15:46] zepumph commented on #33
@samreid and @andrewadare can this be closed then? Recognizing that most of the cleanup still to do will be done in #34.

[2016-10-25 15:20] mattpen commented on #15
I moved the credentials to the .phet directory.  At some point this should be replaced by oAuth.

[2016-10-25 15:20] #15 closed

[2016-10-25 21:07] samreid commented on #33
The first lines of https://github.com/phetsims/phet-info/blob/master/deployment-info/doc/deploy-dev-phet.md are

Variables to replace in the instructions below:

[code]

However, in that file, $SIM and $VERSION are not used at all, and $HOME is rather obvious in context: ``Your default build configuration is specified in `$HOME/.phet/build-local.json`.``  Can this be cleaned up any?

[2016-10-26 17:34] zepumph opened #35 "Add warning to rc-phet in deployment info about fully tested shas"
Working with @samreid on phetsims/phet-io#724 we noticed that fully tested shas may only have some of the common code libraries in it. Perhaps there needs to be a better way that just a published sim, to keep track of all of the fully vetted shas.

[2016-10-27 19:24] zepumph commented on #34
Unassigned myself to give time for people to see if it is worth spending more time on.

[2016-10-27 19:26] samreid commented on #34
It would be nice if @pixelzoom can take a look and see if he has any recommendations, when he has time.

[2016-10-27 19:27] ariel-phet opened #36 "Refine code_review_checklist.md"
Since we are likely going to be adding items to this checklist in the near future, it might be good to review and trim a bit, and perhaps turn some things into lint rules.

[2016-10-28 02:02] pixelzoom commented on #34
I won't have time to look at this until Monday, 10/31.

[2016-10-31 21:00] pixelzoom commented on #34
I don't get it.  What does all of this work do other than factor out preamble.md and build-process-configuration.md?   It seems like having a single .md document with section links at the top would be a whole lot simpler and just as effective.

[2016-10-31 21:17] andrewadare commented on #34
It's for readability. Instead of clicking and scrolling through a single large file that covers every build case, you pick your doc and read the relevant instructions from top to bottom, with no noise.

[2016-10-31 22:41] pixelzoom commented on #34
How many tasks are there? Even if there are 10, you could put 10 links at the top of the document that navigate immediately to the task that you're interested in.

[2016-10-31 23:14] zepumph commented on #34
@pixelzoom the thought is that 90% of all 10 of those tasks are the same, with just a bit of difference here and there. So if we change something to the main build process, we have to change it 10 times. Does that make sense?

[2016-10-31 23:15] ariel-phet commented on #34
@pixelzoom echoing @zepumph the thought was for better maintainability, just change things in one place and not skip it somewhere.

[2016-11-01 01:01] andrewadare commented on #34
6.

This is exactly what we already have at [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) - the links are just in their own file.

[2016-11-01 17:12] pixelzoom commented on #34
Got it.

Recommended to replace 'release' with 'production' in file names. And we speak of 'dev' and 'production' releases, and the grunt tasks are `deploy-dev` and `deploy-production` respectively, not `deploy-release`.  Also consider replacing "public" with "production" in the text of those same files, for similar reason.

[2016-11-02 17:16] andrewadare commented on #34
Renaming was carried out as suggested. As an aside, the original basis for this issue is less of a concern now - the disparity between the phet brand and phet-io brand is wider now. (I though it would be fun to compute the Levenshtein distance between the pairs as a function of history, but I should do that on my own time.)

Is there anything left to do for this issue?

[2016-11-09 20:39] pixelzoom commented on #36
Since we're going to revisit and refine this over the course of (potentially) several developer meetings...

Here's a link to the checklist:
https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md

And I'm changing the title of this issue, because it hurts my brain :)

[2016-11-10 18:00] pixelzoom opened #37 "duplicate code analysis?"
https://github.com/phetsims/scenery-phet/issues/278 identified code related to "color profiles" that had been copy-pasted in at least 4 places.

In https://github.com/phetsims/scenery-phet/issues/278#issuecomment-259749038, @jonathanolson asked:

I tried IDEA's `Analyze->Locate Duplicates` menu item, which has some (but not much) customization. To locate this type of duplication (between repositor

[2016-11-10 20:15] pixelzoom commented on #37
11/10/16 dev meeting notes:
• We should try not to duplicate code.
• When something sim-specific is going to be reused, the person who needs to reuse it should make the attempt to generalize and move to common code.
• When something in common code needs to be enhanced, the person who identifies the enhancement should make the enhancement to common code.
• Ideally enhancements should be identified

[2016-11-10 20:56] samreid commented on #36
We got through **Repository structure** today, join us again next time for "Coding Conventions".

[2016-11-11 04:37] samreid commented on #37
I'm interested in spending a little time to see if we can automate checks for duplicated code--this could run regularly on aqua or as part of build steps.

[2016-11-11 04:38] samreid commented on #37
For instance, jscpd seems like it may be able to support our project.

[2016-11-11 05:00] samreid commented on #37
I used this .cpd.yaml file in chipper:

[code]

And it told me:

[code]

[2016-11-11 05:12] samreid commented on #37
The yaml is a nice way to input the paths, but I can't get it to play nice with XSL or JSON.  Perhaps next time.

[2016-11-17 18:37] samreid commented on #36
Question: should "code style guidelines" be check-list-ified?

[2016-11-17 18:51] andrewadare commented on #36
We got through the Coding Conventions, Math, and Doc sections. Next up: Organization, Readability,  Maintainability.

[2016-11-17 19:00] samreid commented on #36
We decided to keep it separate.

[2016-11-28 16:52] samreid commented on #36
At the end of the previous meeting, it was suggested that reviewing this as a group may not be an effective use of time.  I don't remember what alternate plan was decided upon.  (Perhaps splitting into a subgroup to work on this, or just refining it each time it is used).

[2016-11-29 19:45] ariel-phet commented on #36
We decided to just keep refining each time is is used. Closing.

[2016-11-29 19:45] #36 closed

[2016-12-01 19:53] jonathanolson opened #38 "Add documentation here for generate-coverage"

[2016-12-01 21:47] jonathanolson commented on #38
@samreid, I don't see an obvious place in phet-info. What path were you expecting would contain this documentation?

[2016-12-02 21:24] samreid commented on #38
How about: phet-info/docs/code-coverage.md

[2016-12-03 21:01] samreid commented on #37
I've got this working, lint is passing.  Documentation is like this:

[code]

For example:

[code]

prints:

[code]

I'll commit, but I must notify other developers that after pulling, they have to run `npm update` in chipper before they can grunt again.

[2016-12-03 21:05] samreid commented on #37
I emailed the team:

As part of https://github.com/phetsims/phet-info/issues/37#issuecomment-264665279 I added a grunt task that reports duplicated code.  This added a new chipper package.json dependency, and hence when you pull, you must run `npm update` in chipper to be able to grunt again.

Best Regards,
Sam

[2016-12-03 21:38] pixelzoom commented on #37
This is great. But `grunt find-duplicates` identifies duplication within a repository, and (optionally) its dependencies. So it won't identify what seems to be the most typical duplication scenario. That is, copying code from one sim to the other.  That type of duplication (and specifically ColorProfile, https://github.com/phetsims/scenery-phet/issues/278#issuecomment-259536874) is what prompted t

[2016-12-03 21:54] samreid commented on #37
Thanks for your feedback, @pixelzoom.  I added an `--everything` option that checks for duplicates across all PhET code.  It catches (among other things) this duplicated code across area builder and balancing act.  It took a few minutes to run on my machine.

[code]

[2016-12-03 21:59] samreid commented on #37
In the above commit, I rename the options to --dependencies and --everything.

[2016-12-03 22:08] samreid commented on #37
Thinking through a process we could use to identify "newly copy-pasted" code, we could run `grunt find-duplicates --everything > ../chipper/duplicates.txt` and check that in.  Then successive runs can be diffed easily.

[2016-12-03 23:21] samreid commented on #37
I went with this path and I think I'll commit shortly:
[code]

[2016-12-03 23:49] samreid commented on #37
I tried adding duplicates with indenting, and they were not detected.  We should see if this is a setting in the library we are using.

[2016-12-04 02:23] samreid commented on #37
Even without the indents, the copy-paste was not detected.  I'm not sure what the problem is.

[2016-12-04 03:25] samreid commented on #37
I tried another "copy from on sim to another" and it was properly detected.  My hypothesis is that an unparseable file wasn't checked for duplicates.

[2016-12-04 03:37] samreid commented on #37
The test that failed before: copying lines 35-53 of ESPB BackgroundNode.js to hookes-law-main.js.

Testing again, I see no duplicates reported.

Adding vars and context so the file is parseable => the duplicate gets reported as:

[code]

Case closed, it will only detect copy-pasted code that parses.

[2016-12-04 03:39] samreid commented on #37
Now that we have a measure for detecting copy/pasted code, we can try to manage it.  I'll close this issue and create a different one.

[2016-12-04 03:39] #37 closed

[2016-12-06 00:58] jonathanolson commented on #38
Added documentation, does that look good?

[2016-12-06 06:52] samreid commented on #38
Skimming through, it looks great.  I'd like to take it for a test drive, so I'll leave this assigned to me.

[2016-12-08 07:06] samreid commented on #38
Works great @jonathanolson!  My test showed me that I neglected to tap the reset all button:

![image](https://cloud.githubusercontent.com/assets/679486/21000819/1383bade-bcda-11e6-973a-b7cdcf1ad219.png)

Docs are good, closing.

[2016-12-08 07:06] #38 closed

[2017-01-06 17:36] pixelzoom opened #39 "sim deployment instructions are broken."
After updating requirejs (https://github.com/phetsims/chipper/issues/538) the sim deployment instructions are broken (as I discovered in https://github.com/phetsims/ph-scale/issues/69#issuecomment-270957254).  There is apparently one or more "npm update" steps that now need to be manually done (when switching branches?)

_All_ of the instructions in https://github.com/phetsims/phet-info/tree/maste

[2017-01-06 17:37] jonathanolson commented on #39
A summary of what the automated maintenance releases process does:

[code]

[2017-01-06 17:39] pixelzoom commented on #39
Here's what I'm seeing when trying to build from the 1.2 branch of ph-scale:

[code]

[2017-01-06 17:53] samreid commented on #39
Instructions were updated in the preceding commit.  I also tested that I received the same errors as @pixelzoom before `npm update` and that after I ran `npm update` then build completes successfully.

[2017-01-06 17:56] samreid opened #40 "Consolidate sim-deployment instructions and get rid of the build step"
@pixelzoom said:

@jonathanolson said:

[2017-01-06 17:58] pixelzoom commented on #39
I realize that the instructions say nothing about how to get back to master following a release.  But post-release, do we now need to run 3 commands, i.e.:

[code]

[2017-01-06 18:01] samreid commented on #39
Yes, and I believe you also need to run npm update in chipper as well.  I'll update the docs.

[2017-01-06 18:01] pixelzoom commented on #39
Make that 5 manual commands:

[code]

[2017-01-06 18:03] pixelzoom commented on #39
The instructions now say:

... but that's really only necessary if you're on a non-master branch, non?

[2017-01-06 18:05] samreid commented on #39
The RC and Production instructions assume that you are working from a set of SHAs, not from master.

[2017-01-06 18:08] pixelzoom commented on #40
We should (unfortunately) discuss this at dev meeting, since some team members seemed to like the current arrangement.

[2017-01-06 18:10] pixelzoom commented on #34
@samreid I realize that we're reevaluating the doc structure in https://github.com/phetsims/phet-info/issues/40.  But can this issue be closed?

[2017-01-06 18:11] pixelzoom commented on #33
@ariel-phet This has stalled, needs to be assigned to someone.

[2017-01-06 18:11] jonathanolson commented on #40
We could combine automated steps to help out also.

[2017-01-06 18:14] pixelzoom commented on #1
Looks like this was checked in and anyone who was interested has presumably had a look (since they were instructed to do so on 5/19/16).  Closing.

[2017-01-06 18:14] #1 closed

[2017-01-06 18:15] pixelzoom commented on #35
In light of https://github.com/phetsims/phet-info/issues/39... This needs to be assigned, rather than wait for someone to hit it.

@zepumph we'll start with you. Assign to someone else as appropriate.

[2017-01-06 18:16] pixelzoom commented on #39
Ah, right.

[2017-01-06 19:10] samreid commented on #39
I added the steps to restore working copy above.  @pixelzoom anything else to do for this issue?

[2017-01-06 20:27] zepumph commented on #34
Sounds good to me. Let's carry on the sim_deployment conversation there.

[2017-01-06 20:27] #34 closed

[2017-01-06 20:36] zepumph commented on #40
Andrew and I made the current version of the sim deployment docs. I am sorry they aren't working out well, and I understand the problems with it. I am all for consolidation of the source files, as that is the reason that there is duplication, which makes it pretty hard to maintain. I will say that one of the main reasons that we decided to separate it was because the one huge file for all sim_depl

[2017-01-06 20:37] zepumph commented on #33
I don't mind doing it.

[2017-01-08 03:04] pixelzoom commented on #39
The 5 lines added below are now duplicated in 8 files. Doesn't this defeat the reason for the current "build instructions" system? We haven't decided to retire that system, so it seems like these "restore" instructions should appear once in a new file, and be added to the 8 docs as part of building the instructions.

[code]

[2017-01-10 18:12] pixelzoom commented on #39
Attempting to deploy ph-scale from 1.2 branch with revised instructions.   Are these 2 steps in the wrong order?

[code]

I see:

[code]

[2017-01-10 18:14] pixelzoom commented on #39
The steps should probably be:

- [ ] Run `npm update` in the sim repo.
- [ ] Run `grunt checkout-shas`
- [ ] Run `npm update` in chipper repo

[2017-01-10 18:15] samreid commented on #39
That should work, but should only be necessary if `npm update` commands in the "restore" instructions were forgotten: https://github.com/phetsims/phet-info/issues/39#issuecomment-271126135

[2017-01-10 18:16] pixelzoom commented on #39
I don't think that's correct. The sim branch (e.g. pheh-scale 1.2) has requirejs in its package.json.  The master branch does not.  So when I checkout a branch and run `grunt`, it complains.

[2017-01-10 18:32] pixelzoom commented on #10
@jonathanolson wrote:

Thanks @jonathanolson, this was indeed useful when I had to publish maintenance releases for https://github.com/phetsims/ph-scale/issues/69.

[2017-01-10 18:37] pixelzoom commented on #39
The "restore" instructions also seem to have problems. Here's what I see for ph-scale, not the multiple npm errors:

[code]

I said:

@samreid It sure looks like you skipped the "test" step.

[2017-01-10 18:51] pixelzoom commented on #39
Perhaps the "restore" instructions should involve `rm -rf node_modules` and `npm install`, instead of `npm update`.

[2017-01-10 20:45] jonathanolson commented on #39
This is potentially a sign of a greater problem. I've been under the assumption that you can change the package.json dependencies arbitrarily and still have 'npm update' successfully install the needed dependencies.

[2017-01-11 04:22] samreid commented on #40
I checked in a rough draft of deployment instructions here with the following features:
* All in one file
* No build step
* Emphasizes overall flow of the build for all types
* Shows steps for different types of build (phet/phet-io, dev/rc/prod) together so that the developer can understand how different builds relate

https://github.com/phetsims/phet-info/blob/master/deployment-info/combined.md

[2017-01-11 04:31] samreid commented on #39
I have a vague recollection about `npm prune`--perhaps it is necessary in some cases?  I think the build server code would be the place to look, we tested a variety of options and implemented the best one in the build server.

[2017-01-11 04:35] samreid commented on #39
Indeed perennial shows how the updates must be done:

[code]

I have no doubt that `rm -rf node_modules` then `npm install` would also work, but `prune` then `update` was tested across a variety of version changes and appeared to work properly.

[2017-01-11 20:50] zepumph commented on #40
That looks really nice, and isn't hard to read at all. Thanks for doing that @samreid.

[2017-01-12 02:07] ariel-phet commented on #33
@zepumph have at it 🥇

[2017-01-12 16:36] pixelzoom commented on #33
https://github.com/phetsims/phet-info/issues/40 may make this unnecessary.

[2017-01-12 17:04] pixelzoom commented on #40
Looks much nicer than the make-based approach.  Have these instructions been tested?

[2017-01-12 17:10] samreid commented on #40
No.  From https://github.com/phetsims/phet-info/issues/40#issuecomment-271774397

[2017-01-12 19:17] samreid commented on #40
@jonathanolson said it would be nice to color highlight the instructions, or at least bold the selectors.

[2017-01-12 19:17] pixelzoom commented on #40
If/when we proceed with this... `grunt checkout-shas` is missing from the instructions.

[2017-01-12 19:17] samreid commented on #40
@jessegreenberg says let's go for it!

[2017-01-12 19:18] samreid commented on #40
After I flesh it out, I'll ask for a review.

[2017-01-12 19:18] pixelzoom commented on #39
Since we decided to proceed with https://github.com/phetsims/phet-info/issues/40, this issue is moot.

[2017-01-12 19:38] jonathanolson commented on #40
Would perennial's ```grunt checkout-shas --repo={{REPO}}``` be recommended (since it doesn't depend on what node_modules are in chipper)?

[2017-01-13 19:54] samreid commented on #39
https://github.com/phetsims/chipper/issues/542 may also help.

[2017-01-17 18:24] zepumph commented on #33
Closing, to be worked on in #40

[2017-01-17 18:24] #33 closed

[2017-01-18 22:03] zepumph commented on #39
@samreid and @pixelzoom it sounds like all issues revolving around npm prune are created and being taken care of. Since phetsims/chipper#542 is solving this for the main deployment,  I think we are clear to transfer these lines: https://github.com/phetsims/phet-info/issues/39#issuecomment-271126135 to the combined and new sim deployment docs in #40. I think we are ready to close this.

[2017-01-18 23:50] zepumph commented on #40
Here is a first pass at a complete port from the make and build docs. What do people think?

[2017-01-19 00:18] pixelzoom commented on #40
Looks great @zepumph, thanks for doing this.  I think this is superior to the `make` approach, both in usability and maintainability.  Unfortunately I don't have time to test drive it for accuracy, and probably won't until my next maintenance or production released.

I did notice that the title of this issue includes "get rid of the build step", and the instructions still contain "the build step"

[2017-01-19 00:30] zepumph commented on #40
I think instead we meant the building of the document itself (like we were doing with make whenever there was at change). Rather than the Sim.

[2017-01-19 00:32] pixelzoom commented on #40
Ah, that makes sense. Thanks for the clarification.

[2017-01-19 02:00] jessegreenberg commented on #40
Thanks @zepumph, looks great.  I just went through the steps for a maintenance release.   I just changed the wording for the maintenance release note under Step 1 so it is clear that this step is only necessary when dependency repos need to be branched.

[2017-01-19 21:31] zepumph commented on #40
Thanks @jessegreenberg, I hope anyone feels free to edit and refine it. I'm going to close this issue, if there are more problems or discussions to have lets make new issues for them. There is still more to do, but I would rather not make this a super issue.

[2017-01-19 21:31] #40 closed

[2017-01-19 23:34] zepumph commented on #35
This has been added to the new deploy docs:

@pixelzoom do you think that more needs to be said?

[2017-01-20 00:23] pixelzoom commented on #35
Looks good to me, closing.

[2017-01-20 00:23] #35 closed

[2017-01-24 06:42] samreid commented on #39
Until https://github.com/phetsims/chipper/issues/542 is complete, we should add `npm prune` before each `npm update` command in the instructions.  @zepumph can you help with this?

[2017-01-24 20:47] zepumph commented on #39
Yes, how about I just work on phetsims/chipper#542 instead of the temporary fix.

[2017-01-24 22:53] samreid commented on #39
https://github.com/phetsims/chipper/issues/542 will only help on master sims released after https://github.com/phetsims/chipper/issues/542 is published.  Sims using older shas will need the manual instructions.

[2017-01-25 00:19] zepumph commented on #39
Ah yes that makes sense,

This is what it looks like now. I am tempted to change it to:

It would always use master's grunt checkout-master so it will always prune and update. Perhaps that would be easier? Not sure what people will think.

[2017-01-25 17:52] samreid commented on #39
I think in https://github.com/phetsims/chipper/issues/542 you recommended running `grunt checkout-master` twice, that sounded reasonable to me.  Would it solve this problem?

[2017-01-25 19:36] zepumph commented on #39
Yeah I actually like that most. Closing.

[2017-01-25 19:36] #39 closed

[2017-02-01 19:40] jessegreenberg opened #41 "new label for sonification"
Future work with Georgia Tech will create issues related to sonification, and there are several issues in john-travoltage related to the sonification work that has been done already.

@mattpen would you mind creating a new label and applying it to all repos called ```dev:sonification```?  I noticed that ```meeting:sonification``` was already added.

[2017-02-01 21:15] mattpen commented on #41
@jessegreenberg - What is the hexcode for the color that you would like to use?

[2017-02-01 21:23] jessegreenberg commented on #41
@mattpen would #005C5F be acceptable?  Its bluish, similar to a11y but a bit darker?

[2017-02-02 05:39] mattpen commented on #41
@jessegreenberg - It should be up now.  I checked a couple of repos to confirm, please reopen if you see it missing anywhere its needed.

[2017-02-02 17:17] jessegreenberg commented on #41
Thanks @mattpen, it is in the repos!  But it looks like the label might be mispelled, in balloons-and-static-electricity, it is ```label:sonificaion```(missing the 't' in 'tion').

[2017-02-02 17:30] mattpen commented on #41
I'll get that corrected, sorry.

[2017-02-02 17:42] mattpen commented on #41
@jessegreenberg - It should be fixed now.  Can you check and confirm?

[2017-02-02 17:48] jessegreenberg commented on #41
Looks great @mattpen, it is correct now, even for the labels I have already applied (Yay!) Thanks!

[2017-02-02 17:48] #41 closed

[2017-03-02 23:10] mattpen opened #42 "New github label"
Request from @oliver-phet -- called “type:user-feedback” hex=EDE162

[2017-03-03 05:36] mattpen commented on #42
@oliver-phet - This should have been applied to all the repos as of tonight.

[2017-03-03 05:36] #42 closed

[2017-03-13 16:45] pixelzoom opened #43 "memory leak testing must be done with PhET-iO enabled"
Instrumenting a sim for PhET-iO involves adding tandems that are registered, and must be deregistered for anything that doesn't exist for the lifetime of the sim.  Any sim that has been instrumented must therefore be tested for memory leaks with PhET-iO enabled.  The code-review checklist should be modified to indicate this.

[2017-03-16 06:50] jonathanolson commented on #43
Continuous testing should potentially be able to fuzz sims in phet-io mode, testing for memory leak patterns (presumably query parameter enables monitoring on Chrome, fires off a postMessage after a certain amount of time with pass/fail).

[2017-03-16 16:30] samreid commented on #43
@zepumph and I wrote a QUnit phet-io test harness that tests sims and wrapper functionality.  Would be good to get this in the central test suite.

[2017-04-23 15:52] pixelzoom opened #44 ""Restore your working copy" process is broken"
[Deploying a PhET Simulation](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) says:

[code]

Here's what I get if I follow those instructions after doing a maintenance release of function-builder 1.0:

[code]

[2017-04-23 15:57] pixelzoom commented on #44
Here's a short-term workaround, which requires manually fixing chipper before doing the second checkout-master.

[code]

[2017-04-24 15:21] samreid commented on #44
What if we bail on npm and just check everything in to sherpa?  (We would still need to npm update after checkout-shas, but going forward this process would be simpler.).

[2017-04-24 15:26] samreid commented on #44
Or should we just paste the instructions with npm prune and update https://github.com/phetsims/phet-info/issues/44#issuecomment-296453008 into the instructions and call it good?

[2017-04-24 15:50] pixelzoom commented on #44
First, I'd like to know why istanbul (code coverage tool) is necessary for `checkout-master` task -- that makes no sense to me.   Who added this dependency? What is it actually being used for?...

@samreid asked:

Ummm... No. Having to run `checkout-master` twice is already enough brain damage.

[2017-04-24 16:00] samreid commented on #44
For future versions (not legacy), then you would have to run checkout-master once.  What is the argument against bailing on npm?

[2017-04-24 16:02] samreid commented on #44
@jonathanolson added istanbul as a code coverage tool which runs during the build step.

[2017-04-24 16:15] pixelzoom commented on #44
I'm not clear on what you're suggesting. Are you suggesting that we manage (in sherpa) everything that npm currently installs?  That sounds like a lot of work.  And we have enough trouble staying currently with the relatively small number of 3rd-party libs that we currently use.

Presumably that means during the `build` task.  Why is it required for `checkout-master`?

[2017-04-24 16:17] pixelzoom commented on #44
@jonathanolson:
(1) How is istanbul adding value to the `build` task?
(2) Why is istanbul required for the `checkout-master` task?

[2017-04-24 16:18] samreid commented on #44
Yes, that was the main idea.  Grunt may make that impossible though, depending on how it works. (may require local node_modules).

It could be that it gets resolved during module-load time and if any module fails to load, then the process fails.

[2017-04-24 17:42] jonathanolson commented on #44
It allows checking code coverage for sims, which has been helpful.

The main gruntfile requires generateCoverage, which depends on istanbul. Most Node things assume that the node_modules has things from package.json installed.

Presumably this shouldn't be an issue with "npm prune" and "npm update". For a while I've recommended against using chipper's "checkout-master" since it can have this issue

[2017-04-24 17:44] samreid commented on #44
perennial sounds like a great solution to this.  @pixelzoom can you test it out and if it works well, update the instructions?

[2017-04-24 18:00] pixelzoom commented on #44
@jonathanolson said:

@samreid said:

perennial has its own `checkout-master` task, with different options and a different .js file?!?  That's not confusing at all :)  Having 2 _different_tasks with the same name, and no documentation in their .js file to indicate why they are different, does not sound like a "great solution".  But I'll take it for a test drive.

[2017-04-24 18:34] jonathanolson commented on #44
Agreed, definitely not ideal. I think we should have one solution in perennial for this, since we really should be running the same code both directions (for master=>SHAs and SHAs=>master), instead of running two different chipper versions.

[2017-04-24 18:57] samreid commented on #44
So maybe delete the chipper one and update instructions and processes to rely on the perennial one?

[2017-04-25 15:02] pixelzoom commented on #44
Adding developer-meeting label to discuss, so we can (a) make all developers aware that it's broken, (b) decide how to fix it, and (c) decide who will fix it.

[2017-04-27 18:21] pixelzoom commented on #44
@jonathanolson pointed out that the workaround in https://github.com/phetsims/phet-info/issues/44#issuecomment-296453008 can fail in some circumstances.  You really need to `npm prune` and `npm install` after `checkout-shas`.

[2017-04-27 18:25] pixelzoom commented on #44
4/27/17 dev meeting notes:

Sounds like we should ditch the chipper `checkout-shas` and `checkout-master` tasks, and use perennial's `checkout-shas`, with `npm install` and `npm update` (which probably causes changes to builder-server).

Deferred to 5/4/17 dev meeting, when @mattpen is here, since he's done some working on perennial and build-server.

[2017-04-27 18:33] Denz1994 commented on #44
Assigning myself to review this issue's process in an effort to learn more about the build process, as per suggestion by @ariel-phet.

[2017-05-04 18:37] jonathanolson commented on #44
Will plan to move to perennial's version. I'll update documentation and process documents.

[2017-06-05 22:35] zepumph opened #45 "Create a setup markdown for IDEA Intellij"
From a skype conversation and @andrea-phet wanting to set it up for herself. It would be good to have a resource to point people to.

Place to live and call it:
`/phet-info/ide/idea/setup.md`?

Content (thanks @pixelzoom):
+ If you already have a directory where your repos are cloned...  Create an IDEA project in the same directory.  Then under Preferences > Version Control, add each of the repo d

[2017-06-05 22:36] zepumph commented on #45
@pixelzoom on skype:
Chris Malley
On Mac, phet-idea-codestyle.xml must be manually copied to $HOME/Library/Preferences/IntelliJIdea2016.3/codestyles/.  Restart IDEA, then you can choose it from Preferences > Editor > Code Style.
(if you have a different version of IDEA, then IntelliJIdea2016.3/ subdirectory will be different)

[2017-06-06 17:59] zepumph opened #46 "Add conditional short circuiting to code review and style guidelines"
@samreid  @pixelzoom and @jonathanolson like this cool way of doing simple conditionals. This is idiomatic to the project, although not much of a saver on space (3 lines to 1).

Some examples:
[code]

[2017-06-06 19:30] pixelzoom commented on #46
To clarify....  I seldom do this, except for `assert && assert( ... )`.   And @jonathanolson said he rarely uses this style.   So this seems to be a preference of @samreid.   I'm OK with it, but I don't think it's a good reason to change existing code.

[2017-06-08 16:33] samreid commented on #46
Also, @pixelzoom pointed out that parentheses are only necessary if there is a compound expression.  For instance:

[code]

[2017-06-09 21:43] pixelzoom opened #47 "should documentation include @extends @mixes ?"
We had a Skype discussion about the use of `@extends` and `@mixes` annotations.  Should these be part of standard documentation?

Pros:
- see at a glance what a type extends and mixes in

Cons:
- increases the number of places that the supertype appears
- no IDE support for verifying that doc matches reality

[2017-06-09 21:46] pixelzoom commented on #47
Example in scenery.Path, relevant lines shown:

[code]

[2017-06-12 12:25] veillette commented on #45
-Fill out your github credentials under

File > Settings> Version Control > GitHub
and test your github credentials wit the test button

-Set the the right margin to appear after 120 characters

File> Settings> Editor > CodeStyle
Set Default Options to 120

[2017-06-12 12:33] veillette commented on #45
Also for point 6.

Configure node. File > Settings > Language & Frameworks > JavaScript Make sure you are using ECMAScript 5.1 is Selected,
Select Prefer Strict mode.

[2017-06-14 23:24] zepumph commented on #45
Thanks, those are all good suggestions.

[2017-06-14 23:24] #45 closed

[2017-06-15 00:04] zepumph commented on #46
I added a section to the development overview:

[code]

[2017-06-15 00:10] zepumph commented on #46
One of the bullets in the code review checklist under "Coding Conventions" is
- [ ] Does the code meet PhET's code-style guidelines, as described in the [“Coding Style Guidelines” section of the "PhET Development Overview"]()

I think it is enough to just have the section in the code-style guidelines? That seems like the best place for it.

[2017-06-15 17:31] pixelzoom commented on #47
Consensus: Ok with using it, but not required.

[2017-06-15 17:31] #47 closed

[2017-06-28 15:48] samreid opened #48 "Move the Coding Style Guidelines to the code_style checklist"
Currently the Coding Style Guidelines has this section:

![image](https://user-images.githubusercontent.com/679486/27644850-d116c5cc-5be1-11e7-993f-ca3dee5f7636.png)

This refers to an external document that lists 23 items to be checked, 18 of which are not covered by ESLint.  Since these are not part of the checklist, we have no easy way to visualize if these have been pass or fail for code revie

[2017-06-28 15:49] samreid opened #49 "branch: style-checklist"
To support: https://github.com/phetsims/phet-info/issues/48

[2017-06-28 16:00] samreid commented on #48
We should add that anyways.

[2017-06-28 16:19] samreid commented on #48
I've committed a rough draft to this branch: https://github.com/phetsims/phet-info/blob/style-checklist/checklists/code_review_checklist.md

[2017-06-28 16:23] pixelzoom commented on #48
My recollection is that we decided to leave these items in the coding-style document because:

 (1) They are applicable to anyone writing sim code, and those people are unlikely to be using the code-review checklist.

(2) Duplicating in both places is not desirable.

(3) PhET developers should be highly aware of PhET code guidelines, so 1 item in the review checklist should be sufficient.

So my v

[2017-06-28 16:24] pixelzoom commented on #48
@samreid said:

My recollection is that we decided to leave these items in the coding-style document because:

I disagree.

 (1) They are applicable to anyone writing sim code, and external developers are unlikely to be using the code-review checklist.

(2) Duplicating in both places is not desirable.

(3) PhET developers should be highly aware of PhET code guidelines, so 1 item in the review chec

[2017-06-28 16:25] samreid commented on #48
Why would we want people writing sim code to not be using the code review checklist?

We will have one copy in the code review checklist.

We need a checklist for the "style" items for the same reasons we need a checklist for the other items, so we can be mindful of them, not forget them and make sure they are addressed.

[2017-06-28 16:30] pixelzoom commented on #48
Not what I said.  I said that external developers were unlikely to find the code review checklist.

Currently not the case.  There is currently no reference to the review checklist, and your above-comitted draft now duplicates the items across 2 documents.

If you need a check list for things that you should be doing every day, then there's a problem that putting them in a check list is not going

[2017-06-28 16:44] samreid commented on #48
The code review checklist is an important document that sim developers should be aware of.  We should link to it or feature it in such a way that it can be easily discovered.

I'm working in a branch and leaving the google doc alone until we have a quorum.  Once this work is approved, we will eliminate the copy from the google doc and add a link to the code review checklist.

Code style issues reg

[2017-06-29 13:28] samreid commented on #48
Since I've only heard from @pixelzoom, I'll move this to Developer Meeting agenda.

[2017-06-29 18:17] zepumph opened #50 "Update RC checklist template to include credits and screenshots"
From dev meeting today. I will get @phet-steele to check on it.

[2017-06-29 18:18] zepumph commented on #50
From the dev meeting again, I will remove the Legends of Learning checkbox as well.

[2017-06-29 18:57] samreid commented on #48
@zepumph said this could be a separate checklist

@ariel-phet said we could remove the "all script should be modularized with requirejs"

[2017-06-29 19:02] samreid commented on #48
Consensus: leave them in checklist.  Move it higher in the list.  Remove unnecessary things like "requirejs modularization".

[2017-06-29 19:04] samreid commented on #48
Merged to master, I'll continue on the above recommendations.

[2017-06-29 19:04] pixelzoom commented on #48
... and replace code-style in PhET Development Overview with a link to the code-review checklist.

[2017-06-29 20:26] zepumph commented on #50
I stripped out the LOL task, and added the sceenshot/credit update steps for once the rc testing is done. Tagging @phet-steele so he can take a look at it. Please change inline or in issue if there are problems. Closing.

[2017-06-29 21:01] phet-steele commented on #50
@zepumph I don't see a change in github

[2017-06-29 22:22] zepumph commented on #50
Sorry, how about now?

[2017-06-30 02:13] samreid commented on #48
I updated the Development Overview style guidelines to point to the checklist: https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#heading=h.1oxr3ptyo50w

[2017-06-30 03:05] samreid commented on #48
I also removed the requirejs bit, fixed the formatting (there were bad `<` characters) and moved it higher in the list. I also cleaned up one of the poorer examples.

@pixelzoom would you like to take a look?  I wasn't sure exactly how high to move the "Coding Conventions" in the list.

[2017-07-03 16:55] pixelzoom opened #51 "keeping responsible_dev.md up to date"
@ariel-phet created [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md), a list of published sims and their primary developers.  Expression Exchange was published recently, and the list was not updated.  [sim_new_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md) needs to be updated with an item something

[2017-07-03 18:07] pixelzoom commented on #48
There is now a circular reference.  In the checklist:

One approach would be to move items in the "Coding Conventions" section of the checklist that are related to documentation to the "Documentation" section of the checklist.  But that looks like a can of worms.   Not sure how to proceed...

[2017-07-03 18:38] zepumph commented on #48
One thought is that "Coding Conventions" means how you code, which includes documentation, so maybe we could remove the aforementioned bullet that creates the circular reference, and just go from there. It will still be covered in the conventions section of the review.

[2017-07-03 18:43] pixelzoom commented on #48
+1 for keeping coding-related documentation stuff in "Coding Conventions".

As for the other items that are currently under the "Documentation" heading...

There 3 could probably move to the "Repository Structure" section:

This item should probably move to "Coding Conventions":

... then the "Documentation" section could be deleted.

[2017-07-03 18:51] pixelzoom commented on #48
I did what I described above - moved Documentation items to other sections, then deleted Documentation section.

@samreid please review.

[2017-07-03 19:53] jonathanolson commented on #51
Sounds good to me. How else would anyone know about Build a Molecule!

[2017-07-03 19:53] pixelzoom commented on #51
Perhaps we should also add info about the lead designer?

Skype discussion:
[7/3/17, 1:50:15 PM] Michael Kauzmann: How do I find out the designer of a sim?
[7/3/17, 1:50:38 PM] Chris Malley: Ha! I was going to suggest that be added to the doc that AP created.
[7/3/17, 1:51:00 PM] Chris Malley: your current method (or function:) is to look at credits.
[7/3/17, 1:51:22 PM] Michael Kauzmann: lol, ok

[2017-07-03 19:54] zepumph commented on #51
@ariel-phet for example, I want to run a color change by someone for RIAW in https://github.com/phetsims/resistance-in-a-wire/issues/88. I updated the thumb color.

[2017-07-03 20:48] zepumph commented on #51
@ariel-phet and I figured it out. I don't think that we need this column in the design doc anymore.

[2017-07-03 23:01] ariel-phet commented on #51
Added to checklists, need to amend all open master checklists

[2017-07-03 23:12] pixelzoom commented on #51
Open master checklists:
https://github.com/search?utf8=✓&q=is%3Aissue+user%3Aphetsims+sort%3Acreated-asc+is%3Aopen+%22master+checklist%22&type=Issues

[2017-07-05 13:21] samreid commented on #48
I reviewed all of the deltas and all seems well, thanks!  Oh, one spelling fix is on the way.

[2017-07-05 13:26] samreid commented on #48
Also, I realized there is no checkbox for "every property method should be documented" (though it does say the visibility annotation should be documented).  Should we add a checkbox for that?

[2017-07-05 16:56] pixelzoom commented on #48
I think it's fine to _not_ document ubiquitous methods like `reset` and `dispose`, or obvious methods like `setWidth` and `getWidth`.   Otherwise I'm ambivalent about the need for this checklist item.

[2017-07-05 17:04] jonathanolson commented on #48
On the other hand, presumably we'd want them to be documented if we are ever generating documentation for phet-io use?

[2017-07-05 17:27] ariel-phet commented on #51
Relevant master checklists updated, some others need to be brought up to the modern checklist. Closing

[2017-07-05 17:27] #51 closed

[2017-07-07 00:10] pixelzoom opened #52 "clarify purpose of regular expressions in code-review checklist"
These bullets appear in the code-review checklist, under the item dealing with visibility annotations:

• Regex for function declarations: `[\w]+: function\(`

I had no idea what these were for, or why they were associated with this item.

Skype discussion:

[7/6/17, 6:00:02 PM] Chris Malley: I didn't grok that.
[7/6/17, 6:00:11 PM] Chris Malley: ... in the checklist I mean.
[7/6/17, 6:00:20 PM] C

[2017-07-07 19:45] pixelzoom opened #53 "redundant bullet item in "Step 6. Test the deployed version""
From [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md):

Test using the index wrapper, located at {{SIM}}/{{VERSION}}/wrappers/index.
You will need a password. Verify that your password works.
Run Step 4, but for the published version. NOTE: A username and password are required to test deployed wrappers for phet-io versions. Ask a PhET develop

[2017-07-07 20:23] pixelzoom opened #54 "'grunt report-third-party' step is in the wrong place"
From [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md):

There's a problem with where this step currently lives.  It occurs before the "Restore your working copy" section.  So if you follow the instructions, you'll be attempting to push the modified `third-party-report.md` to a detached HEAD of sherpa.

So this step probably needs to move to _

[2017-07-10 21:41] zepumph commented on #52
I made visibility annotations into it's own sub header under the coding conventions, I think this makes sense because it is complex, and the PhET conventions are strong. @pixelzoom please comment with suggestions.

[2017-07-11 18:59] phet-steele commented on #50
I'm not generally a fan of this @zepumph.

- These boxes would often go ignored and unchecked when another RC is needed.
- Having them here does NOT capture the case of spot checks since spot checks do not use this template. Spot checks, though, are often when screenshots and credits are missed. Additionally, no, I don't think a separate template for spot checks would be helpful.
- It's not always

[2017-07-11 19:03] zepumph commented on #50
I agree, this does not seem to be the best solution, especially if we are trying to make it full proof. @ariel-phet could you please comment. I'm not familiar with full stack sim development enough to know what is best. @phet-steele's solution above sounds nice to me.

[2017-07-12 16:20] #50 closed

[2017-07-12 22:32] samreid commented on #54
Agreed this step should run after restoring working copy.

[2017-07-13 16:20] zepumph commented on #50
@ariel-phet and @phet-steele talked about this before closing.

[2017-07-13 18:31] pixelzoom commented on #54
Relocated the step. Closing.

[2017-07-13 18:31] #54 closed

[2017-07-14 16:55] zepumph commented on #52
Sorry I didn't assign, @pixelzoom what do you think?

[2017-07-14 17:05] pixelzoom commented on #52
Looks good. Except you've used "property" and "properties" where it should be "Property" and "Properties".

[2017-07-14 17:14] zepumph commented on #52
I looked through and thought I was using them correctly.

I think this is describing javascript property, not AXON.Property, am I wrong?

I also see:

This also looks right to me. Should "Property" instead be "AXON.Property" or something to be more explicit? I know we decided as a group to just discern with  capitalization.

[2017-07-14 17:31] pixelzoom commented on #52
Ah... Indeed, you're correct - this is related to JS properties, not Properties.

Closing.

[2017-07-14 17:31] #52 closed

[2017-07-22 19:24] pixelzoom opened #55 ""memory testing" in checklists?"
Two questions related to memory testing for new sims:

(1) Should a “memory testing” issue be added to [sim_new_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md), to be completed before code review? This would provide history of how memory was tested, identify/document the footprint of the sim, and ensure that no major code changes are needed after co

[2017-07-22 19:27] pixelzoom commented on #55
This issue was motivated by https://github.com/phetsims/projectile-motion/issues/105. I'm about to start a code review, and there's no record of whether one has been done, and what the results were.

[2017-07-24 14:32] samreid commented on #49
This branch was merged to master and deleted, closing.

[2017-07-24 14:41] samreid commented on #48
I added this note:

`- [ ] Every class, method and property should be documented.`

Closing for now!  Anyone reopen if you wish.

[2017-07-24 14:41] #48 closed

[2017-07-26 15:51] pixelzoom commented on #48
I changed `class` to `type`.  JavaScript does not have classes.

[2017-07-26 15:53] samreid commented on #48
It will when we drop IE support :) . https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[2017-07-26 16:17] jbphet commented on #55
I would vote yes for adding an item for memory testing prior to code review.  I think at two specific tests should be run:
- run controlled tests that likely to cause allocations, press reset, examine the heap snapshot to verify that the allocated references were garbage collected.  This should be done for each screen.
- run fuzz testing, take a sample after some initial fixed time to establish a

[2017-07-26 20:57] samreid commented on #55
Can Bayes automatically collect memory usage statistics?

[2017-07-26 21:32] pixelzoom commented on #55
Bayes (if it's even possible) might be useful for keeping memory issues from creeping into published sims.  But I'm not convinced that memory testing is appropriate for unpublished sims that are under development.

[2017-07-26 21:39] samreid commented on #55
Maybe it's better to not create memory leaks as you go, since they are somewhat more difficult to track later on?  Also, Bayes wouldn't have to fail sims with large memory use.  Maybe we could just track memory usage as a function of sim version.  Also I'm not sure whether it's possible.  Is it using Chrome headless?

[2017-07-26 21:42] phet-steele commented on #55
Indeed.

[2017-07-27 17:42] jonathanolson commented on #55
Should technically be possible I believe.

To me, in-development sims should be linted, fuzzed, checked for memory leaks, and other tests should be run, so that things are caught and fixed early (instead of seeing a "finished" product and trying to find what broke things).

[2017-07-27 17:47] pixelzoom commented on #55
@jonathanolson said:

So I should never push anything that has a known memory leak, that I intend to fix?  If that's the case, you'll be getting a push from me once a day instead of 10-100 times per day.

[2017-07-27 18:06] jonathanolson commented on #55
I never meant for continuous testing to make warnings "unacceptable", but more of a reminder of "hey, something's broken". Presumably if you are aware of that in an in-development sim, it would be a case of "that warning will go away when I fully properly fix this code".

I'd recommend committing as you see appropriate.

[2017-07-27 19:25] pixelzoom commented on #55
7/27/17 dev meeting:
Memory testing was moved towards the beginning of the code-review checklist, and this item was modified as follows:

[2017-07-27 19:25] #55 closed

[2017-07-29 01:37] zepumph commented on #46
The above two comments are now in the code review checklist. Closing

[2017-07-29 01:37] #46 closed

[2017-08-05 20:22] samreid commented on #43
I added notes to the checklists, @pixelzoom would you like to review the 3 preceding commits and comment?

[2017-08-09 20:37] pixelzoom commented on #43
Looks ok.  But I'm starting to drown in checklists and "how to" documents, so I won't know for sure until I need to go through the process again.

[2017-08-09 20:37] #43 closed

[2017-08-16 16:00] pixelzoom opened #56 "fix version ids in master"
The majority of sims have incorrect version id's in master (package.json). This step in [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) is apparently being skipped:

For example, area-builder has a 1.1 branch, and package.json in master shows "1.1.0-dev.1", when it should be "1.2.0-dev.0".

These sims have a version id in master that corresp

[2017-08-16 16:03] pixelzoom commented on #56
I updated the step in sim_deployment.md to read:

... and moved it to the section where the release branch is created.

[2017-08-16 16:14] pixelzoom commented on #56
@samreid yes, that's correct for bending-light.

[2017-08-16 16:18] pixelzoom commented on #56
I fixed the ones that has a non-zero dev id, see above commits.   I decided which ones to fix by looking at the dev/html/ directory on spot.

[2017-08-16 16:18] pixelzoom commented on #56
I fixed the ones that had a non-zero dev id, see above commits.   I decided which ones to fix by looking at the dev/html/ directory on spot. @jbphet @jonathanolson you may wish to review, since these were your sims.

[2017-08-16 16:53] pixelzoom commented on #56
Developers, please fix the sims for which you are responsible.  See names next to sims in the above checklist.

[2017-08-16 17:31] jessegreenberg commented on #56
Thanks, updated mine, removing assignment.

[2017-08-16 20:53] jbphet commented on #56
I updated all the ones with my name above and checked them off the list, with the exception of faradays-law.  That sim has a 1.3-phetio branch, but that branch is way behind master, and there are a bunch of recent publications of dev versions with 1.3.x version IDs, so I'm not sure what's going on there.  My guess is that the version ID on master wasn't updated, so now new versions are coming out

[2017-08-16 23:33] pixelzoom commented on #56
@jbphet said:

I said that those sims _may_ need updating. I decided which ones needed updating by looking at spot. arithmetic and balancing-act already had dev versions deployed (1.1.0-dev.1 and 1.2.0-dev.2) for the version id in package.json, so they did _not_ need to be updated.   @jbphet I've revert your changes in the above commits.

[2017-08-16 23:44] pixelzoom commented on #56
I fixed @jonathanolson's sims. I figured that would be less expensive than having to discuss this at developer meeting.

[2017-08-16 23:49] pixelzoom commented on #56
@jbphet said:

Yes, it looks like there have been 1.3.x deploys that should have been 1.4.x.  Not sure what to do about that  - probably nothing.  To prevent more of the same, I've bumped master to "1.4.0-dev.0".

Assigned to @zepumph to decide whether to do anything about the bogus 1.3.x deploys.  When you're done, feel free to close.

[2017-08-17 00:53] zepumph commented on #56
I'm sorry if I have confused the situation. I have used FL as a guinea pig in the recent past to test some build tool changes. None of them are worth much, nor do I think that it matters that they don't bare resemblance to the published version of the same minor version. I plan on not doing anything with these dev versions. I will be more cognizant in the future. Please reopen if anyone feels diff

[2017-08-17 00:53] #56 closed

[2017-08-18 17:14] pixelzoom opened #57 "add all sims to responsible_dev.md ?"
I suggested this awhile back, but @ariel-phet had a strong preference (I don't recall specifics) that [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md) should include only published sims.

Including only published sims creates a problem that has come up multiple times.  When we make changes to common code, that often requires fixes to many sims (bo

[2017-08-18 17:17] samreid commented on #57
I think it would be good to choose a responsible dev for published sims and sims that are planned to be published (or to clearly annotate that the responsible dev is TBD).  Abandoned sims do not need a responsible dev.

[2017-08-18 17:19] jonathanolson commented on #57
I'd like to see every sim have a responsible developer, since sometimes we need to apply fixes across sims where each developer fixes "their sims". Having gaps for abandoned sims would hurt that.

[2017-08-18 17:22] pixelzoom commented on #57
@jonathanolson said:

A note on abandoned or unassigned sims...  Having them listed in responsible_dev.md would be an advantage -- it would be clear which sims are in that state.  That's not at all clear currently.

[2017-08-18 17:25] pixelzoom commented on #57
So to clarify... If a sim is in active-repos, it should be in responsible_dev.md.

[2017-08-18 17:27] jonathanolson commented on #57
Yes, sounds good to me.

[2017-08-18 17:28] jessegreenberg commented on #57
+1, would help clarify issue assignment or things like https://github.com/phetsims/axon/issues/132 and https://github.com/phetsims/axon/issues/102.

[2017-08-18 17:32] samreid commented on #57
I was originally thinking active-runnables, but active-repos sounds even better.

[2017-08-18 19:00] pixelzoom commented on #57
We have a quorum, so I've added all sims to [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md), and I've modified [sim_new_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md) to add an entry when the sim's repo is created.

There are 9 sims that currently have no responsible developer, so I'll leave this

[2017-08-18 19:40] pixelzoom commented on #57
I also added a "Published" column, to indicate which sims have been published.

[2017-08-24 18:39] pixelzoom commented on #57
8/24/17 dev meeting consensus:
Remaining sims in the above checklist don't have an associated developer. Recommendation was to have @ariel-phet assign a developer to each one, for the purposes of fixing breaking changes like https://github.com/phetsims/axon/issues/132#issuecomment-323404090.

[2017-09-05 16:50] pixelzoom commented on #57
8/31/17 dev meeting:
@ariel-phet will finish this off, assigning developers to the remaining sims.

[2017-09-12 16:16] ariel-phet commented on #57
responsible_dev reviewed and updated. Closing

[2017-09-12 16:16] #57 closed

[2017-09-16 15:17] samreid opened #58 "Incorrect instructions in sim_deployment.md"
https://github.com/phetsims/phet-info/edit/master/deployment-info/sim_deployment.md has

Step 1 "RC First":

But then there is a subsequent step "Step 2"

So can the first part be deleted?

[2017-09-18 16:18] pixelzoom commented on #58
No, both are relevant. Step 1 deals with updating package.json in master when you are creating a release branch.  Step 2 deals with updating package.json in the branch that you're publishing from.

[2017-09-19 05:11] samreid commented on #58
I see, thanks for explaining that they are different branches.

[2017-09-19 05:11] #58 closed

[2017-09-20 13:04] samreid opened #59 "Shall we add an item to the code review that forbids setTimeout and setInterval?"
In https://github.com/phetsims/energy-skate-park-basics/issues/380#issuecomment-330740734 @jonathanolson said:

Should we add entries to the code review checklist forbidding `setTimeout` and `setInterval`?

[2017-09-20 13:07] samreid commented on #59
We could catch these even more eagerly if we forbid them with lint rules.

[2017-09-20 15:38] pixelzoom commented on #59
I'd prefer a lint rule to yet-another checklist item.

[2017-09-22 16:07] zepumph commented on #59
I wonder what is best here. I see many setTimeout calls in places that seem fine to me. In aqua, the sonification wrappers, yotta. We use the same lint rules to lint those repos as we do sim code.

I wonder if @jonathanolson can speak to what these "reasons" are. I see tons of usages in joist, as well as implementations in some Timer types in common code.  I think it warrants discussion before a b

[2017-10-02 20:33] jonathanolson commented on #59
The reasons are that if window.setTimeout or window.setInterval are used, then generally it means the sim can't accurately be used to play back event streams in an identical fashion, since it depends on external timing (the setTimeout/setInterval will potentially execute at a different time, particularly if it shouldn't have been executed at all, e.g. if a sim is paused).

In aqua/yotta (and poten

[2017-10-02 21:58] zepumph commented on #59
Makes sense thanks. I'm in favor of adding this item to the checklist, or somehow branching some eslint code into a Sim only and all lint rules.

[2017-10-02 22:13] samreid commented on #59
If there aren't too many occurrences outside of sim code, those cases could use `// eslint-disable` directives.

[2017-10-03 21:55] zepumph commented on #59
I think we should explore a lint rule.

[2017-10-15 14:14] pixelzoom opened #60 "use chipper or perennial versions of grunt task?"
In https://github.com/phetsims/unit-rates/issues/203, I ran into problems with deploying unit-rates.  @samreid pointed out that I was using the perennial version of `checkout-shas`, while [sim-deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) says to use the chipper version. My understanding (from past discussions at dev meetings) is that we should

[2017-10-15 14:25] pixelzoom opened #61 "create a GitHub issue for each maintenance release"
The last several maintenance releases that I've had to do have not gone well.  Most recently, see https://github.com/phetsims/unit-rates/issues/203.  I invariably find that another developer has done a prior maintenance release for the sim. Determining why the prior maintenance was done, and what files were affected, becomes a time sink.

Proposal: Going forward, track maintenance releases via a _

[2017-10-19 16:20] jonathanolson commented on #60
The perennial version currently doesn't npm prune/update. Ideally the command-line version WOULD do this, but we'll need to check dependencies to make sure that doesn't affect the build-server.

[2017-10-19 16:22] jonathanolson commented on #61
So either we automate creating issues and tagging them (why would we need sim-specific issues in batch cases?), or the cost of batch maintenance releases goes way up.

[2017-10-19 16:23] pixelzoom commented on #60
Then remind me why we want to use the perennial version.

[2017-10-19 16:34] pixelzoom commented on #61
@jonathanolson asked:

I'd be OK with a single batch-specific issue, as long as that issue and the associated version id are  identified in a commit message. I see commit messages with this general form in unit-rates 1.0:

Is this commit message automated, or is it up to the developer?

[2017-10-19 18:52] pixelzoom commented on #60
10/19/17 dev meeting notes:
• perennial version was recommended because older versions of chipper may not work correctly.
• For now, use the chipper version, since it does npm install/update.  If you run into problems, use perennial version and do manual npm install/update.
• This will be handled automatically in chipper 2.0 under the "automate steps" directive.

[2017-10-19 19:12] pixelzoom commented on #61
10/19/17 dev meeting notes:

We'll do nothing for now, and hope things improve with chipper 2.0.  In the meantime, look at GitHub commits and/or Network view.

[2017-10-19 19:12] #61 closed

[2017-10-19 19:31] Denz1994 commented on #61
Perhaps we can use Milestones in the Git api to group issues for specific maintenance releases.

[2017-10-24 00:12] pixelzoom opened #62 "spaces before/after parentheses"
Question about https://github.com/phetsims/axon/commit/56c45e585f456b1237597c0346f0bf5bb94204f4#diff-5cb97461fb42ca69367a592653c72c9c ...

The sole change in that commit was to remove spaces before/after parentheses surrounding an expression.  I'm using phet-codestyle.xml with WebStorm 2017.2.5, and applying formatting does _not_ remove those spaces.   Why did your formatting remove them?   I also

[2017-10-24 02:56] samreid commented on #62
It appears that IDEA 2017.3 EAP introduced changes to the formatting rules.  In the settings, I checked spaces within "grouping parentheses"
![image](https://user-images.githubusercontent.com/679486/31922837-92a19f74-b834-11e7-8c7c-20c3305c5c11.png)
and it seemed to restore the whitespaces.

[2017-10-24 02:58] samreid commented on #62
When I apply that rule in Bending Light (still with IDEA 2107.3 EAP), I see lots of changes like these:

![image](https://user-images.githubusercontent.com/679486/31922886-e258cbe6-b834-11e7-8f97-255d1d72a039.png)

Are those parens supposed to have spaces or not?

[2017-10-24 04:52] pixelzoom commented on #62
Sure looks like those are "grouping parentheses" and should have spaces.

[2017-10-24 04:55] pixelzoom commented on #62
I don't see "Grouping parentheses" in WebStorm's code style preferences (looking under JavaScript). WebStorm appears to just ignore grouping parens and doesn't apply formatting, leaves them as they are, with or without spaces. I have the latest WebStorm.

[2017-10-29 16:51] samreid commented on #62
I switched to WebStorm 2017.2.5, anything else to do for this issue?

[2017-11-28 22:21] zepumph opened #63 "Document PhET String key conventions"
I was curious about our conventions for i18n string keys today, mainly because of .

After talking with devs it seems like @pixelzoom summed it up nicely:
[code]

I think that these should go in a file somewhere in this repo, or maybe in the development overview; marking as low priority.

[2017-11-28 23:15] pixelzoom commented on #63
Looks to me like these conventions are already documented.

Two of the three convention for string keys are mentioned in the [code review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

The 3rd convention (sim title) is enforced by `grunt build` task. If you don't have "{{REPO}}.title", the task will fail with an error like this:

[2017-11-28 23:27] zepumph commented on #63
@pixelzoom is it worth adding anything about ports in the first bullet you mentioned.

Do you have to keep old string keys from ports in order for the autoport translations to work?

Do you think there is any more work to be done with this?

[2017-11-28 23:41] pixelzoom commented on #63
@zepumph asked:

If we mention ports, it would be a new checklist item specific to ports.  Something that incorporates the information in the answer to your next question.

If you want to take advantage of ported string files, then you should leave the string keys in the ported string files unchanged.   Whether to use ported string files is a decision that we left up to individual developers (deci

[2017-11-28 23:53] pixelzoom commented on #63
I said:

There are at least 3 cases where this has not happened.  See https://github.com/phetsims/pendulum-lab/issues/200, https://github.com/phetsims/faradays-law/issues/97, https://github.com/phetsims/circuit-construction-kit-dc/issues/170.

[2017-11-29 21:12] zepumph commented on #62
I am in this 2017.3 EAP and I'm having the same problem.

[2017-11-29 21:24] pixelzoom commented on #62
WebStorm 2017.3 introduced code style changes, see https://confluence.jetbrains.com/display/IDEADEV/New+project+code+style+settings+format+in+2017.3.   Navigating to Preferences > Editor > Code Style > JavaScript > Spaces, I now see "Grouping parentheses", and it's unchecked for phet-idea-codestyle.

[2017-11-29 21:31] pixelzoom commented on #62
I verified that checking "Grouping parenthesis" provides the desired behavior - spaces before/after parents in expression like `( x > 0 && y > 0 )`.

If I make this change to the PhET code style, I'll also be changing the format of the phet-idea-codestyle.xml, likely making it unusable by anyone using older versions of WebStorm (and IntelliJ).

@samreid @zepumph how to proceed?

[2017-11-29 21:42] pixelzoom commented on #62
Hmmm....  `.idea/codeStyles/codeStyleConfig.xml` (new file) is apparently pointing to `phet-idea-codestyle.xml`.  So perhaps I can just update `phet-idea-codestyle.xml` ?

[2017-11-29 21:46] pixelzoom commented on #62
On Mac, PhET codestyle lives at:
`${HOME}/Library/Preferences/WebStorm2017.3/codestyles/phet-idea-codestyle.xml`

[2017-11-29 21:49] pixelzoom commented on #62
I changed only the "Grouping parentheses" check box, but a diff shows other changes:

[code]

[2017-11-29 21:52] zepumph commented on #62
I too have other changes, that doesn't surprise me because changing things like margins will show up in this document. I think I tracked the XML line to be

`    <option name="SPACE_WITHIN_PARENTHESES" value="true" />`

In the `  <codeStyleSettings language="JavaScript">` tag. Can you confirm?

[2017-11-29 21:53] zepumph commented on #62
To test I exported my settings with the Grouping Parenthesis checkbox checked, and then I exported again with it not checked. This line had changed.

[2017-11-29 21:55] pixelzoom commented on #62
yep.

[2017-11-29 22:01] pixelzoom commented on #62
While `<option name="RIGHT_MARGIN" value="150" />`, I still see right margin set at 120, as described in `phet-info/ide/idea/setup.md`.   So I'm going to go ahead and commit the new `phet-idea-codestyle.xml`.

[2017-11-29 22:02] zepumph commented on #62
I think that we should be able to add that line, but we should make sure it doesn't break an old version.

I happen to have 2017.2.5 sitting around, I tried importing a codestyle that included SPACE_WITHIN_PARETHESES into the old version, and things worked just fine. @pixelzoom I think you are good to commit that added auto formatting rule.

[2017-11-29 22:03] pixelzoom commented on #62
@zepumph could you install the latest `phet-idea-codestyle.xml` and verify that it works for you?

[2017-11-29 22:04] pixelzoom commented on #62
@zepumph said:

I'm not concerned with breaking old versions. There's no reason everyone can't update to latest.

[2017-11-29 22:53] pixelzoom opened #64 "scope of 'use strict' in WebStorm 2017.3"
After updating to WebStorm 2017.3, every .js file that I open warns "File is not in strict mode". For example:

![screenshot_429](https://user-images.githubusercontent.com/3046552/33403301-1930085a-d51d-11e7-96c6-a998ba7ea8ad.png)

Apparent the scope of `'use strict'` is now expected to be script (not function).  If I select "fix" from the menu, it adds `"use strict"` at the top of the file.  For

[2017-11-29 22:54] pixelzoom commented on #64
Should I just disable inspection?

[2017-11-30 01:26] zepumph commented on #62
@pixelzoom please confirm that these autoformatting commits are correct and what PhET wants to go with.

[2017-11-30 01:34] pixelzoom commented on #62
Based on what we decided on Slack, yes that looks correct - spaces before/after parens that surround expressions.

Eg, this:

`showHomeScreen: ( screens.length > 1 ) && homeScreen && ( initialScreen === 0 )`

not this:

`showHomeScreen: (screens.length > 1) && homeScreen && (initialScreen === 0)`

[2017-11-30 01:35] pixelzoom commented on #62
Labeling for developer meeting to inform all WebStorm and IntelliJ users that they should move to latest version and install latest phet-idea-codestyle.xml.

[2017-11-30 18:55] zepumph commented on #62
Mentioned in the dev meeting today. @jbphet wanted to make sure this doesn't affect JSON, I found that it doesn't. @jonathanolson hasn't been a part of this issue, but he uses Sublime and should be aware of this convention. Closing.

[2017-11-30 18:55] #62 closed

[2017-12-05 22:31] jonathanolson commented on #60
Chipper 2.0 now has the main checkout-shas logic in perennial, but forwards `grunt checkout-shas` requests made in the sim directory to perennial.

I'll detail the steps required to do so in https://github.com/phetsims/chipper/issues/616 for this.

[2017-12-05 22:31] #60 closed

[2018-01-04 18:42] pixelzoom opened #65 "review chipper 2.0 "how to" doc"
In 1/4/18 dev meeting agenda, @ariel-phet requested discussion/review of
https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md

[2018-01-04 18:43] pixelzoom commented on #65
My questions/comments …

I think we should get rid of ‘brand’ in build.json specification, no need to be backward compatible.  If you have an older chipper, use `--brand`.

Is ‘grunt —report-third-party’ handled automatically by production deploy?

Should this be on by default? Should there be a way to specify it in build-local.json?

I occasionally publish dev versions from a release branch. How

[2018-01-04 19:41] jonathanolson commented on #65
It would want to leave it in my build-local.json so I don't have to manually specify the brand when I check out older sim SHAs. That's why I left it in this document, as presumably it would still be useful to have.

Yes:
[code]

The debug HTML requires a second require.js step per brand (and is still uglified for phet-io), so it can cause a moderate slowdown. Normally I wouldn't use it, so I opted

[2018-01-04 19:42] samreid commented on #65
Preceding line is unclear

Will the supported brands eventually be inferred from the package.json?

`faradays-law> grunt` works fine but
`perennial> grunt --repo=faradays-law` fails

We won’t really know how to update the instructions until we have tried them in practice.

[2018-01-04 19:47] samreid commented on #65
@pixelzoom recommends clarifying the documentation that the debug HTMLs are automatically created for each production release.

[2018-01-04 19:56] pixelzoom commented on #65
Clarify that `brands` in build-local.json is ignored for dev/rc/production deployment, it's only relevant to local builds.  In the case of deployment tasks, `--brands` is a required task argument.

[2018-01-04 20:00] pixelzoom commented on #65
For build-local.json, indicate that `brand` is chipper 1.0, `brands` is chipper 2.0, and you may want to have both entries if you're using chipper 1.0 and 2.0.

[2018-01-04 20:02] jbphet commented on #65
How is brand support handled for common libraries like sun that are buildable, and the components may be in an intermediate state where some support phet-io and some don't?

2nd paragraph - "Whenever this information is changed, perennial's grunt generate-data should be run, and the files
under perennial/data should be committed/pushed." - what happens if this is forgotten? -- This was discussed d

[2018-01-08 19:08] pixelzoom opened #66 "modify IDEA setup instructions for chipper:2.0"
https://github.com/phetsims/phet-info/blob/master/ide/idea/setup.md says:

Since data files `clone-missing-repos.sh` have moved to perennial, I believe this should change to  "First clone `perennial/`.

[2018-01-08 19:10] pixelzoom commented on #66
I modified setup.md.  @jonathanolson can you think of any other instructions or checklists that might need a similar change?

[2018-01-08 19:11] pixelzoom commented on #66
Ah... Looks like more stuff may need to change in setup.md.  E.g. "you may have to `npm install` in chipper

[2018-01-08 19:24] jonathanolson commented on #66
Clarified a bit about npm install/prune/update in the above commit (had to renumber, so it looks like all lines changed).

@pixelzoom's changes look good, thanks!

[2018-01-08 19:24] #66 closed

[2018-01-08 19:28] pixelzoom opened #67 "modify instructions to point to perennial/bin/"
Similar to https://github.com/phetsims/phet-info/issues/66...  There are a couple of other instruction docs that mention chipper scripts:

bulk-maintenance-release-process.md: "`chipper/bin/status.sh` is useful"

sim_deployment.md: "`pull-all.sh` in `chipper/bin`"

[2018-01-08 19:31] pixelzoom commented on #67
Changed `chipper/bin` to `perennial/bin` in above commit. @jonathanolson fyi, in case you want to take a peek. Closing.

[2018-01-08 19:31] #67 closed

[2018-01-08 19:40] pixelzoom opened #68 "modify "PhET Development Overview" for chipper 2.0"
[PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#heading=h.otez332l59q9) appears to contain instructions that need to change, as the result of some things (shell scripts? grunt tasks?) moving from chipper to perennial.

@ariel-phet I'm not certain about what needs to change (or when), so assigning to you to delegate.

[2018-01-09 19:56] ariel-phet commented on #68
@pixelzoom I think the when is probably after our planned merge on Jan 16. Marking for dev meeting just to do a check in with relevant parties.

[2018-01-09 20:39] pixelzoom opened #69 "missing GitHub labels in some repos"
I ran into this when attempting to add the "status:blocking" label to a graphing-slope-intercept issue.  That label was missing.  And it looks like missing labels is an issue for many repos.

There are currently 50 labels in github-labels.json. (This was not easy to determine, by the way. Why is github-labels.json a single line?!?)

Several of the sims that I'm responsible for are missing labels:

[2018-01-11 08:59] jonathanolson commented on #65
Documentation improvements in https://github.com/phetsims/phet-info/commit/66b6e509a78584e1057f5aa755bb6b8b4099c8f2 (mis-tagged the issue, sorry).

Like any other sim. If the thing you can run (for the runnable) supports phet-io, then you can put it in the supportedBrands. Not every file in the repository needs to be implemented (or accessible).

[2018-01-11 08:59] #65 closed

[2018-01-11 19:34] samreid commented on #68
@ariel-phet asked if @Denz1994 could take a look through the PhET development overview, please update what you can and raise questions here if there are any parts you aren't sure how to update.

[2018-01-11 19:35] samreid commented on #68
@oliver-phet will make sure @Denz1994 has write privileges on the doc

[2018-01-11 19:40] pixelzoom commented on #68
I think the changes will mainly be where things have moved from chipper to perennial.

[2018-01-16 18:08] ariel-phet opened #70 "Investigating if OIT has an enterprise solution for Slack"
I wrote to OIT and was directed ot Eric Galyon (Associate Director: Messaging and Collaboration)

He replied:

Still curious about Slack, I replied

To which he said:

[2018-01-16 18:14] ariel-phet commented on #70
Marking for dev meeting just to see if anyone has interest in MS teams (I am guessing not)

[2018-01-16 18:27] pixelzoom commented on #70
Besides the fact the Microsoft _still_ can't seem to do that anything that involves original ideas or not ripping off (or purchasing) the competition (["The first thing you'll notice about Microsoft Teams .... is that it looks and feels just like Slack."](https://www.pcmag.com/article/349274/microsoft-teams-vs-slack-whats-the-difference)) ...  The main advantage to Teams is integration with Office

[2018-01-16 18:45] pixelzoom commented on #70
Also relevant:

(1) Microsoft Teams is a feature in Office 365, not a standalone product.  So you'll need to also commit to using (or at least installing) Office 365. See https://docs.microsoft.com/en-us/microsoftteams/teams-overview#microsoft-teams-and-office-365

(2) If you don't have an Office 365 license, you can't participate in a team. CU vendors (like PixelZoom) and outside organizations (l

[2018-01-16 19:54] ariel-phet commented on #70
Moving discussion to a separate issue and closing

[2018-01-16 19:54] #70 closed

[2018-01-19 19:01] Denz1994 commented on #68
While following the steps in the "PhET Development Overview" I ran into a few errors along the way. Specifically, the `npm install -g grunt-cli` command seems to not globally install grunt as expected. I've run into this problem before and my workaround includes running `npm install` in the specific repo I am working in along with chipper and perennial. I've also included the `npm prune` and `npm

[2018-01-19 19:35] pixelzoom commented on #68
@Denz1994 asked:

`npm install -g grunt-cli` globally installs the grunt CLI, /usr/local/bin/grunt, which you can confirm by typing `which grunt` in a bash shell.  It does _not_ install the grunt task runner, which it expects to be installed locally (using npm). See https://gruntjs.com/getting-started.

If you're running `grunt` in perennial and seeing "Fatal error: Unable to find local grunt", th

[2018-01-19 20:20] samreid commented on #68
@Denz1994 I think @pixelzoom covered the main point, can you please specify and reassign to me if there's more for me to do in this issue?

[2018-01-24 19:07] Denz1994 commented on #68
Thanks, @samreid and @pixelzoom for the input. I reviewed the changes with @jonathanolson and corrected the documentation to reference Perennial where needed and added the above fixes to avoid potential errors as described above. Closing this issue as the changes have been approved by @jonathanolson.

[2018-01-24 19:07] #68 closed

[2018-02-06 21:35] pixelzoom commented on #69
Tried to label an issue in equality-explorer with "status:blocked", and that label is missing.

@mattpen ping.

[2018-02-07 05:22] mattpen commented on #69
@pixelzoom - The four repos mentioned above now have all 50 standard labels.  `status:blocked` and `status:blocking` are not in the set of standard labels, so they are still missing from equality explorer.  Should we add it to the set (which one - blocked or blocking)?  What color (hex code) should it be?

Developers should be running the add-labels.sh script when they create a new repo, otherwise

[2018-02-07 05:29] mattpen commented on #69
There are some repos that are "active" but are not in `active-repos`, primarily `website`.  I believe it was omitted because its large size is inconvenient for non-website-developers running clone-missing-repos.sh, but it's still needed in the github scripts.  The next time the scripts are updated we can switch to using active-repos, but we would still need a second list for exceptions.

Plaintext

[2018-02-07 17:46] pixelzoom commented on #69
@mattpen said:

I think they are semantically 2 different labels.  But if they're not in the standard label set, let's just ignore them for now.

Yep, I'm aware of it.  I thought we had decided to send requests to you.  But I'll go ahead and set things up so that I can run `add-labels.sh`.

Re duplication in github-labels.json... Sounds like a significant amount of work to address, so I'm ok with

[2018-02-07 17:50] pixelzoom commented on #69
Btw... GitHub credentials are stored in `~/.phet/.credentials`, and information about it is in a public README file?!? That's a security hole just waiting to be exploited.

[2018-02-07 18:53] pixelzoom commented on #69
I went _way_ down the rathole on this one, spent > 1 hour trying to get `add-label.sh` working.  Imo, add-label.sh and the instructions are not ready for general use.  So unless someone wants me to spend more time on this, I will not be installing it now, and will continue to request that @mattpen handle updating github labels.

[2018-02-07 18:53] #69 closed

[2018-02-07 18:58] pixelzoom opened #71 "add-labels.sh isn't ready for general use"
See https://github.com/phetsims/phet-info/issues/69#issuecomment-363871832.

I spend > 1 hour trying to get add-labels.sh running and failed.  I did this because in https://github.com/phetsims/phet-info/issues/69#issuecomment-363660781, @mattpen said that developers should be running it as part of the new sim check list.   But this script really doesn't feel like it's ready for general use.

On ma

[2018-02-07 19:00] pixelzoom commented on #71
Also from https://github.com/phetsims/phet-info/issues/69#issuecomment-363852337:

Highly recommended to use a more secure method of handling GitHub credentials.  And if it does involves a file, make the filename more specific (e.g. github-credentials).

[2018-02-07 19:29] mattpen commented on #71
@ariel-phet - Can you please assign priority?

[2018-02-07 21:10] ariel-phet commented on #71
For the moment, @mattpen is quite busy with other things on the website, but generally good to have such scripts in "ready for prime-time" shape so anybody can run them.

@mattpen will see if this is something Jake can handle. If not he will assign back to me.

[2018-02-07 22:27] pixelzoom commented on #71
When this gets addressed, a few other suggestions:

• Test for prerequisite files. This script requires ~/.phet/.credentials and github-labels.json, but doesn't check that either exist.  This results in hard failure on lines 5 and 64 respectively.

• Don't require navigating to phet-info/github-labels/ in order to run the add-labels.sh.  Like the scripts in perennial/bin/, one should be able to pu

[2018-02-14 16:48] mattpen commented on #71
@jjohnson5253 said he would be interested in working on this.

To add to the list above, we should also consider using active-repos instead of phetsims-repos.json.

[2018-03-01 19:17] jonathanolson opened #72 "Is there a point before/during dev meeting where it is too late to add issues?"

[2018-03-01 20:05] jonathanolson commented on #72
It's never too late.

[2018-03-01 20:05] #72 closed

[2018-03-06 20:24] jbphet opened #73 "Instructions for one-off creation possibly not quite correct"
I am working through the instructions in https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md to deploy a one-off version of a sim.  There is a portion in the "One-off deployments" section that says:

I did this but got the error:

[code]

I added the branch spec, and it worked after that, so I suspect that the docs need updating.  I would make the modifications myself,

[2018-03-07 02:04] zepumph commented on #63
Alright sounds good thanks, closing

[2018-03-07 02:04] #63 closed

[2018-03-08 11:01] jonathanolson commented on #73
Sorry about that! I just implemented branch detection (it looks at what you have checked out, if you don't specify `--branch`), so that the instructions should work (also noticed in https://github.com/phetsims/perennial/issues/75).

Let me know if that works?

[2018-03-08 17:12] jbphet commented on #73
Sounds like a good idea.  I'm not likely to need to do this again for a long time, and the changes look reasonable, so I'm going to go ahead and close this.

[2018-03-08 17:12] #73 closed

[2018-04-06 19:06] phet-steele opened #74 "The Culling of the Labels, Part 1"
I took some labels that have questionable usage and gathered some numbers. I did NOT check every label we have, and these are labels are just ones I'm guessing are not used often. There may be some labels that don't get used often that I didn't include because, in my head, they are used often enough 😄.

Total Uses are also given in a percentage of all issues in phetsims/ ever made.

| Label | Tota

[2018-04-06 19:09] phet-steele commented on #74
@ariel-phet if you'd like me to spend time getting numbers for ALL labels, let me know.

[2018-04-06 19:14] zepumph commented on #74
Of the little utilized labels above, I find `chip-away` and `requires-kathy` to be valuable. I would also expect that there wouldn't be many issues that use those labels, as they are pretty specific imo.

`dev:model` and `dev:help-wanted` seem more general, and their lack of usage could be related more to them being unhelpful. I personally never have used either (that I can currently remember).

[2018-04-06 19:25] ariel-phet commented on #74
@phet-steele a few comments:

1. I think `dev:model` is an important label - it is denoting there is an issue or change to the model, not the design. The model is a very specific aspect of the sim, so this label has merit (and not surprising that we use it rarely since we prefer not to monkey with the model). But it has its place

2. I think `design:general` has quite a few uses because we have no

[2018-04-06 19:30] ariel-phet commented on #74
Basically @phet-steele @amanda-phet others, I don't think "numbers" are necessarily going to tell the story. I am fine evaluating each label on its merit, and usage numbers may help clue us in to giving more scrutiny to certain labels. But it may just be easier to go through the various labels and put ones up for the chopping block.

[2018-04-06 19:41] phet-steele commented on #74
Alright, doing all of our common labels (the ones in this repo). Hold on to your hats, this will be one big table.

[2018-04-06 21:25] arouinfar commented on #74
A few thoughts...
* I find it very helpful to use labels to filter through issues assigned to me, even though I generally keep the number of issues assigned to me as small as possible.
* I agree with @ariel-phet's https://github.com/phetsims/phet-info/issues/74#issuecomment-379353222, especially points (2) and (5).
* `design:polish` is a newer label, so its raw use count may not tell the full stor

[2018-05-31 21:51] lmulhall-phet commented on #74
I think given the recent changes made to the labeling scheme we might want to close this issue... What are your thoughts @ariel-phet?

[2018-06-04 16:51] ariel-phet commented on #74
Seems reasonable to close. Closing

[2018-06-04 16:51] #74 closed

[2018-06-14 23:14] jessegreenberg opened #75 "Remove redundant github labels"
At a May 30th developer meeting, we decided to remove some redundant labels. From the meeting notes:

 - keep “status:ready-for-review”
 - remove “status:in-progress”, “status:ready-to-test”, and “fixed-pending-testing”
 - AP suggested having QA change the labels on existing issues for labels that will be removed.

@zepumph said that label removal isn't in the current API so this will probably be

[2018-06-14 23:19] jessegreenberg commented on #75
Related to https://github.com/phetsims/phet-info/issues/74.

[2018-06-20 20:58] mattpen commented on #75
@jjohnson5253 created a script to delete a label from all repos. We successfully ran the script for `status:ready-to-test` which had no remaining issues.  There are still 8 outstanding issues for the other 2 abels.

Remaining issues under `status:fixed-pending-testing` (5): https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aphetsims+label%3Astatus%3Afixed-pendi

[2018-06-22 20:13] zepumph commented on #64
Currently in my Webstorm 2018.5 and for many versions before this hasn't been a problem for me, it expects it at the function level. @pixelzoom is this still a problem for you? If not did you take steps to fix it?

[2018-06-22 20:17] zepumph commented on #53
This issue is stale, since chipper 2.0 I think this can be closed.

[2018-06-22 20:17] #53 closed

[2018-06-22 20:21] zepumph opened #76 "phettest "build" should be updated for chipper 2.0"
Right now I see two problems:
1. It is only building adapted-from-phet brand. I don't think that we want to be building that, I would think instead the build button should build all supported brands, (maybe even adapted-from-phet last).
2.  We also find that the link to the built sim pointing to http://phettest.colorado.edu/area-model-algebra/build/area-model-algebra_en.html, clearly a relic of ch

[2018-06-24 03:42] samreid opened #77 "Add a README.md for phet-info/conferences"
I noticed there are > 70MB of MP4s checked in under phet-info/conferences.  Can you please add a README.md file that indicates what they are, and what they are for?  Assigned to @phet-steele and @ariel-phet since all commits seem to be from them.

[2018-06-28 22:21] jbphet opened #78 "Clarify comment punctuation recommendations"
I was reviewing some recent commits for blackbody-spectrum, and had a question about our comment punctuation policy.  The following Slack dialog ensued:

------

@jbphet [4:01 PM]
Code style question (because I'm reviewing @SaurabhTotey's comments to Blackbody): I thought a while ago we decided to not use caps and periods on single line comments.  I just looked at some of @pixelzoom's code from Eq

[2018-06-29 13:48] #77 closed

[2018-07-05 16:29] jonathanolson commented on #78
I don't feel strongly either way, but I'm not excited about having to check all comments for this during a code review.

[2018-07-05 16:36] pixelzoom commented on #78
I don't see any need for standardizing these aspects of comments.

[2018-07-05 17:37] pixelzoom commented on #64
Seems to have been fixed in recent versions of WebStorm.  Closing.

[2018-07-05 17:37] #64 closed

[2018-07-11 23:02] samreid commented on #78
It seems natural that sometimes we would use sentences and sometimes sentence fragments.  Each should be punctuated/capitalized accordingly.

[2018-07-12 18:07] pixelzoom opened #79 "create “status:blocks-sim-publication” label"
From 7/12/18 dev meeting:

@zepumph  will create “status:blocks-sim-publication” and relabel existing issue

[2018-07-12 18:08] pixelzoom commented on #79
@zepumph if this takes you more than 15 minutes, punt and reassign to @mattpen.

[2018-07-12 19:00] pixelzoom commented on #78
7/12/18 dev meeting:
What @samreid said in https://github.com/phetsims/phet-info/issues/78#issuecomment-404337066.

[2018-07-12 19:00] #78 closed

[2018-07-13 20:33] pixelzoom opened #80 "problems with 'grunt rc'"
I encountered these problems when trying to deploy equality-explorer 1.0.0-rc.1, using the instructions in [chipper-2.0.md](https://github.com/phetsims/phet-info/blob/2adcd8f1fa5381ef459637bc7e4d1e52b96ef979/deployment-info/chipper-2.0.md#if-the-release-branch-does-not-yet-exist).

(1)  Instructions say "If you do not want to deploy an RC when creating the release branch", but give no instructions

[2018-07-13 20:33] pixelzoom commented on #80
Assigning to @ariel-phet to prioritize and assign.

[2018-07-13 21:18] ariel-phet commented on #80
Since we will have a few more RC's coming up soon on new sims, it would be good to address these concerns in a timely fashion. Seems like most of these are documentation problems, and can be addressed fairly easily.

I imagine @jonathanolson is probably the most familiar to take care of this, but also assigning @mattpen if he has thoughts since he is also pretty familiar with build server (I belie

[2018-08-07 23:48] pixelzoom opened #81 "update code review checklist for ES6"
While doing code review of graphing-quadratics (see https://github.com/phetsims/graphing-quadratics/issues/7), I noted that there are things in the code review checklist that no longer make sense for ES6.  E.g. `@constructor` annotations for all constructor functions.  And there are undoubtedly additional items that we'll need to add for ES6.  So... The check list should (at some point) be reviewe

[2018-08-09 15:47] pixelzoom commented on #81
I don't mind doing this.  But other than reviewing Graphing Quadratics, I have zero experience with the ES6+ features that PhET has cleared for use.  I'm sure that I'll form an opinion about what should be in the checklist.  But that's going to happen later than sooner.

[2018-08-09 15:48] pixelzoom commented on #81
Labeled for developer meeting, to discuss priority.

[2018-08-09 16:37] jonathanolson commented on #81
It would be good sometime to nail down what our best practices are going forward with ES6 (both with Node.js code and sim code). Having devs who have worked with ES6+ a lot make recommendations would be nice.

[2018-08-09 18:56] jonathanolson opened #82 "Best practices for ES6"
I'll come up with some recommendations for how to write our ES6+ style code.

Do's and don'ts.

[2018-08-09 18:58] ariel-phet commented on #81
Closing issue, first we will have a discussion about best practices in ES6 and use that as a jump off point for improving/modifying code review checklist

[2018-08-09 18:58] #81 closed

[2018-08-15 07:35] jonathanolson opened #83 "Improve manual maintenance release instructions"

[2018-08-15 07:37] jonathanolson commented on #83
Updated the instructions since it was noted in Slack that they were insufficient. Can you check the above commit (new version at https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md) and see if it looks better, or if there is anything to add?

[2018-08-15 16:45] pixelzoom commented on #83
Much better, thanks for doing that.

I'm also finding it useful to note the steps that I used to create an RC in the issue, like https://github.com/phetsims/QA/issues/169#issuecomment-412681206.  I'll probably continue to do that until I no longer find it to be useful.

[2018-08-15 16:45] #83 closed

[2018-08-15 20:33] jonathanolson commented on #82
Instead of `var`, I've been using `let` or `const`. Top-level module imports and constants always should use `const`. Otherwise it's developer's discretion in my opinion. I tend to write a lot of code where I know whether the variable will be reassigned or not, so I use `const` when it won't be reassigned (which is the most often).

Generally where possible, I've been using arrow functions instead

[2018-08-16 00:29] zepumph commented on #82
Thank you for the in-depth comment. I have a few questions.

1. Is the following legal es6 to use `this` to put `foo` and `quanitity` on `MyType`:

[code]
or maybe self instead?

2. I think that this is a very good list, and it should not just exist in this github issue that will eventually be closed and forgotten. If there are any tweaks to be made, my recommendation is to do so inline to keep th

[2018-08-16 03:15] samreid commented on #82
Or document it in phet-info/doc/phet-software-design-patterns.md

[2018-08-16 03:54] jonathanolson commented on #82
Not with destructuring. If that's desired, it's possible to do things like `_.extend( this, options )`. That gets troublesome with passing all options through, and generally isn't desired in most cases.

Yes, I figure we can move any "accepted" recommendations to one or both places.

[2018-08-16 18:10] pixelzoom commented on #82
Re the "options" pattern alternative, e.g.:

[code]

I don't see how this works in the context of a class hierarchy, where default need to be specified for both subclass and superclass options, then propagated to the superclass.  Can you provide an example?

[2018-08-16 20:44] jonathanolson commented on #82
It doesn't seem that great for a hierarchy. You'd have to do:

[code]

[2018-08-23 18:32] samreid commented on #82
The only time we cannot use ES6 in common code is: we cannot use `class` for a common code component that needs to be used with `inherit`.

[2018-08-23 19:21] samreid commented on #82
Consensus: Today we decided new common code files can be written in ES6.

[2018-08-23 19:31] pixelzoom commented on #82
Other notes from 8/23/18 dev meeting:

- For new common code files, use ES6.
- When maintaining a .js file, stick to the style used in the file. If it's ES5, stick with ES5 (unless conversion to ES6 is trivial.)
- Don't convert anything from `inherit` to `class` that is used by something that `inherit`s from it.

[2018-08-23 19:34] zepumph commented on #82
in https://github.com/phetsims/phet-info/issues/82#issuecomment-413326801 we got to (but didn't talk about) the paragraph starting with "I really haven't run into many cases where I'd want to use variable numbers of arguments. . ."

[2018-08-27 21:05] zepumph commented on #82
@jonathanolson is there/should there be a difference in practice between scenery (to be thought of as a stand alone graphics library) vs other common code libraries?

[2018-08-27 22:10] jonathanolson commented on #82
Seems like we'd want to handle ES5/ES6 in Scenery similarly to how we would do it for other common code.

[2018-08-30 19:42] mattpen commented on #80
Removing assignment as these are all related to local grunt tasks (the artist formerly known as chipper), not the build-server.

[2018-09-20 19:33] jonathanolson commented on #82
We finished last time at:

[2018-09-29 03:30] mbarlow12 commented on #82
I'm noticing that we haven't discussed the spread operator for objects (I may have missed it). But this pattern fails our linting but is valid JS:

[code]

I'm actually having some difficulty finding whether the spread operator in this context has different support than in an array, and it doesn't appear `wilder` at the moment. Thoughts @jonathanolson ?

[2018-09-29 03:39] pixelzoom commented on #82
@mbarlow12 I can't speak to why your example is failing lint.  But specific to options, we decided to stick with the `_.extends` pattern.  See https://github.com/phetsims/phet-info/issues/82#issuecomment-413635870, https://github.com/phetsims/phet-info/issues/82#issuecomment-413678695, and https://github.com/phetsims/phet-info/issues/82#issuecomment-415184914.

[2018-09-29 16:02] mbarlow12 commented on #82
@pixelzoom it's slightly different.  https://github.com/phetsims/phet-info/issues/82#issuecomment-425612109 uses the spread operator to duplicate all key-value pairs, allowing the user to override or add new keys/values to the resulting object. https://github.com/phetsims/phet-info/issues/82#issuecomment-413635870 uses destructuring to assign values to `const foo` and `const quantity` either from

[2018-10-02 04:46] jonathanolson commented on #82
I recall checking this and that babel didn't support that feature.

[2018-10-02 12:44] mbarlow12 commented on #82
It appeared as though the 'stage 4' proposals had been implemented, but I don't see support from Babel. I may have been confusing Babel's JSX/React capabilities with vanilla JS.

It also looks like `Object.assign` does the same thing. Thanks!

[2018-10-25 23:41] zepumph opened #84 "add an "s" to "block-publication" label"
In dev meeting today it was decided that we want to rename the label to be `status:blocks-publication`

I think the way to achieve this is to add the new one, add that label to all the issues that currently have the old one, and then remove the previous label

Assigning to myself and @mattpen. Whoever gets to it first is fair game.

I see that there is a "delete" script, but it isn't documented ho

[2018-10-25 23:44] zepumph opened #85 "delete-label.sh needs documentation in README"
From #84, I see commits from @jjohnson5253, can you add doc in the README?

[2018-10-26 03:08] mattpen commented on #84
I think there is a change-label script for this purpose, but I'm not 100% sure. I can look at this when I return on Monday.

[2018-10-27 23:10] zepumph commented on #84
Sounds good. I also didn't see a readme entry for that one, and looking into the file wasn't immediately obvious if just running that file was enough (I don't know about updating the master JSON and whatnot.

[2018-10-30 18:39] mattpen commented on #84
I updated the script and the labels today.

[2018-10-30 18:39] #84 closed

[2018-10-30 18:40] mattpen commented on #85
@zepumph - Can you review the doc updates when you get a chance?

[2018-10-30 18:48] mattpen commented on #71
These concerns were addressed in the above commit.

[2018-11-02 01:02] zepumph commented on #85
This is all very nice. Thank you.

Why do we need the list of repos in `github-labels/`, could the script just depend on perennial/data/active-repos instead?

Is there a difference between those two lists. Currently I see that there is a discrepancy (github labels has circuit-construction-ios-app)

[2018-11-15 19:07] samreid commented on #82
We'll discuss this at Core Hours in 2 weeks.  @zepumph will add it to the calendar.

[2018-11-16 17:36] mattpen commented on #85
We do need two lists, because there are active repos missing from "active-repos".  There are some repos, like `website`, which are active but very large and not collaborated on by all team members.  Because active-repos is shared by the clone-missing-repos script, this creates a significant inconvenience in terms of storage.

I've answered this question multiple times, so I'll add it to the doc.

[2018-11-16 17:49] mattpen commented on #85
Docs updated, closing.

[2018-11-16 17:49] #85 closed

[2018-12-03 18:05] jonathanolson commented on #82
Decided we can postpone the register for ES6 classes until after statics are assigned:

e.g.:
[code]

[2018-12-04 22:17] pixelzoom opened #86 "remove "Add an activity" from Master Checklist?"
In https://github.com/phetsims/equality-explorer-two-variables/issues/1#issuecomment-444278797, @amanda-phet said:

I believe that @ariel-phet is maintaining the Master Checklist, so assigning to him.

[2018-12-04 22:18] amanda-phet commented on #86
@arouinfar thoughts on removing this checklist item?

[2018-12-04 22:32] arouinfar commented on #86
@amanda-phet I've always interpreted that checklist item as: review legacy activities and move over the relevant, gold-starred activities (assuming activity terms have been accepted). I have never written an activity for a brand new sim.

I would recommend removing this item from [sim_new_cheklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md). I think we sh

[2018-12-05 17:59] amanda-phet commented on #86
@arouinfar thanks. That all sounds like what I was thinking, too.

[2018-12-06 02:46] samreid commented on #82
@jonathanolson did we conclude this issue can be closed?

[2018-12-10 18:25] jessegreenberg opened #87 "Annotation for re-parentable Nodes"
From https://github.com/phetsims/griddle/issues/32, we were deciding if griddle should be changed so that composite types were re-layerable, which was required (among other things) for use in energy-skate-park. I decided it wasn't worth it in that case, but @jonathanolson suggested

[2018-12-11 20:37] jonathanolson commented on #82
Yes, but will be good to mention the for-of loop issue during the next meeting so I'll leave it open.

[2018-12-12 23:50] ariel-phet commented on #86
Changes made. Closing

[2018-12-12 23:50] #86 closed

[2018-12-13 16:39] samreid commented on #87
Reparenting seems like a workaround that has a "code smell"--we should try to avoid this pattern (which I understand to already be rare).  When this pattern is unavoidable it should be documented with more than an annotation.

[2018-12-13 19:51] #82 closed

[2018-12-13 19:51] Denz1994 commented on #82
Devs are no longer reviewing this issue weekly. Safe to close.

[2018-12-13 19:51] pixelzoom commented on #82
Discussed `for-of` at 12/13/18 dev meeting.

[2018-12-27 19:19] jessegreenberg commented on #87
Discussed during 12/27/18 -

Agreed that we should generally avoid this pattern. There are things like HeaterCoolerNode that do similar things already. HeaterCoolerNode assembles a HeaterCoolerFront and a HeaterCoolerBack, but if it needs to be re-layered the client can add a HeaterCoolerFront and a HeaterCoolerBack as they see fit without supporting a "re-layerable" feature.

[2018-12-27 19:19] #87 closed

[2019-01-03 20:31] pixelzoom opened #88 "flesh out phet-software-design-patterns.md"
Related to https://github.com/phetsims/tasks/issues/969#issuecomment-451265925

At 1/3/19 dev meeting, @ariel-phet suggested that we should spend the next couple weeks of "core hours" reviewing PhET-specific design patterns. @zepumph suggested that someone should evaluate the state of [phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patt

[2019-01-04 03:33] samreid opened #89 "When is it appropriate to use ES6?"
Related to https://github.com/phetsims/phet-info/issues/82 and from conversation in Jan 3 dev meeting:

MK/SR: As we visit and fix files in a sim, can we upgrade to ES6 features:
(a) Piecemeal in each file? (so some parts of the file would be ES6 and some would still be ES5)
CM: Such files will have an odd/inconsistent mix of ES5 and ES6. I think that should be avoided.
MK: I vote no, that sounds

[2019-01-04 18:32] pixelzoom commented on #88
[phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) is currently just a sketch of what might be covered in the document.

Some options:
(1) Have someone make a pass at fleshing out the document (not something that I have time for or interest in doing), then discuss/refine in discussions.
(2) Discuss patterns one at a time, and

[2019-01-04 22:51] ariel-phet commented on #88
@pixelzoom Lets do a compromise.

Can you flesh out 1 pattern? and then that can be discussed at core hours. Perhaps after that, we can do a round robin. Each week a developer takes on a pattern to flesh out, and then it gets discussed at core hours. Seems like it would be a good learning experience.

[2019-01-04 23:17] pixelzoom commented on #88
That sounds OK, and I'll be happy to flesh out one of the patterns.  But I won't get to it before next Monday's core hours.

[2019-01-04 23:57] zepumph commented on #88
I'll take a stab at one for Monday if you would like.

[2019-01-07 18:32] pixelzoom commented on #88
1/7/19 dev meeting on Zoom during core hours:

We put "interested developers" next to each pattern, developers self-identified who would benefits from having the pattern description fleshed out.

@pixelzoom will flesh out "Enumeration" for 1/14/19, for discussion at core hours.

@zepumph will flesh out "Dispose" for 1/14/19 (in case there's time to discuss), but we might not get to discuss until 1

[2019-01-08 18:54] pixelzoom commented on #88
On hold until we resolve phetsims/phet-core#53 (Enumeration conventions).

[2019-01-09 00:45] pixelzoom opened #90 "check for PhetColorScheme in code-review checklist?"
PhetColorScheme has gotten out of date (https://github.com/phetsims/scenery-phet/issues/456), and sims aren't using it when they should be. E.g.:

ESP: phetsims/energy-skate-park#51
MAS: phetsims/masses-and-springs#343
Pendulum Lab: phetsims/pendulum-lab#209
Hooke's Law: https://github.com/phetsims/hookes-law/issues/70

Shall we add this item to the code-review checklist?

- [ ] Verify that the si

[2019-01-09 17:35] ariel-phet commented on #90
@pixelzoom seems appropriate, please add.

[2019-01-09 17:54] pixelzoom commented on #90
On closer inspection, I added these 3 items to the check list:

- [ ] Are there any [magic numbers](https://en.wikipedia.org/wiki/Magic_number_(programming)) that should be factored out as constants and documented?
- [ ] Are there any constants that are duplicated in multiple files that should be factored out into a `{{REPO}}Constants.js` file?
- [ ] Is [PhetColorScheme](https://github.com/phetsim

[2019-01-09 17:54] #90 closed

[2019-01-11 00:41] zepumph commented on #88
Dispose design pattern added above.

[2019-01-16 20:41] pixelzoom commented on #89
Does someone have a proposal, or are we just going to hash one out in dev meeting(s)?

[2019-01-17 02:59] samreid commented on #89
Here are some proposals you can vote on with 👍 and 👎

[2019-01-17 03:03] samreid commented on #89
## Option 1

Go ahead and add the arrow functions and lexical `this` directly to MyFile.js.  The entire file does not need to be upgraded in order to do this.

Reasoning: All PhET developers are comfortable with ES5 and ES6 and the advantage of writing a new part of code in our desired style doesn't necessitate spending extra time upconverting to ES6, or writing in an inferior style (ES5) which wi

[2019-01-17 03:05] samreid commented on #89
## Option 2

In order to use an arrow function in MyFile.js, the entire file must be converted to ES6.

Reasoning: Keeping the entire file in either ES5 or ES6 will be simpler.  No mix of `self` vs `this`, etc.  We should take the time to do good hygiene even on old files.

[2019-01-17 03:06] samreid commented on #89
## Option 3

In order to use an arrow function in MyFile.js, all other files in the repo should be fully upgraded to ES6.

Reasoning: This will keep the entire repo at a consistent language level.  It it important to take the time to do good hygiene on projects that are getting some maintenance work.

[2019-01-17 03:07] samreid commented on #89
## Option 4

This comment is reserved for option 4.  Feel free to commandeer it and write your option here.

[2019-01-17 03:07] samreid commented on #89
## Option 5

This comment is reserved for option 5.  Feel free to commandeer it and write your option here.

[2019-01-17 20:06] chrisklus commented on #89
Consensus from 1/17/19 dev meeting:

We are going with option 1, but it still nice to convert the whole file over to ES6. If you do convert the whole file to ES6, then do that as a separate commit from whatever code change you're making so that it's easier to see where a new problem might have come up from the conversion.

[2019-01-17 20:07] chrisklus commented on #89
Tagging @Denz1994 so you're aware of my comment above. Please close once you're up to date.

[2019-01-28 18:18] zepumph commented on #88
Discussed dispose today. I will update the docs and we will review next week. I would like to note here that we discussed the 4 implementation patterns seen in the code, but we didn't discuss the general pattern or when it is appropriate to dispose (and conversely when we shouldn't be disposing/when there is no need).

I would like to make sure we do that before moving on from this pattern.

[2019-01-29 23:36] mbarlow12 opened #91 "Consider using _.merge (or similar pattern) for nested options instead of _.extend"
After an unexpectedly lengthy thread in Slack, it seemed like this was worth discussing at the dev meeting.

While working on phetsims/scenery-phet#451 and implementing the nested options pattern outlined in https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#nesting, I realized that Lodash has a `merge` function that has similar functionality to `_.extend` thoug

[2019-01-30 03:38] samreid commented on #91
So the main point is we like the recursion, but we need control about how deep the recursion should go?  And for `Enumeration`s we can maybe control the depth of recursion with `freeze` but we have no way to control the depth of recursion with, say, `Node`?

[2019-01-30 23:46] mbarlow12 commented on #91
This seems like a nice pattern. I'm starting to lean towards a `PHET_CORE/Merge` solution. That option could also potentially allow developers to omit the nested object keys. e.g.
[code]

[2019-01-31 02:54] pixelzoom commented on #91
To evaluate the example in https://github.com/phetsims/phet-info/issues/91#issue-404535227, we should see what it looks like with our current `_.extends` pattern, so see below.  In general, the default for each set of nested options is filled in with an additional `_.extend` call.   I haven't had the need to nest more than 1 level deep yet, but I suppose that could be encountered.

[code]

[2019-01-31 17:01] jonathanolson commented on #91
I'll definitely clarify any potential objections during the dev meeting, but it seems workable to only recurse into keys that end in `Options`. The example would be:

[code]
where we would use our own import (`PHET_CORE/merge`), and the nested options would not need to be separated out.

[2019-01-31 18:59] mbarlow12 commented on #91
Another element to consider is that when nested options are used in a base type, the pattern @pixelzoom illustrated in https://github.com/phetsims/phet-info/issues/91#issuecomment-459195618 has to be propagated to subtypes and potentially suptype instantiations. For example, if my sim creates a type that uses `MyNodeTypeWithHSliderInIt`

[code]
this also doesn't show the issue if there are 2 insta

[2019-02-04 15:38] jessegreenberg opened #92 "Design patterns discussion: mixins and traits"
As part of https://github.com/phetsims/phet-info/issues/88, this issue is to document discussion about PhET design patterns for mixins and traits.

Meeting discussion for this issue will likely occur on 2/4/19.

[2019-02-04 15:40] jessegreenberg commented on #92
Documentation is at https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#mixins--traits

[2019-02-04 16:56] samreid opened #93 "Discuss the Creator/Toolbox pattern"
From https://github.com/phetsims/phet-info/issues/88, we would like to schedule a Monday developer meeting to discuss the Toolbox pattern, which is currently listed as "the creator pattern".

[2019-02-12 20:34] pixelzoom opened #94 "convert “PhET Development Overview” to .md file in phet-info?"
“PhET Development Overview” is the intro document that PhET refers people to in the Google Group. It's also a good starting place for new PhET team members.  The document is currently a Google document.  Should it be converted to .md format, and live in the phet-info repo?

This issue was spawned by this Slack discussion with @samreid and @zepumph:

Sam Reid [1:26 PM]
Now that our “PhET Developmen

[2019-02-12 20:36] pixelzoom commented on #94
"PhET Development Overview" currently lives at:
https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit

bit.ly link used in README.md for all published sims:
http://bit.ly/phet-html5-development-overview

[2019-02-12 20:46] pixelzoom commented on #94
I'll also note that editing a Google documents is (by default) easier than editing a .md file. Google's editor is WYSIWIG.  Editing md files requires an md-aware editor, an IDE plug-in, or an iterative edit-preview approach.  For the toolset that I currently use, that makes editing md files more time consuming than Google Docs.

[2019-02-14 05:32] samreid commented on #94
I think it would be a nice step to move the PhET Development Overview to an MD file in the phet-info repo.  Then it will be closer to other relevant docs, more integrated with the rest of our GitHub ecosystem, users will be able to look around at other nearby docs, etc.  This file has mostly stabilized.

The main costs would be:
* Initial cost to rewrite in MD
* Cost to update links to point to th

[2019-02-14 19:52] Denz1994 commented on #94
Dev Meeting: 02/14/19

It would be worth updating and rewriting in .md. This doc typically becomes outdated and it would help to keep our docs in one place. @ariel-phet thought @phet-steele would be a good candidate for this work. @phet-steele reassign to @ariel-phet if there are any concerns.

[2019-02-14 20:01] pixelzoom commented on #91
2/14/19 dev meeting consensus:

* @mbarlow12 will implement
* Recurse only into keys with `Options` suffix
* assert that the the value doesn't have `prototype`.

[2019-02-19 05:38] mbarlow12 commented on #91
I've added the merge function and a large number of unit tests, but it's possible I've missed some cases to check.

Thus far, it seems to be working well but explicitly checking the key for 'Options' as well as testing that it's prototype is the same as `Object`. It will also throw an assertion error if the `...Options` key holds anything other than a brace-style object (e.g. `someNestedOptions: {

[2019-02-25 19:53] samreid commented on #93
I created a minimal example of the pattern here:
http://localhost/scenery/examples/creator-pattern.html

@pixelzoom pointed out https://github.com/phetsims/equality-explorer/blob/daf78c43437991ed53adb487ea4eb2265cb6087d/doc/implementation-notes.md#L97-L113 is also a good write up about this pattern.

[2019-02-25 20:33] jessegreenberg commented on #92
2/25/19 we had our final discussion about mixin and trait. I updated the documentation in https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md to reflect discussion.

https://github.com/phetsims/phet-core/issues/54 is still open to investigate how to guard against shadowing when using mixin/trait, and when decisions are made there we can update the design patterns

[2019-02-25 20:33] #92 closed

[2019-02-25 20:34] samreid commented on #93
Here's a patch that uses the model as the map to the view:

<details>

[code]

</details>

[2019-02-25 20:38] samreid commented on #93
Here's a patch that uses a `Map`:

<details>

[code]

</details>

[2019-03-05 17:06] samreid opened #95 "Discuss the Singleton pattern"

[2019-03-05 20:26] samreid commented on #93
Notes from discussion:

@jbphet recommends to elaborate on coordinate transform, and introduce MVT so it will match more realistic usage.  Something like:
[code]

What patterns are used by Charges and Fields/Balancing Act?

We discussed that MDN indicates cross-platform support for Map, though @jbphet pointed out https://github.com/phetsims/expression-exchange/issues/102

If desired, we could crea

[2019-03-05 20:28] samreid commented on #93
I'm on the fence about this, because many simulations (such as math sims or even Circuit Construction Kit) do not require model view transforms.  I've seen Model View Transform used more in simulations where spatial measurement is important, and there is usually measuring tape, etc.  So I'm not sure whether the example should be burdened by this transform.

[2019-03-05 20:30] samreid commented on #93
I asked on slack:

Leaving self-assigned until I know whether this warrants a new issue.

[2019-03-05 20:32] samreid commented on #93
From slack:

Jesse Greenberg [1:31 PM]

Maybe not critical, but I vote yes!

Chris Malley [1:32 PM]
+1.  I’ve had many non-Creator needs for Map.

Sam Reid [1:32 PM]
OK I’ll open an issue

[2019-03-05 20:37] pixelzoom commented on #93
Re adding MVT to this example...  I don't think that's necessary.   MVT is not essential to the general pattern, and a barebones example is best.  Perhaps MVT deserves its own pattern description, with a note in Creator pattern that "real world" implementation of the pattern may involve MVT.

[2019-03-07 21:56] pixelzoom opened #96 "best practices for options and config"
We're using `options` quite a bit, and it would be good to have some "best practices" and standardization.  This is something that we should discuss in developer meeting, and should be covered in [phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) (see #88).

Notes from Zoom call with @samreid and @zepumph.

Some best practices

[2019-03-07 22:00] zepumph commented on #96
Related to https://github.com/phetsims/phet-info/issues/88

[2019-03-08 04:29] samreid commented on #96
See also the validator pattern used in wave interference's Scene.js:

[code]

[2019-03-08 13:48] pixelzoom commented on #96
Neither of the above examples deals with the specifics of validating or unpacking options, and the comment `// validate option values using assert or validate` was intended to cover the pattern used in wave-interference for combining assignment and validation.

[2019-03-14 18:25] pixelzoom commented on #96
3/14/19 dev meeting:

@pixelzoom will add a note in [phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) that best practices should be incorporated.

[2019-03-14 19:23] pixelzoom opened #97 "chipper-two-point-0-list.md is stale"
I just discovered (chipper-two-point-0-list.md)[https://github.com/phetsims/phet-info/blob/master/sim-info/chipper-two-point-0-list.md], and it appears to be stale.  Some new sims are missing, some sims that have been republished from master are missing,...  And this document isn't mentioned in any checklist.

@ariel-phet who is maintaining this? Do we still need it?

[2019-03-15 02:13] ariel-phet commented on #97
@pixelzoom at some point, I had thought it might be nice to get more sims on chipper 2.0, but it does not seem to have been a big priority or caused massive problems to be on chipper 1.0, and rolling releases are getting done for many sims for other reasons anyhow (like Epub) support. I think we can go ahead and delete this list.

[2019-03-15 02:15] ariel-phet commented on #97
deleted, closing

[2019-03-15 02:15] #97 closed

[2019-03-18 17:01] samreid commented on #91
I have case in Wave Interference where it would be appropriate to use merge (I think), however, it seems like merge is mutating the arguments.  It's unclear whether this is desirable.

For instance:
[code]

results in
[code]

Is that as expected?  What I'm seeing in Wave Interference is that `"units: 'nanometers'"` is getting injected into `NUMBER_CONTROL_OPTIONS` and used in places that shouldn't

[2019-03-18 17:16] pixelzoom commented on #91
`merge` is clearly modifying the value of its `options` argument:

[code]

That violates best practices for options (see https://github.com/phetsims/phet-info/issues/96), and is likely why `NUMBER_CONTROL_OPTIONS` (which is presumably intended to be a constant) is being modified.

[2019-03-18 17:23] pixelzoom commented on #91
On the other hand, maybe `merge` is intended to work like `_.extend`.   If that's the case, then @samreid's workaround in https://github.com/phetsims/wave-interference/commit/3f3d173a4e6dc882f06f4d2aae4d10ce8c68b18a is actually the correct way to do this.

`const merged = merge( {}, options, NUMBER_CONTROL_OPTIONS );`

[2019-03-18 17:24] pixelzoom commented on #91
On the other hand, maybe `merge` is intended to work like `_.extend`, and modify it's first arg.   Hard to tell without documentation.  But if that's the case, then @samreid's workaround in https://github.com/phetsims/wave-interference/commit/3f3d173a4e6dc882f06f4d2aae4d10ce8c68b18a is actually the correct way to do this.

`const merged = merge( {}, options, NUMBER_CONTROL_OPTIONS );`

[2019-03-18 17:26] pixelzoom commented on #96
Hmmm... @samreid originally had something like:

`merge( {...}, NUMBER_CONTROL_OPTIONS ) );`

... and reported that `NUMBER_CONTROL_OPTIONS` was being modified. Do I have that right? If so, there are bigger problems here.

[2019-03-18 17:26] pixelzoom commented on #91
Hmmm... @samreid originally had something like:

`merge( {...}, NUMBER_CONTROL_OPTIONS ) );`

... and reported that `NUMBER_CONTROL_OPTIONS` was being modified. Do I have that right? If so, there are bigger problems here.

[2019-03-18 17:28] pixelzoom commented on #91
Imo, the unit tests in `mergeTests.js` are inadequate.  They do not verify that objects that should not modified are unchanged after a `merge`.

[2019-03-18 17:30] pixelzoom commented on #91
Are the unit tests in mergeTests.js adequate? Do they verify that objects that should not be modified are unchanged after a merge?

[2019-03-18 17:32] samreid commented on #91
I had this code:

[code]

And it was modifying `NUMBER_CONTROL_OPTIONS`.  If I switch the order to:

[code]

Then it works correctly, but options gets mutated.

[2019-03-18 17:35] samreid commented on #91
One more point for code review.  We discussed merging for keys that end with `Options`, but the implementation looks like it is instead checking `prop.includes( 'Options' )`

[2019-03-18 17:40] pixelzoom commented on #91
Documentation for `merge.js` does not pass code review.  I've add TODOs to the code.

[2019-03-18 17:41] pixelzoom commented on #91
All args expect the last one are modified because `merge` is calling itself recursively:

`31 Object.defineProperty( obj, prop, merge( obj[ prop ], source[ prop ] ) );`

This is a problem.  And yes, it means the unit tests are inadequate.  Recommended not to use `merge` until this is fixed.

[2019-03-18 17:43] pixelzoom commented on #91
Hmm... Or again, is this intended behavior?  Hard to tell without documentation.

[2019-03-18 17:43] pixelzoom commented on #91
Hmm... Or again, is this intended behavior? Hard to tell without documentation. I'm not going to do any more work on this until @mbarlow12 has had a chance to chime in.

[2019-03-18 17:47] pixelzoom commented on #91
I expected behavior like `._extend`, where only the first arg is modified.  E.g.:

[code]

[2019-03-18 17:49] pixelzoom commented on #91
FYI, `_.merge` behaves identically to `_.extend`, it only modifies its first arg, see below.  So merge.js is not "Like LoDash's _.merge".

[code]

[2019-03-19 19:15] mbarlow12 commented on #91
`merge` was intended to work exactly like `_.merge`. I believe the issue will be fixed by recursing with
[code]
I'll add unit tests that create copies of 2nd and 3rd args and ensure they're the same after calling merge.

[2019-03-19 21:25] mbarlow12 commented on #91
After a little review, I'd like to know more about how @samreid's options are being mutated. I'd also already written the unit tests to check that args 2, 3, ... aren't modified, so I'd like to know what those missed.

The function iterates over each of the desired sources and recurses separately into each if/when appropriate. The `obj` reference always comes from the first argument to `merge` and

[2019-03-19 21:31] pixelzoom commented on #91
Verified:

[code]

@mbarlow12 and @samreid should probably discuss.

[2019-03-19 22:53] mbarlow12 commented on #91
I've realized that this presents a pretty tricky issue when considering objects like Enumerations and Properties.

From @samreid's comment: https://github.com/phetsims/phet-info/issues/91#issuecomment-474008231,
[code]
the issue comes from
`Object.defineProperty( obj, prop, Object.getOwnPropertyDescriptor( source, prop ) );`
where a reference to `a.sliderOptions` is copied onto the empty object fr

[2019-03-20 14:32] samreid commented on #91
Updated labels to mark for developer meeting.  @mbarlow12 let me know if this is incorrect.

[2019-03-20 15:41] mbarlow12 commented on #91
@samreid thanks, I'd meant to do that. I reverted to the original `merge` implementation since this is still in discussion.

[2019-03-21 18:23] mbarlow12 commented on #91
If we want to go with the dereferencing option, it'd useful to know what types should have references copied.

[2019-03-21 18:56] pixelzoom commented on #91
Verified that `b` is not modified in this case:

[code]

[2019-03-21 19:02] samreid commented on #91
@jonathanolson and @zepumph volunteered to meet with @mbarlow12 for investigation.

[2019-03-21 19:41] kathy-phet commented on #91
Hi guys - This thread seems to be consuming quite a bit of developer bandwidth (from an observer perspective), and I wanted to check in to see if this is a problem worth consuming more developer time and addressing right now, given all the other priorities and things we are trying to tackle. I welcome reflections. Thanks!

[2019-03-22 00:02] samreid commented on #91
This will be a valuable part of our code and an improvement over the current brittle strategy.  I recommend @jonathanolson @zepumph and @mbarlow12 to investigate further and report back after their meeting.

[2019-03-23 21:17] pixelzoom opened #98 "missing GitHub labels in gas-properties"
I'm not sure why, but gas-properties is missing some of the standard labels.  I noticed this when I tried to label an issue  with "status:blocks-sim-publication".

@Matthew-phet could you please run the labels script?  I've had no luck when I've tried to run it.

[2019-03-25 14:48] mattpen commented on #98
@pixelzoom - gas-properties should be good to go now.

 I made several improvements for #71, have you had a chance to try the script since then?

[2019-03-25 15:03] pixelzoom commented on #98
Thanks @mattpen,  gas-properties looks good.

I have not tried the script recently.  Now that I know that it's been improved, I'll give it a go next time.

[2019-03-25 15:03] #98 closed

[2019-03-29 16:23] pixelzoom opened #99 "when to use hasOwnProperty"
Over in https://github.com/phetsims/phet-info/issues/96, @samreid @zepumph and I identified some "best practices" for `options`, including:

Now that I've had a chance to test-drive this use of `hasOwnProperty`, I think we need to take a closer look at whether using `hasOwnProperty` is necessary.

* It makes assertions more verbose. Comparison:

[code]

* It requires a string value, which presents

[2019-03-29 16:25] pixelzoom commented on #99
I see surprisingly few uses of `hasOwnProperty` across sim and common code.  And I see only 7 uses in scenery, so it would be nice to have @jonathanolson chime in.

[2019-03-30 13:56] samreid commented on #99
The main issue is that using the not operator is problematic for options that are falsy.  For example:
[code]

The code probably intended to check that `options.time` wasn't specified, but since `!0` is `true` this assertion will not work as expected.  Same problem for boolean options.  An occurrence of this problem was identified and resolved in https://github.com/phetsims/phet-io-wrappers/commit

[2019-04-03 17:28] jonathanolson commented on #99
It seems to me that for options, we should generally be using "raw" POJO objects. Since they don't use prototypical inheritance (basically, they still have the Object prototype), I don't see a point of checking hasOwnProperty on that type of thing.

To me it IS useful if iterating over keys of something. We don't want to pick up a library dependency that adds something enumerable to the Object pro

[2019-04-04 19:11] pixelzoom commented on #99
4/4/19 dev meeting:

Using `hasOwnProperty` is not required. Use an assertion expression that is semantically correct, and avoids "falsy" gotchas.   Booleans, the number zero, and empty string can all be falsy.  More on falsy at https://developer.mozilla.org/en-US/docs/Glossary/Falsy.

I will update the options "best practices" in #96.

[2019-04-08 17:57] pixelzoom commented on #88
4/8/19 meeting notes:

@mbarlow12 did Dependency Injection.

Next up:

@jonathanolson Namespace
@jbphet State Machine
@pixelzoom Observer

I added a Table of Contents, and Author annotations for each section.

[2019-04-08 19:08] #99 closed

[2019-04-08 19:09] pixelzoom commented on #96
Best practices for checking for existence of an option were updated based on https://github.com/phetsims/phet-info/issues/99#issuecomment-480026200.

[2019-04-29 16:54] pixelzoom commented on #88
5/6/19 - skip
5/13/19 - Module @Denz1994
5/20/19 - Observer @pixelzoom

[2019-05-06 17:27] ariel-phet commented on #75
superseded by #312 - closing

[2019-05-06 17:27] #75 closed

[2019-05-17 17:47] pixelzoom commented on #88
Due to other higher priority work, I am not going to have the “Observer” pattern fleshed out in time for 5/20 dev meeting.  5/27 is a holiday.   So I’m going to push this out to 6/3.

[2019-05-18 03:58] pixelzoom opened #100 "add "PhET-iO" and "A11y" columns to responsible_dev.md ?"
Proposal to add "PhET-iO" and "A11y" columns to [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md), that indicate whether a sim has been instrumented.  It would help me to keep track of the state of sims that I'm responsible for.

[2019-05-21 15:16] veillette opened #101 "Navigate to phettest.colorado.edu"
In checklists/new_repo_checklist.md, the last step to create a new simulation, there is checkbox that instruct you to
'Navigate to phettest.colorado.edu and click the "Refresh Perennial" button"'

It is not clear what URL is being referred to.  While trying to get to https://phettest.colorado.edu/ ,
I get
[code]

[2019-05-21 15:42] veillette commented on #101
[code]

Apparently the URL is correct but one needs to be on a VPN to reach it.

[2019-05-21 15:59] #101 closed

[2019-05-21 18:08] jessegreenberg commented on #100
Sounds good, and should they include name of the developer who did the instrumentation?

[2019-05-23 04:33] samreid commented on #100
Once complete, how will this spreadsheet differ in substance from the one proposed in https://github.com/phetsims/tasks/issues/980#issuecomment-490996388.  Should they be combined or at least inform each other structurally?

[2019-05-23 14:00] pixelzoom commented on #100
Sounds like a good idea to fold responsible_dev.md into phetsims/tasks#980 spreadsheet.

[2019-05-23 19:31] pixelzoom opened #102 "add code-review items related to type expressions"
From 5/23/19 dev meeting...  I will add these items to [code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

- [ ] Use most restrictive type expression when documenting params

- [ ] For type-specific Property subclasses, verify that type expressions are actually appropriate.   For example `@param {BooleanProperty} property` does not su

[2019-05-23 19:44] chrisklus commented on #102
From 05/23/19 dev meeting:

The dev team decided that all type docs (obvious or not) should be included in common code. In sim-specific code, it's up to the developer whether to include obvious type docs.

[2019-05-24 16:21] pixelzoom commented on #102
@chrisklus I'll review your if you review mine. Deal?

[2019-05-24 16:26] pixelzoom commented on #102
@chrisklus Since all of this deals with type expressions... How about handle this entire issue, and you review?

[2019-05-24 16:26] pixelzoom commented on #102
@chrisklus Since all of this deals with type expressions... How about if I handle this entire issue, and you review?

[2019-05-24 16:29] pixelzoom opened #103 "add a table of contents to code_review_checklist.md"
[code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) has gotten long enough that  having a table of contents at the top would make my life easier.   I sometimes remember the section I want to find, but not the string to search for.

[2019-05-24 16:30] chrisklus commented on #102
Sounds great

[2019-05-24 17:06] pixelzoom commented on #102
@chrisklus ready for review. I added the [Type Expressions](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#type-expressions) section.

[2019-05-24 17:12] chrisklus commented on #102
@pixelzoom looks really nice and covers everything relevant that was discussed at dev meeting. Back to you.

[2019-05-24 17:19] pixelzoom commented on #103
Done. @chrisklus would you mind taking a peek, since you're also looking at the checklist for #102?  Closing if all looks OK.

[2019-05-24 17:22] #102 closed

[2019-05-24 17:23] chrisklus commented on #103
Looks good, all links work as expected. Closing.

[2019-05-24 17:30] pixelzoom opened #104 "Convert examples in code_review_checklist.md to ES6"
Convert examples in [code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) to ES6, unless the example is specific to pre-ES6 code.

[2019-05-25 03:14] pixelzoom commented on #104
Done. @chrisklus mind taking a peek, since you recently reviewed a couple of similar issues?

[2019-05-30 13:14] pixelzoom commented on #88
I'm still too busy to get to the "Observer" pattern, and will be for the foreseeable future. So I'm going to un-volunteer.  If anyone else would like to volunteer for that item, please do.  Or @ariel-phet feel free to assign someone.

[2019-05-31 00:09] pixelzoom opened #105 "failure in new-repo-add-labels.sh"
I created new sim repo `diffusion`, then did the following, as instructed in [new_repo_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md):

[code]

Most of the commands appeared to succeed, but here's the last bit:

[code]

Problem here?

[2019-05-31 00:44] pixelzoom opened #106 "steps to create a new sim repo fail"
[new_repo_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md) has problems.  I was following the steps to create a new sim repo (`diffusion`) and things failed as soon as I attempted to `git push`:

[code]

I don't know if these instructions ever worked, since this is the first time I've used them.  I suspect that there are missing steps (like pulling

[2019-05-31 04:43] jonathanolson commented on #106
It looks like the repo was initialized in the first step, based on the initial commit https://github.com/phetsims/diffusion/commit/9af96d6f63a964ba947ef36bbc986ad1d25431c7. Maybe the interface has changed on new repo creation, but it's important for the steps to NOT create a readme/license/etc. initially.

Step 1 of the checklist is:

Let me know if I should clarify the documentation. If GitHub no

[2019-05-31 14:32] pixelzoom commented on #106
GitHHub has a checkbox labeled "Initialize this repository with a README".  I had no idea that that was what you meant by "DO NOT INITIALIZE the repo".   Recommended to change to something like 'Do not check the "Initialize this repository with a README' because...'.

[2019-05-31 14:42] pixelzoom commented on #106
Creating .gitignore or LICENSE would presumably have teshe same effect of initializing the repo, since it involves creating files.  And the instructions say nothing about those items.  I believe I choose to create a GPL3 License, so perhaps that's what messed things up.

I've modified the first step to read as follow, @jonathanolson please correct as needed:

[2019-05-31 15:17] pixelzoom commented on #106
I did a full "polish" of [new_repo_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md), @jonathanolson please review.

[2019-06-03 21:01] chrisklus commented on #104
Looks good, @pixelzoom. I made a couple small edits. Ready to close if those look good to you.

[2019-06-03 21:16] pixelzoom commented on #104
👍 Closing.

[2019-06-03 21:16] #104 closed

[2019-06-04 16:34] pixelzoom commented on #105
Identical problem when I did this for new repo `gases-intro` today.

[code]

[2019-06-04 16:35] pixelzoom commented on #105
Looking at the labels for diffusion and gases-intro, they are both missing "type:wontfix" and "status:ready-for-qa".

[2019-06-04 17:38] jonathanolson commented on #106
Those changes are great, thanks!

[2019-06-04 17:38] #106 closed

[2019-06-04 22:15] mattpen commented on #105
I introduced a bug in the automatic updating of the `github-labels` file.  I was adding new labels as a json object instead of a comma separated list.

This was fixed in df977d764cb74f4d22923bfc650e890fe543ff90

This bug affected the automatic add of "status:ready-for-qa".  I reran the script after the above fix and confirmed this added the label to diffusion, gases-intro, and vector-addition.

[2019-06-04 22:23] pixelzoom commented on #105
Thanks @mattpen.  I now see both "status:ready-for-qa" and "type:wontfix" as labels for those repos.

If there's nothing else to do here, feel free to close.

[2019-06-04 22:28] mattpen commented on #105
@pixelzoom - The `422 Unprocessable Entity` status code usually means that this is a duplicate entry.  I'm not sure if there are other reasons for this error, but in this case it appears to be so as both diffusion and gases-intro have the `type:wontfix` label.  This label is already in the standard github label set so this is expected, but the script attempts to add it anyway in case github change

[2019-06-04 22:29] #105 closed

[2019-06-04 22:31] pixelzoom commented on #105
Confirmed.

[2019-06-07 19:49] pixelzoom commented on #103
Reopening.

Oops.  I forgot that this checklist is intended to be copied to a code-review issue.  When that happens, the TOC links are not correct for that issue. And there's really no way to edit them to make them correct - section heading links work for .md file, not for comments in GitHub issue.

So I'm considering either:

(1) Deleting the TOC from code_review_checklist.md

(2) Adding a note t

[2019-06-08 23:20] chrisklus commented on #103
@pixelzoom I noticed that as well when setting up https://github.com/phetsims/phet-io/issues/1471, so I just deleted them. I like to reference this doc when not nessarily doing a specific review, so option (2) would be my preference as well.

[2019-06-09 00:23] pixelzoom commented on #103
Thanks @chrisklus.  I changed the "NOTE" at the top of the template to:

Does that seem clear/reasonable?

[2019-06-09 00:49] chrisklus commented on #103
Looks great, thanks for doing that. Back to you to close.

[2019-06-09 01:09] #103 closed

[2019-06-11 22:16] zepumph opened #107 "How to jsdoc functions as parameters"
I think it is likely that we have discussed this before, but I can't seem to find a consensus. From this issue I would like to get an idea of how PhET devs want to annotate functions in jsdoc. I would then like to make sure that ends up in the coding conventions section of the code review checklist.

To me this applies to functions passed into other functions, functions passed in as options, and f

[2019-06-11 22:31] zepumph opened #108 "How to jsdoc anonymous objects"
Very related to #107, but I have the same question for Objects. There seems to be no well documentated way to document this. Here are a few things I've seen:

Example 1:

[code]

Example 2, easy to specify a dictionary-like object with key value pairs

[code]

Example 3, use @typedef jsdoc in a separate block for more specificity.

[code]

Example 4: wordy weirdness, here are some examples
[code]

[2019-06-12 19:14] pixelzoom commented on #107
I generally treat anonymous functions like named functions or methods.  But if I'm providing a callback to a some other method, then the callback signature should be part of the method's documentation, not the callbacks.

For example, I feel no need to document the callback instances in this case:

[code]

[2019-06-12 19:26] pixelzoom commented on #108
`@param {Object} foo` is rarely sufficient.

`@param {Object.<string, number>} foo` is an incomplete specification. It tells me the number of params and their types, but nothing about the semantics.   Almost as useless as `{Object}`.

If the specifics of an `{Object}` param are described elsewhere, then I think that this is sufficient:

`@param {Object} foo - see Widget constructor for a descripti

[2019-06-12 20:44] zepumph opened #109 "Prefer "field" to "lowercase property""
There is a lot of emphasis on making sure that "javascript property" or "lowercase property" or "_property_" is different from `AXON/Property`. Why don't we instead just say "field" instead?

This would look like:

* lots of simpler conversations. (@chrisklus really likes the idea of this one)
* using `@field` instead of `@property` in JSDoc.
* Updating the code review checklist appropriately.
* N

[2019-06-13 12:32] samreid commented on #107
* I don't recall nixing Example 4 before, and was interested to see that IDEA knows how to navigate it properly and it has the advantage that it matches our existing JSDoc strategy.  However, it seems odd (but idiomatic) to say `@param {mySpecialCallback}` instead of `@param {function} of type mySpecialCallback` though.
* In `@param {function} createModel` and `@param {function:Object } createView

[2019-06-13 12:34] samreid commented on #108
Also mentioned in https://github.com/phetsims/phet-info/issues/107#issuecomment-501682851

[2019-06-13 13:01] samreid commented on #109
The term "property" is fundamental to JavaScript object nomenclature, please see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects and search for the term `property`.  This also shows in methods like `Object.hasOwnProperty` and `Object.getOwnPropertyNames`, `Object.defineProperty`.  As well as Proxy's `handler.deleteProperty()` and similar.  It seems nice to be abl

[2019-06-13 19:34] zepumph commented on #109
Discussed in developer meeting today.

* The team agreed with @samreid that `property` is foundational to javascript, and that we shouldn't replace that with `field`.
* That said, everyone will understand you if you say "field" instead of "property" in a github issue or something.
* No one is that interested in renaming AXON/Property. This would be a large change to the PhET-iO api. We do not thin

[2019-06-13 19:34] #109 closed

[2019-06-27 18:39] zepumph commented on #88
It may be good to note https://github.com/phetsims/axon/issues/249 when discussing the Observer pattern (as it pertains to reentrancy, error on add/remove while emit, and listener scrambling).

[2019-06-27 18:45] zepumph commented on #100
Now we don't want a spreadsheet in https://github.com/phetsims/tasks/issues/980. We discussed briefly in dev meeting today, but decided to wait for @ariel-phet for more discussion.

@jonathanolson mentioned that perhaps package.json could be a nice way to keep track of this stuff, and it could be then easily added to built files like the README, or phetmarks, or even binder's offshoot child.

MK:

[2019-06-27 21:09] zepumph commented on #96
I'm not seeing where the above was commented. I don't see it in the code review checklist or design patterns doc. Furthermore, I feel like the piece of this issue I really wanted documented was about how to extend in default options and options set by that component at the same time, the ladder should be asserted that it isn't passed in. Note that for https://github.com/phetsims/scenery-phet/issue

[2019-06-27 21:27] zepumph commented on #96
Note https://github.com/phetsims/scenery-phet/commit/8302c084b3569b06a71ccff4180d6d10aa16413b#diff-22cf8008e26ed989c8977040d76d6913R171, and that it may be changed depending on this issue.

[2019-06-27 21:43] zepumph commented on #96
If there was just one option that the component sets itself, I kinda like just using assignment instead of a second extend call, like so:
[code]

[2019-06-27 22:33] zepumph commented on #108
We discussed this today during dev meeting, and came up with the following proposal and plan to move forward. We came up with a sort of sliding scale based on the complexity that is needed. Note that as part of this we are more strict one when we allow `{Object}` as acceptable documentation. It is often too vague.

**Choice 1**: When the documentation is close by, then {Object} is still acceptable

[2019-06-27 22:34] zepumph commented on #107
We discussed this today during dev meeting, and came up with the following proposal and plan to move forward. We came up with a sort of sliding scale based on the complexity that is needed. Note that as part of this we no longer accept `{function}` as acceptable documentation. It is too vague.

1. Most basic option it to use Google Closure Type syntax, for more info see https://github.com/google/c

[2019-06-27 23:42] pixelzoom commented on #96
@zepumph Your example in https://github.com/phetsims/phet-info/issues/96#issuecomment-506522956 is impossible to evaluate.  If the`options` Object that was passed into the constructor, that is a problem, since that Object could be used elsewhere.

Example:

[code]

And that is about the only thing that you really need to be concerned with wrt options: Be careful not to modify an options Object tha

[2019-06-27 23:52] pixelzoom commented on #96
@zepumph said:

See https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-and-config:

[2019-06-28 04:14] samreid commented on #100
During today's meeting, we also discussed that using package.json is a good fit for repos, but will not scale to a file-by-file basis (say, for reporting who is responsible for AccordionBox).  But if we standardize a machine-readable syntax for this in package.json, we could also reuse it in header jsdoc on a file-by-file basis.

[2019-06-28 18:45] zepumph commented on #91
Status on this issue from what I see. I don't think that I was involved in any further work with this. @jonathanolson did you meet with MB?

Even so, I see that `merge` is used in wave-interference, and the intro version is soon to be published. I'm unsure what needs to happen here to make this production worthy, or at least it would be good to get on the same page about it's usability. Marking fo

[2019-06-28 22:24] samreid commented on #91
@zepumph volunteered to review merge and its usages and unit tests.  That will put us in a better position to understand what the next steps are.

[2019-06-29 02:19] samreid commented on #91
Also, in review @chrisklus and @zepumph and I looked at code with `merge` and without `merge` and agreed `merge` is so much nicer it is worth the trouble to get it into the mainstream.

[2019-07-03 00:49] zepumph commented on #91
From the review:

* Should we allow this case?

[code]
Since xOptions, is null it fails the type check validation. I ran into this in a pattern in `INVERSE_SQUARE_LAW_COMMON/ISLCObjectNode` and `NumberControl`. Where it is nice merge after an extend call so the merge can use some of the parent options. I think we may want to either set to an empty object, or just omit this nested options object fr

[2019-07-05 16:22] jbphet opened #110 "Should listeners match the API or exclude unused parameters?"
During the Gas Properties code review (see https://github.com/phetsims/gas-properties/issues/111), I flagged several functions defined in `link` statements for having unused parameters.  For example,

[code]

In response, @pixelzoom said over Slack:

I have been omitting unused function parameters in cases such as these, partly because they get flagged by IntelliJ, but more importantly because I t

[2019-07-11 16:34] pixelzoom commented on #96
Looking through the above comments and what is done in practice, I think that "best practices" can be condensed to the 3 points below.  TODO add examples.

(1) Don't modify an `options` object that you don't own.   If you own the `options` object, then direct assignment to an `options` field is OK.  If you don't own the `options` object, use `_.extend`, to assign a field value, which creates a new

[2019-07-11 16:46] zepumph commented on #96
(4) Options as an `Object` should never have an extra prototype. We may be able to check this in `merge` since we own that code.

[2019-07-18 19:30] ariel-phet commented on #100
We need a more maintainable process (preferably automated) that accomplishes this goal.

[2019-07-18 19:30] #100 closed

[2019-07-30 16:11] zepumph commented on #91
In the above commit I added support for optional options objects to be passed as sources. I also added tests for that. Basically it works by ignoring any source that is `undefined`, but it would assert out if a source was `{null|string|number|etc}`.

[2019-07-31 16:28] pixelzoom opened #111 "remove comprehensive performance test from code-review checklist"
From the code-review checklist:

Imo, this should be revised or removed from the checklist.  As a reviewer, I don't have the time or resources to be able to test "across the range of supported platforms".   In general, this should be done well before code-review, and documented in a GitHub issue.

Assigning to @ariel-phet to prioritize and assign.

[2019-07-31 16:44] pixelzoom opened #112 "redundant stringTest in code-review checklist"
These 2 code-review items seem redundant. Collapse to one?

[2019-07-31 17:08] ariel-phet commented on #111
@pixelzoom feel free to remove, I think this is a bit vestigial from when we had some issues with "clock speed" of the sim with things like Energy Skate Park (it varied greatly in seeming speed of the model).

However, with the thorough QA processes we have in place these days, I agree this item is no longer relevant since QA will evaluate such issues in the dev testing cycle.

Feel free to remove

[2019-07-31 17:21] ariel-phet commented on #112
@pixelzoom I actually think these could be removed. Such string tests are often done by the designer, and really this testing should be the responsibility of QA. These tests definitely get done during RC testing, but really we should move them to be done during the dev testing phase. (I have asked @KatieWoe to make this change in the dev testing template)

Generally our process has been a thorough

[2019-08-01 16:25] pixelzoom commented on #112
While I agree, I want to point out that as recently as 3 days ago, I did a code review and discovered string that had not been instrumented, see https://github.com/phetsims/wave-interference/issues/414#issuecomment-516079304.   So unfortunately I think that `stringTest` should be checked by the reviewer.  I'm going to combine the 'x' and 'X' tests and call it good for now.

[2019-08-01 21:15] pixelzoom commented on #112
Done, closing.

[2019-08-01 21:15] #112 closed

[2019-08-01 21:18] pixelzoom commented on #111
@ariel-phet FYI, I change the above checklist item to this:

Closing.

[2019-08-01 21:18] #111 closed

[2019-08-08 19:18] zepumph commented on #91
From developer meeting today

No we don't allow that case, `*Options` values must be objects.

Have an extend call first which merge all options used in other options, and then use those in the below merge.

[code]

* rename: `mergeOptions`, `mergePhetOptions`, `phetMerge`. Something that should be clear that merge is only recursive for '*Options' keys. Straw poll indicates `mergeOptions` is the w

[2019-08-09 20:29] pixelzoom opened #113 "revise phet-code-style.xml for WebStorm 2019.2 ?"
On 7/26/19 in Slack dev-public, @samreid said:

Are you referring to WebStorm 2019.2 ?

Does phet-code-style.xml need to be updated?

[2019-08-09 20:30] pixelzoom commented on #113
I just updated to WebStorm 2019.2 and I'm seeing this problem, so I'm guessing that the answers are "yes" and "yes".

[2019-08-09 20:34] pixelzoom commented on #113
In case anyone else needs to go hunting for this, "check that option in the formatter" refers to this checkbox in Preferences > Editor > Code Style > JavaScript:

![prefs](https://user-images.githubusercontent.com/3046552/62807492-c2ffcd80-bab2-11e9-8a68-fa9f1ccc3fa0.jpg)

[2019-08-09 20:39] pixelzoom commented on #113
After checking the "Array brackets" checkbox and exporting phet-code-style.xml, here's the patch.  I did not push because there are changes that look suspect, or at least unfamiliar to me.
[code]

[2019-08-09 20:56] samreid commented on #113
I'm using IDEA 2019.2 and had to toggle the checkbox you mentioned.  I did not check in my changed style xml.

[2019-08-09 21:03] samreid commented on #113
That is an odd diff, it seems it just adds `version=0` and a whitespace.

[2019-08-09 21:34] pixelzoom commented on #113
Yes, I thought it was odd too.  I'm wondering if there's something weird about their HTML parser that requires a space before "/>".

[2019-08-09 21:35] pixelzoom commented on #113
Labeling with meeting:developer for a PSA, and to see if we should change phet-code-style.xml.

[2019-08-09 21:40] samreid commented on #113
+1 to change.  Only reason not to change is if it breaks things for 2019.1 or earlier users.  But in that case we should just ask them kindly if they can upgrade.

[2019-08-09 21:45] pixelzoom commented on #113
Updated in above commit.  Announcement in Slack dev-public channel:

Closing.

[2019-08-09 21:46] #113 closed

[2019-08-15 18:42] jonathanolson commented on #96
We'll discuss at next developer meeting to discuss who could put this into the patterns doc.

[2019-08-21 21:45] pixelzoom commented on #96
Everything herein presumably also applied to config.  So I'll change the title of this issue to reflect that.

[2019-08-22 19:07] chrisklus commented on #107
From 08/22/19 dev meeting - no objections! This sliding scale sounds great. @zepumph is going to add a condensed version of this to the code review checklist.

[2019-08-22 19:13] chrisklus commented on #108
from 08/22/19 dev meeting - all sounds good, @zepumph will proceed with these in the code review checklist

[2019-08-23 01:24] zepumph opened #114 "Review "how to outfit a sim with interactive descriptions" document"
From https://github.com/phetsims/tasks/issues/980, @ariel-phet and the team discussed that there is a fair bit of knowledge not written down about how we go about adding accessible features to a simulation, and to common code components.

We already have https://github.com/phetsims/a11y-research/blob/master/doc/how-to-make-a-sim-accessible.md, which is much more in depth than I thought it was, but

[2019-08-23 06:02] jessegreenberg commented on #114
That sounds like a great idea. Was there a time frame mentioned for this on the heels of phetsims/tasks#980?

[2019-08-23 17:04] zepumph commented on #114
The time frame was that PhET-iO should be first. Not sure any more specifics. Perhaps we can discuss this more next a11y dev meeting.

[2019-08-29 19:27] Denz1994 commented on #96
From dev meeting: 08/29/19

@Denz1994 will handle the discussion of the phet-software pattern for this topic and will flesh out the doc.

Potentially 09/23/19 will be the date for discussion. Look at issue  https://github.com/phetsims/phet-info/issues/88 for more details.

[2019-09-05 18:26] samreid commented on #88
@Denz1994 said he will present regarding options/config some time after Strategy pattern.

[2019-09-09 23:53] zepumph commented on #91
Alright the above has been implemented. As per the discussion in developer meeting from August 8th, merge is ready for mass consumption. Marking on developer meeting as a PSA. Hopefully we can discuss how this function plays into our options strategy as part of the options/config design pattern discussion coming up.

[2019-09-14 00:59] zepumph commented on #114
Today I took a first pass at this. I also moved it over to phet-info, that felt better. Still todo:
- [ ] @jessegreenberg make a pass
- [ ] Add an outline at the top
- [ ] Probably something else.

@jessegreenberg please read with the following questions in your mind:
* Is the scope of this document correct
* Where could we add more, useful examples
* Does it flow as expected?
* Are there any larg

[2019-09-19 18:24] Denz1994 commented on #91
Discussed at dev meeting: 09/19/19

Merge() is fully operational and we can decide how to use this in the next software design pattern meeting.

Assigning to @jbphet to read through and close.

[2019-09-27 19:23] jbphet commented on #91
Thanks.  I've read through and ingested the information, and we can finalize how PhET uses `merge` in the next Software Design Pattern meeting (as @Denz1994 notes above).  Closing.

[2019-09-27 19:23] #91 closed

[2019-10-01 14:46] Denz1994 opened #115 "How should required config fields be initialized?"
During the discussion of the phet-software pattern on 09/30/19, it was brought up that default values for the required fields in a `config` object should be standardized. Currently, we have cases that opt into using ```null``` as a default value. See wave-interference [Scene.js](https://github.com/phetsims/wave-interference/blob/master/js/common/model/Scene.js)  as an example.

CM: Mentioned that

[2019-10-01 15:03] Denz1994 opened #116 "How should required config fields be documented?"
As part of the discussion on the phet-software patterns on 09/30/19, we should standardize documentation for the required fields in a config object. Looking at the config object in [WaveInterferenceTimerNode.js](https://github.com/phetsims/wave-interference/blob/master/js/common/view/WaveInterferenceTimerNode.js), it was suggested by @pixelzoom, documentation for required fields may look something

[2019-10-01 15:11] Denz1994 commented on #116
Also, keep in mind we have a pattern for documenting required arguments in JSDoc.

[code]

Can we adopt this style if we substitute ```@param``` for ```@required```?

[2019-10-01 15:30] pixelzoom commented on #115
To elaborate a bit more... The question is how (or whether) required `config` fields should be initialized.   There is currently no convention, and below are some examples in production code.  None of these examples meets PhET code standards.

(1) `AreaScreenView` provides a default value, but fails to verify that the client provided it.
[code]

(2) `WaveInterferenceTiimerNode`  leaves initial val

[2019-10-01 15:34] pixelzoom commented on #115
More examples:

(4) `PROPORTION_PLAYGROUND/SceneNode` invents annotation `@required` to indicate which fields are required.  It uses `null` as the default value, which is not generally appropriate.  It tests for truthy, to identify value that have not been provided by the client.

[code]

[2019-10-01 15:44] pixelzoom commented on #116
See https://github.com/phetsims/phet-info/issues/115#issuecomment-537092579 for examples of how config fields are documented in production code.

[2019-10-01 15:49] pixelzoom commented on #116
Another point that was discussed in this meeting...

* Should we indicate which fields are required, which fields are optional, or (unlikely) both?   This will probably be dictated by whether there are typically more required or optional fields in a `config`.

* I was surprised to hear other developers say that they typically have more optional fields in a `config`, which leads me to wonder gif `c

[2019-10-01 15:53] pixelzoom opened #117 "Guidelines for when to use config vs constructor parameters"
Related to #115 and #116.  From 9/30/19 core hours meeting, and in https://github.com/phetsims/phet-info/issues/116#issuecomment-537100926, I said:

I also mentioned that the advantage of using required constructor parameters is that the `@param` annotation works nicely, and there is no issue of how to initialize the parameter.

So perhaps we need to revisit the guidelines on when to use `config`

[2019-10-01 16:38] pixelzoom commented on #117
In 9/30/19 meeting, I also mentioned that I have yet to use the `config` pattern, and I suspect that it's being overused (or possibly abused) in order to avoid constructor parameters.

Below are the general forms of using `@param` vs config for required parameters. I see no advantage to using `config`, and would appreciate it if proponents of this pattern pointed out the advantage here.  The big d

[2019-10-01 16:45] pixelzoom commented on #110
9/25/19 discussion about this on Slack with @jbphet:

Chris Malley 11:11 AM
In the not-too-distant past, you advocated not including unused parameters in callbacks.  How do you feel about this case?
[code]

John Blanco:office: 11:13 AM
To me, that code is perfectly clear - it is triggered by changes to the three properties in the list but doesn't need the third on in the handler.  So yes, I'd pref

[2019-10-01 16:48] pixelzoom commented on #80
Assigning to @ariel-phet. He assigned this high priority on 7/13, and it's still open.

[2019-10-01 16:49] pixelzoom commented on #76
@zepumph is this issue still relevant?  And I'm not sure what changes you're asking for above.

[2019-10-01 16:54] pixelzoom commented on #59
There is already an item in the CRC.  It was added by @samreid on 12/1/17.  The commit message does not indicate that it was added to address this issue.

Adding these to bad-text.js lint rule seems problematic, since we may use those tokens elsewhere.

[2019-10-01 16:55] pixelzoom commented on #59
Having a code-review item seems to have been sufficient for the past 2 years, so I propose that we close this issue and take no further action on the lint rule.

[2019-10-01 16:56] pixelzoom commented on #14
This is so old that I'm just going to close it.

[2019-10-01 16:56] #14 closed

[2019-10-01 16:57] zepumph commented on #59
I agree, but also thought I'd mention that there is bad text for only sims if you want to investigate adding them there.

I'm a proponent of more list rules and less checklist items. This is both for Devs that have been here for ages, but also in helping the onboarding process.

[2019-10-01 17:03] pixelzoom commented on #59
I agree that lint rules are preferred in general.  I do not agree that they are always worth the cost in practice, or in this specific case.

[2019-10-01 17:08] jonathanolson commented on #80
I'm checking through what I need to change further.

[2019-10-01 17:26] jonathanolson commented on #80
Updated documentation says:

If following from the (newer) directions, this would be avoided.

There is now an improved check for VPN that should fail out with a better message first.

I'm not sure how that works, if you have an unclean package.json then it should fail out with these initial checks:

[code]

I've added the following documentation:

I believe that's best, as I don't particularly wa

[2019-10-01 17:30] pixelzoom commented on #80
Looks good, I think you've addressed everything.  Closing.

[2019-10-01 17:30] #80 closed

[2019-10-02 22:16] zepumph commented on #76
This was fixed by https://github.com/phetsims/phetmarks/issues/25. Thanks @pixelzoom.

[2019-10-02 22:16] #76 closed

[2019-10-03 17:22] zepumph commented on #110
I think that I am with @jbphet on this. Because @pixelzoom's argument in for the first snippet:

[code]

Is incomplete, because there are two other params that you aren't adding after the "value" arg. From Property._notifyListeners:

       this.changedEmitter.emit( this.get(), oldValue, this );

 Furthermore if we decide to add a fourth do we then have to go to all `link` calls and add an unused

[2019-10-03 19:07] pixelzoom commented on #59
10/3/19 dev meeting:

@zepumph is going to check for these in bad-text.js:

`window.setTimeout`
`setTimeout`
`window. setInterval`
`setInterval`

[2019-10-03 19:15] zepumph commented on #59
See also https://github.com/phetsims/chipper/issues/737 if a regex is easier (I don't think it will be).

[2019-10-03 19:20] pixelzoom commented on #110
10/3/19 dev meeting:

I reiterated what I said above about WebStorm flagging unused params:

Consensus was to leave up to developer discretion.

[2019-10-03 19:30] pixelzoom commented on #110
Here's what was added to the CRC:

- [ ] Putting unused parameters in callbacks is up to developer discretion, as long they are correct wrt to the actual callback signature.

For example, both of these are acceptable:

[code]

This is not acceptable, because the 3rd parameter is incorrect.

[code]

[2019-10-03 19:30] #110 closed

[2019-10-08 00:06] pixelzoom opened #118 "bad link to QA Book in sim_new_checklist.md"
[sim_new_checklist.md](https://github.com/phetsims/phet-info/edit/master/checklists/sim_new_checklist.md) contains this item:

The link goes to `qa-book.md#screenshots`, which (as far as I can tell) does not exist.

Not sure who the appropriate person to assign this to is, so I'll start with @KatieWoe, since it involves the QA Book.

[2019-10-08 04:08] ariel-phet commented on #94
This appears to be done https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md

[2019-10-08 04:08] #94 closed

[2019-10-08 04:11] ariel-phet opened #119 "Potentially streamlining CRC and moving multiple items to new "conventions" doc"
We have gone back and forth on this question a bit in the past, moving items into the CRC and then the CRC getting quite long.

@pixelzoom had brought up the possibility of moving multiple items to a sub-document that captures coding conventions that most people know after being at the project awhile, but could still be used for reference.

We should discuss if we want to take this step and what t

[2019-10-08 12:29] samreid opened #120 "Clean up references to the PhET Development Overview google doc"
In https://github.com/phetsims/phet-info/issues/94 we converted the PhET Development Overview from a google doc to a MD file.  In order to complete this transition, we should take steps like the following:

* Change the content of the google doc to basically be a pointer to the MD file, http://bit.ly/phet-html5-development-overview and http://bit.ly/phet-development-overview, I'm not sure if there

[2019-10-08 14:37] KatieWoe commented on #118
I just clicked the link and it works fine for me.

[2019-10-08 18:03] pixelzoom commented on #118
@KatieWoe what browser are you using?

On Safari 13.0.1, I see "Screenshots" section (if I don't blink) and then it immediately scrolls to the section shown below.  Then I have to scroll down half-page to see the "Screenshots" section.

<img width="1084" alt="screenshot_1574" src="https://user-images.githubusercontent.com/3046552/66420635-79086a80-e9c3-11e9-99c1-e44ed5f2da26.png">

[2019-10-08 18:04] pixelzoom commented on #118
Works fine for me on macOS + Chrome, and macOS + Firefox.

[2019-10-08 18:06] KatieWoe commented on #118
Win 10 Chrome

[2019-10-08 18:07] KatieWoe commented on #118
It sounds like a github problem to me, but I can look a bit more in depth when the repo is less full.  Doesn't seem to be more than an inconvenience right now.

[2019-10-08 18:23] pixelzoom commented on #118
All of the links in [code_review_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) function correctly, as do most of the links in the QA book.  So it's not a general problem with links.

The links that are broken in the QA book appear to be the 3 links that start with "Screenshot":

**Screenshots* https://github.com/phetsims/QA/blob/master/doc/qa-

[2019-10-08 18:23] #118 closed

[2019-10-17 02:12] pixelzoom commented on #119
I don't find the current length of the CRC to be a problem.  But that's because I've done a lot of PhET code reviews, I helped write the CRC, and I'm very familiar with related topics like PhET coding conventions. So I don't have to read every item in the checklist, and can pretty much blaze through it.  For a "self" code review, I can get through the entire checklist in < 1 hour.  When reviewing

[2019-10-17 02:17] pixelzoom commented on #120
FYI, just about every implementation-notes.md that I've written contains a link to the Google doc. For example, see https://github.com/phetsims/gas-properties/blob/master/doc/implementation-notes.md.

[2019-10-17 19:23] pixelzoom commented on #88
10/17/19 dev meeting:  We'll continue with options/config (starting with issues #115, #116, and #117) during 10/28/19 core hours.

[2019-10-17 19:27] pixelzoom commented on #115
10/17/19 dev meeting:  To be discussed during continuation of options/config pattern at 10/28/19 core hours.

[2019-10-17 19:27] pixelzoom commented on #116
10/17/19 dev meeting:  To be discussed during continuation of options/config pattern at 10/28/19 core hours.

[2019-10-17 19:27] pixelzoom commented on #117
10/17/19 dev meeting:  To be discussed during continuation of options/config pattern at 10/28/19 core hours.

[2019-10-24 19:30] samreid commented on #120
I'll work on these steps.  We decided we do not update the bit.ly references, but we will update the contents of those pages.

Also a reminder to double check on the following:
* simula rasa
* the google group, make sure the description on the google group is updated.

[2019-10-24 19:44] oliver-phet commented on #120
Oops, looks like I can't update that link. @chrisklus or @mattpen can you update the 'PhET Development Overview' to link to https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md

[2019-10-24 21:11] mattpen commented on #120
This was fixed on the website in cd0f1b948df3c3e1929ab53a0871515f3c3c9b14.  This will be deployed within the next week or so.

[2019-10-24 23:20] samreid commented on #120
I updated all references to the bit.ly link to point to the MD file.  The last step is to replace the contents of http://bit.ly/phet-development-overview with contents that match http://bit.ly/phet-html5-development-overview.  However, I do not have write permission for http://bit.ly/phet-development-overview.  @oliver-phet or others, do you know who can edit this google doc?  I also sent an edit

[2019-10-25 14:36] oliver-phet commented on #120
http://bit.ly/phet-development-overview has been updated.

[2019-10-25 23:07] zepumph commented on #96
I'm unsure if this is the appropriate place for this, but I wanted to mention a pattern that I really like.

Using three objects in a merge/extend where the first are overwritable defaults, the second are passed in options, and the third are required non overridable options set by the class itself.

`somePanelOptions = merge( {}, MyConstants.DEFAULT_PANEL_OPTIONS, { /* a few options specific to so

[2019-10-30 21:10] pixelzoom commented on #88
10/31/19 core hours meeting was rescheduled to 11/4/19.

[2019-10-31 19:11] chrisklus commented on #119
@pixelzoom is going to do a first pass and add annotations to indicate which items do not need as much attention.

[2019-11-02 15:49] pixelzoom opened #121 "order of args for merge"
Adding to the discussion of the `options/config` design pattern in #88

I encountered this anti-pattern in https://github.com/phetsims/projectile-motion/issues/197#issuecomment-549055000, and it's not the first time that I've seen it:

[code]

The problem here is the order of args to `merge`. It makes it possible for a change to `SomeConstants.SOME_CLASS_OPTIONS` to unintentionally change the beha